{% extends "base.html" %}
<meta charset="UTF-8"> <!-- for HTML5 -->
<!-- The block items for this base html file is: {nav_sub, left_frame,menu,content } -->
<!-- since 190720 | derived from 190720 -->

{% block nav_sub %}

    <a id="a_nav" href="./data/data_api.html"> </a> >>
    <a id="a_nav" href="./data/data_api.html"> </a> >>
    <a id="a_nav" href="./data/data_api.html"> </a> >>
    
{% endblock nav_sub %}

{% block left_frame %}




{% endblock left_frame %}

{% block menu %}


{% endblock menu %}


{% block content %}
<p>数据日志：管理数据的更新和维护过程。  </p>

<h3>数据日志维护 | Data Log</h3>
<hr>
<!-- todo:1,维护 -->
<p>{......} </p>

<h3>数据接口 | Data API</h3>
<hr>
<p>{......} </p>

<h3>数据库 | Database</h3>
<hr>
<p>{......} </p>


<h3>自定义数据 | Custom Data</h3>
<hr>
<p>{......} </p>

{% endblock content %}
