{% extends "base.html" %}
<meta charset="UTF-8"> <!-- for HTML5 -->
<!-- The block items for this base html file is: {nav_sub, left_frame,menu,content } -->


{% block nav_sub %}

    <a id="a_nav" href="./data/data_api.html">数据接口 | Data API</a> >>
    <a id="a_nav" href="./data/data_api.html">数据库 | Database </a> >>
    <a id="a_nav" href="./data/data_api.html">自定义数据 | Custom Data</a> >>
    <br>
    <a>Database：</a>
    <a id="a_nav" href="./db_wind_wds/log_191118.html">Wind-Oracle | Wind-WDS</a> >>
    <a id="a_nav" href="./knowledge/data_study_postgresql.html">数据库学习:PostgreSQL</a> >>
    
    
{% endblock nav_sub %}

{% block left_frame %}




{% endblock left_frame %}

{% block menu %}


{% endblock menu %}


{% block content %}
   
<h3>数据接口 | Data API</h3>
<hr>
<p>{......} </p>


<h3>数据库 | Database</h3>
<hr>
<p>{......} </p>

<h4>1,Wind落地数据库windn | db_wind_wds Oracle</h4>
<p>
数据日志文件及位置：./db_wind_wds/log_191118.html
</p>



<h3>自定义数据 | Custom Data</h3>
<hr>
<p>{......} </p>

{% endblock content %}
