{% extends "base.html" %}
<meta charset="UTF-8">
<!-- for HTML5 -->
<!-- The block items for this base html file is: {nav_sub, left_frame,menu,content } -->


{% block nav_sub %} 人工智能模型和相关研究：
<br>
<a id="a_nav" href="./ai_index.html">人工智能模型和算法</a> >>
<a id="a_nav" href="./ai_index.html">基于Python的人工智能模型框架 | </a> >>
<a id="a_nav" href="./ai_index.html">AI数据管理 | </a> >>
<a id="a_nav" href="./ai_index.html">指标：标签、特征 </a> >>
<br>
<a id="a_nav" href="./ai_index.html">函数和算法 |</a> >>
<a id="a_nav" href="./ai_index.html">策略选择和动态评估 |</a> >>
<a id="a_nav" href="./ai_index.html">最优化 |</a> >>
<a id="a_nav" href="./ai_index.html">投资组合和调仓 |</a> >>
<a id="a_nav" href="./ai_index.html">组合绩效和归因分析 |</a> >> {% endblock nav_sub %} {% block right_frame %}

<!-- Menu in right frame -->
<!-- ---------------------------------------------------------- -->
<h1><a href="#title"> 人工智能模型和相关研究 </a></h1>
<h3>目录</h3>
<ul>
    <li><a href="#ai_model_algo">1，人工智能投资模型和算法</a></li>
    <li><a href="#ai_model_frame">2，基于Python的AI投资框架 </a></li>
    <li><a href="#ai_model_fund">3，主动基金组合仿真模型 </a></li>
    <li><a href="#ai_port_performance">4，AI投资评价和规划 </a></li>

</ul>
<h4>子目录：3，主动基金组合仿真模型</h4>
<ul>
    <li><a href="#ai_data_manage">3.1，AI_invest:数据管理 </a></li>
    <li><a href="#ai_indicator_tag">3.2，AI_invest:指标：因子、标签、特征</a></li>
    <li><a href="#ai_func_algo">3.3，AI_invest:函数和算法 </a></li>
    <li><a href="#ai_stra_evaluation">3.4，AI_invest:策略选择和动态评估 </a></li>
    <li><a href="#ai_optical">3.5，AI_invest:最优化 </a></li>
    <li><a href="#ai_portfolio_trade">3.6，AI_invest:投资组合和调仓 </a></li>
    <li><a href="#ai_port_performance">3.7，AI_invest:组合绩效和归因分析 </a></li>
</ul>
<h4>子目录：1，人工智能投资模型和算法</h4>
<ul>
    <li><a href="#check_anndates_all">aaa </a></li>
    <li><a href="#check_wds_single_table">bb </a></li>
</ul>
<h4>子目录：2，基于Python的AI投资框架</h4>
<ul>
    <li><a href="#check_anndates_all">aaa </a></li>
    <li><a href="#check_wds_single_table">bb </a></li>
</ul>
<h4>子目录：4，AI投资评价和规划</h4>
<ul>
    <li><a href="#check_anndates_all">aaa </a></li>
    <li><a href="#check_wds_single_table">bb </a></li>
</ul>
{% endblock right_frame %} {% block left_frame %}

<!-- Menu in left frame -->
<hr>
<!-- ---------------------------------------------------------- -->
<h1 id="title">人工智能模型和相关研究 </h1>
<p>学习、模仿、设计、构建、分析、改进人工智能投资模型</p>
<hr>
<h3>目录</h3>
<ul>
    <li><a href="#ai_model_algo">1，人工智能投资模型和算法</a></li>
    <li><a href="#ai_model_frame">2，基于Python的AI投资框架 </a></li>
    <li><a href="#ai_model_fund">3，主动基金组合仿真模型 </a></li>
    <li><a href="#ai_data_manage">3.1，AI_invest:数据管理 </a></li>
    <li><a href="#ai_indicator_tag">3.2，AI_invest:指标：因子、标签、特征</a></li>
    <li><a href="#ai_func_algo">3.3，AI_invest:函数和算法 </a></li>
    <li><a href="#ai_stra_evaluation">3.4，AI_invest:策略选择和动态评估 </a></li>
    <li><a href="#ai_optical">3.5，AI_invest:最优化 </a></li>
    <li><a href="#ai_portfolio_trade">3.6，AI_invest:投资组合和调仓 </a></li>
    <li><a href="#ai_port_performance">3.7，AI_invest:组合绩效和归因分析 </a></li>
    <li><a href="#ai_port_performance">4，AI投资评价和规划 </a></li>

</ul>

{% endblock left_frame %} {% block menu %} {% endblock menu %} {% block content %}



<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ai_model_algo">1，人工智能投资模型和算法 </h3>
<p>

</p>
<h4>子目录</h4>
<ul>
    <li>研究计划和待办事项TODO </li>
    <li> </li>
</ul>
<h4>研究计划和待办事项TODO</h4>
<ul>
    <li>1，学习华泰金工人工智能系列报告 </li>

</ul>






<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ai_model_frame">2，基于Python的AI投资框架 </h3>
<p>

</p>
<h4>子目录</h4>
<ul>
    <li>研究计划和待办事项TODO </li>
    <li>Python 模块：ciss_ai建模 </li>
</ul>

<h4>研究计划和待办事项TODO</h4>
<p>

</p>


<h4>Python 模块：ciss_ai建模</h4>
<p>设计：测试文件脚本 ..\CISS_rc\apps\portfolio_simulation\
    <br> 正式文件ai_engine.py 放置位置 \CISS_rc\bin ；
    <br>bin目录内已经有funds、portfolio、strategy等多个脚本；

</p>

<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ai_model_fund">3，主动基金组合仿真模型 </h3>
<p>当前进度：分别梳理市场和行业指数、个股类数据、基金数据。
    <br>
</p>

<h4>子目录</h4>
<ul>
    <li>研究计划和待办事项TODO </li>
    <li>原始数据分类 </li>
</ul>

<h5>论文&工作计划：基金数据模型： </h5>
<ul>
    <li>1,基准指数：
    </li>
    <li>1，背景和已有研究成果：；
    </li>
    <li>1.1.1， file="20190305-天风证券-天风证券基金专题报告：自上而下的行业配置专家，农银汇理基金经理张峰.pdf"
    </li>
    <li>1.1.2，光大FOF系列基金研究的报告
    </li>
    <li>2，数据和分析模型：2.1,数据{市场指数、行业指数、个股}，2.2,指标和因子计算，2.3,优化模型，2.4，组合调整；2.5配置模型，2.9绩效和归因分析；...
    </li>
    <li>3.1.0,数据介绍：200506-201909的基金持仓每日变动跟踪模型
    </li>
    <li>3.1.1，数据-基准指数：对P14/35，T-M模型（TreynorandMauzy,1966）；与基准指数比较
    </li>
    <li>3.1.2，数据-行业和主题指数： P19/35 Brinson模型,行业和选股效应分析。与行业比较 ;风格指数：与巨潮风格或者其他风格指数比较，P24/35；
    </li>
    <li>3.1.3，数据-个股，todo,计算半年报非前10大重仓股，计算全部持仓股票的行业分布。个股： 分析持仓个股的盈利和持有时间；持股集中度：top10占比变动，和同类比较。
    </li>
    <li>3.2.1，经典指标：基本的统计指标：1.1，选风格+市场、选行业、选主题；1.2，计算区间收益率+累计+超额；
    </li>
    <li>3.2.2， 创新指标：用预测指标去计算成长、价值风格，可能会有领先效应？？卖方预测数据表建模 2.1，梳理卖方预测数据表，构建初步的股票池；股票池：基于逐日更新的卖方预测数据、买方历史（过去2年）持仓，避免全市场选股的不合理。
    </li>
    <li>3.2.3，拟合and仿真：
    </li>
    <li>3.3，算法：引入CART算法 2.1,BL\CART: 学习机器学习书里的CART算法，争取早点应用到BL资产配置论文里。 file_name = 19p1_beida_BL.doc file_path = C:\zd_zxjtzq\ciss_web\CISS_rc\apps\black_litterman\
    </li>
    <li>3.4，交易频率：单边换手率：
    </li>
    <li>3.5，资产配置：股票配置比例：看市场上涨和下跌时是否及时加减仓位。
    </li>
    <li>3.9,绩效和归因分析:最大回撤，夏普，calmar；以及指标的同类排名；月绝对收益、月超额收益分布。农银汇理策略精选在35个月中有22个月跑赢基准，月度胜率为62.8%。农银汇理行业领先在35个月中共有20个月跑赢基准，月度胜率为57.1%。
    </li>
    <li>3.1.2.2深圳证券信息公司发布的《巨潮风格系列指数编制方案》可知，大盘指数是从巨潮1000指数成份股中按照流通市值大小排序选取前200只股票构成的，小盘指数是从巨潮1000指数成份股中按照流通市值大小排序选取后500只股票构成的。价值因子是依据每股收益与价格比率、每股经营现金流与价格比率、股息收益率、每股净资产与价格比率四个变量计算风格Z值。成长因子是依据主营业务收入增长率、净利润增长率和净资产收益率三个变量计算风格Z值。不同风格指数则是依据大小盘和价值成长来两个维度来进行划分的。行业股票简称股票持有区间年化收益贡献区间最早出现日期区间最后出现日期持有期数食品饮料水井坊7.24%2017/03/312017/09/293食品饮料五粮液6.83%2016/12/302017/09/294食品饮料泸州老窖5.64%2017/03/312017/09/293食品饮料舍得酒业5.58%2017/06/302017/09/292机械华昌达4.67%2016/06/302016/09/302有色金属寒锐钴业3.22%2017/09/292017/12/292食品饮料贵州茅台3.02%2017/03/312018/09/287医药片仔癀2.86%2016/12/302017/03/312基础化工万华化学1.72%2017/12/292018/03/302建筑铁汉生态1.38%2016/09/302016/12/302食品饮料口子窖1.29%2017/03/312017/12/294电子元器件诺德股份1.28%2016/06/302016/09/302纺织服装歌力思0.54%2016/06/302016/12/303计算机广联达0.38%2018/03/302018/06/292电力及公用事业华能国际0.26%2018/03/302018/06/292房地产京蓝科技0.25%2016/09/302017/03/313医药恒瑞医药0.00%2018/03/302018/06/292房地产万科A-0.19%2018/06/292018/09/282餐饮旅游大连圣亚-0.25%2016/06/302017/06/305汽车新泉股份-1.29%2017/06/302017/12/293
    </li>
    <li>3.2.3.1,给定基金1，统计分析其每个交易日or周历史持仓数据的涨跌幅，按照预测算法计算模拟全部持仓的日or周持仓和交易行为
    </li>
    <li>3.2.3.2,给定季度，统计持仓行业、个股变动，并和前一季度的持仓变动对比，按照预测算法计算对应行业和个股的未来一季行为
    </li>
    <li>3,例子-计算过程：
    </li>
    <li>4，结论&exhi，
    </li>
    <li>4.1,行业轮动之基金重仓：根据中信一级行业的基金重仓股变动，构建28个一级行业组合;4.2,全市场"股票型"基金的每日持仓变动数据。
    </li>
    <li>4.3，"基金增持top50组合" 1.3，基金策略：把兴全趋势20191130的更新做一下，同时维护和改进原有的Excel模板，分析做成标准化模式需要的时间。
    </li>
    <li>4.4,基金持仓匹配指数成分——股票代码——时间：每日数据、周、月、季度；财务数据。</li>
</ul>

<p>经典多因子模型计算过程：
    <br> { 给定交易日,给定选样空间，例如沪深300指数成分； 给定交易日，计算以上因子指标，并进行行业标记、极值处理、标准化； 所有因子做行业中性化，市值以外因子做市值中性化； 因子做对称正交处理 |参考《因子正交全攻略 —— 理论、框架与实践【天风金工因子选股系列之六】》 个股超额行业收益滚动计算各因子12个月ICIR，作为各因子权重 手续费双边千三 }
</p>

<h4>原始数据分类</h4>
<p>
    1，个股基础数据；2，个股财务指标和预测数据；3，基金前10大持仓+15days；
    <br> 4，股票股东变动和权益事件等；5，产业链or主题归属等。
</p>


<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ai_data_manage">3.1，AI_invest:数据管理</h3>
<p>数据管理主要涉及股票、指数、基金几种资产的定量和定性数据。其中股票部分最重要的是将原始时间序列数据转化为因子指标数据，并研究其对未来股票价格的预测能力。 指数类数据主要用于构建投资基准组合。基金数据主要是通过定期披露的持仓数据，研究持仓股票或组合相对于基准的超额收益预测能力。
</p>

<table id="ciss_table">
    <caption>多因子基础模型：天风证券版本</caption>
    <tr id="table_tr">
        <th>序号</th>
        <th>关键词</th>
        <th>流程/步骤/功能</th>
        <th>脚本名称</th>
        <th>路径</th>
        <th>主要引用模块 </th>
    </tr>
    <tr>
        <th>1</th>
        <th>单因子有效性</th>
        <th>采用分组和相关性测试等方法测试单因子指标有效性</th>
        <th>test_1factor_performance.py</th>
        <th>\CISS_rc\apps\active_bm </th>
        <th> </th>
    </tr>
    <tr>
        <th>2</th>
        <th>因子指标计算</th>
        <th>根据wds数据计算因子指标</th>
        <th>test_calculate_factor_weight.py</th>
        <th>\CISS_rc\apps\active_bm </th>
        <th> </th>
    </tr>
    <tr>
        <th>3</th>
        <th>组合优化计算</th>
        <th>根据计算好的因子权重指标计算最优组合配置</th>
        <th>test_factor_model.py</th>
        <th>\CISS_rc\apps\active_bm </th>
        <th> </th>
    </tr>

</table>

<h4>主要步骤明细</h4>
<h4>步骤一：单因子有效性测试；test_1factor_performance.py</h4>
<p>

</p>


<h4>步骤二：因子指标计算；test_calculate_factor_weight.py</h4>
<p>经典多因子模型计算过程:
    <br>导入历史月份数据
    <br>判断是从第一期开始算还是已经计算部分日期之后继续计算
    <br>循环：
    <br>1,给定交易日,给定选样空间，例如导入沪深300指数成分
    <br>2,因子数据构建
    <br>2.1,获取所属行业分类|中信一级
    <br>2.2,获取流通市值,总市值，部分基本面指标| 包括日衍生行情所有指标数据
    <br>2.2,获取价格和成交量指标 |包括A股日行情所有指标数据
    <br>2.3,计算流通市值和市值标准分zscore
    <br>2.4,因子做对称正交处理
    <br>2.5,计算各因子12个月ICIR，作为各因子权重
    <br>2.5.1,对每只个股，计算IC单期的IC值；信息系数（Information Coefficient，简称 IC
    <br>2.5.2, 对每只个股，计算多期IC计算ICIR值，ic_ir= ic_miu/ic_std; Grinold的算法是IR=ic*sqrt(N)
    <br>2.5.3,根据IC_IR的值，计算股票i在因子k{1，2,...,K}上的因子权重
    <br>
</p>
<h4>步骤三：组合优化计算；test_factor_model.py</h4>
<p>经典多因子模型计算过程:
    <br>3，构建多因子基础模型：构建沪深300与中证500增强的基准策略。
    <br>目标方程
    <br>因子约束条件
    <br>行业暴露约束
    <br>个股相对于基准指数中权重暴露的上下限
    <br>总仓位的上下限
    <br>换手率限制
</p>

<hr>
<h4>研究计划和待办事项TODO </h4>
<p>1，分别在沪深300，中证500，中证1000中计算股票权重；注意3个指数的初始时间不同。

</p>

<hr>
<h4>市场指数、行业和主题指数 </h4>
<p>指数数据主要包括：指数价格行情、指数成分权重、指数调整与变动；
    <br>wds数据表：指数成分权重——table_name =AIndexHS300FreeWeight：
    <br>沪深300指数成分从20050228开始有数据：
    <br>中证800-000905-20070115、500-000906-20070131、1000-000852-20141031；
    <br>上证综指-000001-20110930；创业板-399006-20100630，深圳成指-399001-20090930，
    <br>由于沪深上市公司数量和结构在不断变动，因此不同时期市场基准指数可能会不同。基本上2005年至今沪深300是最有代表性的。

    <br>数据-行业和主题指数： P19/35 Brinson模型,行业和选股效应分析。与行业比较 ;风格指数：与巨潮风格或者其他风格指数比较，P24/35
</p>
<p>关于中信行业指数：
    <br> 中国A股中信指数成份股二级[AIndexMembersCITICS2] 从20030101开始，当日有1400家公司调入，之后临时调整
    <br> 需要建立中信行业二级指数——行业的一一对应表；建立二级和一级的对应表。
    <br>由于cs没有买中信行业指数日行情表，这也不在指数日行情里。
    <br>如果要计算，需要：1，给定日期区间，计算期初每个行业的成分；2，根据期初之前流通市值加权计算权重；3，计算区间指数收益
    <br>申万指数行情是有的，但是其个股成分变动似乎太慢、怕指数收益也会显得之后。
    <br>ana:Wind行业分类指数中国A股Wind行业指数日行情[AIndexWindIndustriesEOD] 里有比较全的1~4级行业分类
    <br>可以通过四级行业分类和中信一级、申万一级的一一对应关系，获得中信一级行业指数日行情
    <br>1，对某个中信一级行业，得到n个wind四级行业指数。
    <br>wind-api，定期抓取中信行业指数行情数据？
</p>

<hr>
<h4>股票数据：行业、价量、财务和财务预测数据</h4>





<hr>
<h4>基金数据 </h4>
<p>
    <br>难点：前10大重仓股对基金收益的描述能力取决于基金的持仓集中程度和非前十大重仓股的涨跌幅。
    <br>基准指数区间收益率、波动率、mdd等指标和基金的回归分析；P14/35，T-M模型（TreynorandMauzy,1966）；与基准指数比较
</p>



<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ai_indicator_tag">3.2，AI_invest:指标：因子、标签、特征</h3>
<h4>子目录</h4>
<ul>
    <li>研究计划和待办事项TODO </li>
    <li>股票价量指标和因子 </li>
    <li>股票财务和财务预测指标和因子 </li>
    <li>股票行业指标和因子 </li>
    <li>市场指数指标和因子 </li>
    <li>行业和主题指数指标和因子 </li>
    <li>基金指标和因子 </li>
</ul>

<h4>研究计划和待办事项TODO</h4>
<p>建模策略：初期只用最简单的涨跌幅和成交额，2个股票，从最简单的做起；
    <br> 关于付xx的抽样复制需要，可以用中信一级行业内价值锚+成长锚+成交额锚各1个股票来刻画。
    <br> 研究部乔总聊的分行业量化策略筛选股票+研究员协作：1，覆盖被忽视的潜力股；2，季度业绩加速增长。

</p>

<hr>
<h4>市场指数指标和因子 </h4>
<p>指数划分，其实和csi300匹配对应的是大盘股，csi500是中盘，csi1000才是小盘；更早几年应该用类似的比例划分：数量占比：大盘9%+中盘15%+小盘26%+超小股50%

</p>


<h4>股票价量指标和因子 </h4>
<p>


</p>


<h4>股票财务和财务预测指标和因子 </h4>



<h4>股票行业指标和因子 </h4>





<h4>行业和主题指数指标和因子 </h4>


<h4>基金指标和因子</h4>
<p>基金能力分析{参考光大-因子-主动权一}：行业：轮动能力、配置能力；个股：行业内选股能力、配置能力；
    <br>基金建模：持仓减去3种指数成分，看个股和行业的偏离，偏离比例超过30%才算主动基金，而不是以某种分类简单看待，要看具体的持仓。
    <br>csi300匹配对应的是大盘股，csi500是中盘，csi1000才是小盘

    <br>风格类因子： 1，市值：经典算法：半年度全部持仓个股的：持仓权重*ln( 流通股票市值 ) 之和=累计市值；
    <br>对于股票的市值纬度分类按照股票的流通股本总市值（COC,Circulation Of Capital）进行倒序排列，进行累计市值占全部市值比较计算，得到cumC
    <br>所有基金的累计市值中，排名75%以上的大盘股、【75，90】区间中盘股、尾部【90，100】的小盘股
    <br>基金的风格（价值、混合、成长）的确定：成长属性根据基金半年度、年度全部持股的均衡风格确定，即根据持股的风格系数确定基金的风格系数，从而得出基金的风格。
    <br>step1，计算标准分值 z_v_p,z_g_p,权重加权，后style_p= z_g_p - z_v_p ；前1/3 成长，均衡，后1/3价值。
    <br>数据来源：http://wds.wind.com.cn/rdf/?#/main | 中国A股股票风格系数[AShareStyleCoefficient] |说明



</p>




<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ai_func_algo">3.3，AI_invest:函数和算法</h3>
<p>
</p>

<h4>3.3.1,Barra多因子模型</h4>
<p>
    梳理卖方研报：
    <br> 1，国信证券：
    <br> 指数建模{指数增强和指数多因子}模型的基本知识，“国信证券-传统多因素模型及其在沪深300中的实证-100907.pdf”对BARRA模型、计量模型和多因子建模有比较好的介绍
    <br>

</p>




<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ai_stra_evaluation">3.4，AI_invest:策略选择和动态评估</h3>
<p>
</p>




<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ai_optical">3.5，AI_invest:最优化决策</h3>
<p>


    <br>idea:成长和价值策略：相对打分1：找出价值靠近价值锚、成长靠近成长锚的； 相对打分2：判断行业整体是否向好；行业内的集中度-越高越利于大公司，越低越利于小公司
</p>




<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ai_portfolio_trade">3.6，AI_invest:投资组合和调仓</h3>
<p>
</p>





<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ai_port_performance">3.7，AI_invest:组合绩效和归因分析</h3>
<p>
    <br>idea：现有模型t时间计算出配置比例后，直到t+1期间都不动了，一般有1个月-2个季度不等。
    <br> 那么这段时间内发生的价格显著变动也会是一个好的买入或卖出的机会。例如大跌时买，大涨时卖。

</p>




































<hr>
<p>{......} </p>
<hr>
<!-- ---------------------------------------------------------- -->
{% endblock content %}