{% extends "base.html" %}
<meta charset="UTF-8">
<!-- for HTML5 -->
<!-- The block items for this base html file is: {nav_sub, left_frame,menu,content } -->


{% block nav_sub %}

<a id="a_nav" href="./core_industry.html">核心产业链 |Core industry chain</a> >>
<a id="a_nav" href="./last_industry.html">最新产业链 |Lastest industry chain</a> >>

<br><a>细分产业链列表：</a>
<a id="ciss_menu" href="#industry_specific">特定行业软件 </a> >>
<a id="ciss_menu" href="#replacement">国产替代软件 </a> >>
<a id="ciss_menu" href="#fundamental">基础软件：系统和办公等 </a> >>
<a id="ciss_menu" href="#security">信息安全 </a> >>
<br><a>产业链模拟组合：</a>
<a id="port_pms" href="#port_simu_software_top30">软件产业链top30v200217 </a> >>
<br><a href="#ind_def_anchor_stock">细分领域锚个股</a> {% endblock nav_sub %} {% block right_frame %}


<!-- Menu in right frame -->
<!-- ---------------------------------------------------------- -->
<h1><a href="#location_title">软件产业链</a> </h1>
<h3>目录</h3>
<ul>
    <li><a href="#abstract">1，概要 </a></li>
    <li><a href="#industry_methodology">2，行业分类方法和产业链分析方法 </a></li>
    <li><a href="#sellside_reports">3，主要外部参考资料 </a></li>
    <li><a href="#inside_reports">4，内部研究报告&产业链列表 </a></li>
    <li><a href="#research_menu">5，产业链目录和研究计划 </a></li>
    <li><a href="#industry_db">6，产业链数据和数据库 </a></li>
    <li><a href="#industry_stra">7，产业链相关策略 </a></li>
    <li><a href="#industry_port">8，产业链相关组合和指数 </a></li>
    <li><a href="#industry_reference">9，参考信息和链接 </a></li>

    <li><a href="#ind_definition">1，获取产业链定义  </a></li>
    <li><a href="#ind_fundamental">2，产业链基本面数据   </a></li>
    <li><a href="#ind_data_standarded">3，标准化定性和定量数据 </a></li>
    <li><a href="#ind_table_columns">4，表格数据列设计  </a></li>
    <li><a href="#ind_maintainence">5，分析方案和数据表的定期维护机制。 </a></li>
</ul>
<h3><a id="ind_definition">软件产业链分析 </a></h3>
<ul>
    <li><a href="#ind_def_abstract">2020计算机行业概览：</a> </li>
    <li><a href="#ind_def_sub_chain">景气度提升的细分领域（子产业链）：</a> </li>
    <li><a href="#ind_def_anchor_list">软件行业市值龙头</a> </li>
    <li><a href="#ind_def_anchor_stock">软件行业锚个股</a> </li>

</ul>

<h3>细分产业链目录</h3>
<ul>
    <li><a href="#industry_specific">特定行业软件 </a></li>
    <li>
        <ul>
            <li><a href="#software_ind_finance">金融软件 </a></li>
            <li><a href="#software_ind_autosoft">汽车软件 </a></li>
            <li><a href="#software_ind_mobile">手机软件</a></li>
            <li><a href="#software_ind_corp_media">企业信息传播</a></li>
            <li><a href="#software_ind_medical">医疗行业软件</a></li>
            <li><a href="#software_ind_industrial">工业制造软件</a></li>
        </ul>
    </li>

    <li><a href="#replacement">国产替代软件 </a></li>
    <li><a href="#fundamental">基础软件：系统和办公等 </a></li>
    <li><a href="#security">信息安全 </a></li>
</ul>

<h3><a href="#ind_def_anchor_stock">细分领域锚个股</a></h3>
{% endblock right_frame %} {% block left_frame %}


<!-- Menu in left frame -->
<hr>
<!-- ---------------------------------------------------------- -->
<h1 id="location_title">软件产业链 </h1>
<p>软件产业链对应中信一级行业计算机，需要在A股中梳理出与其他行业相关的股票，把这些公司计入 对应产业链。并根据不同时期的最优预期收益，设计软件产业链组合。
    <br>2020年2月的重点是国产软件在不同行业的国产替代，主要的几个大领域有 ：基础和办公、行业软件、仿制、自主可控、安全。
</p>
<hr>
<h3>目录</h3>
<ul>
    <li><a href="#abstract">1，概要 </a></li>
    <li><a href="#industry_methodology">2，行业分类方法和产业链分析方法 </a></li>
    <li><a href="#sellside_reports">3，主要外部参考资料 </a></li>
    <li><a href="#inside_reports">4，内部研究报告&产业链列表 </a></li>
    <li><a href="#research_menu">5，产业链目录和研究计划 </a></li>
    <li><a href="#industry_db">6，产业链数据和数据库 </a></li>
    <li><a href="#industry_stra">7，产业链相关策略 </a></li>
    <li><a href="#industry_port">8，产业链相关组合和指数 </a></li>
    <li><a href="#industry_reference">9，参考信息和链接 </a></li>

    <li><a href="#ind_definition">1，获取产业链定义 </li>
<li><a href="#ind_fundamental">2，产业链基本面数据  </li>
<li><a href="#ind_data_standarded">3，标准化定性和定量数据</li>
<li><a href="#ind_table_columns">4，表格数据列设计 </li>
<li><a href="#ind_maintainence">5，分析方案和数据表的定期维护机制。 </li>
</ul>  
{% endblock left_frame %}

{% block menu %} 



<h3>细分产业链目录</h3>
<ul>
<li><a href="#industry_specific">特定行业软件 </a></li>
    <li><a href="#fundamental">基础软件：系统和办公等 </a></li>
    <li><a href="#replacement">国产替代软件 </a></li>
    <li><a href="#security">信息安全 </a></li>
</ul>

<h3><a href="#ind_def_anchor_stock">细分领域锚个股</a></h3>
{% endblock menu %} {% block content %}



<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="abstract">1，概要</h3>
<hr>
<p>{......}
    <br>对应文件：0跨行业的产业链组合_200213.xlsx
    <br>对应文件目录：C:\zd_zxjtzq\rc_reports_cs\行业分类_产业链量化
</p>


<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="industry_definition">产业链定义</h3>
<p>获取产业链定义：基于某个公司研究或行业研究报告、某个事件、Wind产业链分类等。
</p>
<h4 id="ind_def_abstract">2020计算机行业概览：</h4>
<p>
    当前所处阶段：商业化场景落地实现收入;细分领域龙头业务从1到N。
    <br>计算机产业发展周期：每一轮产升级周期：技术可行性论证+产品研发阶段资本投资+商业化场景落地实现收入+快速增长增加 +成熟期财务数据披露+衰退或改进期。
    <br>历史复盘：早期行业软件0-->1,行业基数小、竞争者少、增长较容易； 当前云计算基础设施晚上、发展方向明确、商业模式确定、客户群体带来正循环、头部企业资本实力强， 龙头企业增长更快。
    <br>估值提升因素：所处行业的成长性、天花板；公司产品或服务在行业内的竞争力；产品和商业模式变动。

    <br>数据来源：20191213_广发证券_行业策略深度_计算机_刘雪峰王奇珏郑楠庞倩倩_广发证券-计算机-刘雪峰-策略-计算机行业-2020年投资策略：新产业周期落地加速,中等市值龙头群体崛起-买入-2019-12-13.pdf
</p>


{% load static %}
<h5>图：计算机行业S型增长曲线</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\soft_s_growth_curve.png' %}" alt="" />
<p>source:广发证券-计算机-刘雪峰-策略-计算机行业-2020年投资策略：新产业周期落地加速,中等市值龙头群体崛起 </p>
<br>

<p>2010以来历史市盈率pe_ttm,201001，50;201208,25;201506,90;201812,35;202002,50。
    <br>2006，2007年计算机行业净利润快速增长，但跑输市场；上市公司36，40家且中位数市值50亿元，最大107亿。 2012年以后，净利润增速从35%下降至15%左右，但股价开始强于指数直到2015-6高点。 2017，2018年扣非归母净利润增速 &gt; 非归母净利润增速 &gt; 收入增速

</p>

<h5>图：计算机行业行情与盈利成长的相关性变化 </h5>
{% load static %}
<img src="{% static 'templates\ciss_exhi\industry\static\corr_price_growth.png' %}" alt=" " />
<p>source:广发证券-计算机-刘雪峰-策略-计算机行业-2020年投资策略：新产业周期落地加速,中等市值龙头群体崛起 </p>

<h5>历史行情</h5>
<p>行业的行情可以分为2009年以前；2014-2015年；2016年至2020年2月 </p>
<p>2009年前上市45家，：办公软件、金融信息化、政务信息化（电子政务）、酒店信息化、信息安全等16个细分子行业。 部分子行业仅有1家公司（如人工智能等）、部分子行业内的公司较多，如金融信息化、政务信息化、硬件等。 2009年-2019年12月9日，行业平均的涨跌幅达到548%；平均最大涨跌幅为1720%；平均最大回撤78%； 收入复合增速18%；净利润复合增速29%；板块股价表现看，人工智能、金融信息化的区间涨跌幅、最大涨幅表现出众。
    <br>其中仅外包业务涨跌幅弱于行业平均。但其中，类似政务信息化、 交通信息化主要受政府部门投资所决定，在早 期阶段，辅以我国大力基础建设的大环境，可以理解为该时期净利润增速大幅提升的缘由。


</p>
<h5>图：2009-2019年区间股价涨跌复盘 </h5>
{% load static %}
<img src="{% static 'templates\ciss_exhi\industry\static\software_period_change_2009_2019.png' %}" alt=" " height="60%" width="60%" />
<p>source:广发证券-计算机-刘雪峰-策略-计算机行业-2020年投资策略：新产业周期落地加速,中等市值龙头群体崛起 </p>
<!-- 按照图片具体大小设置百分比 -->

<h5>图：2016-2019年区间股价涨跌复盘 </h5>
{% load static %}
<img src="{% static 'templates\ciss_exhi\industry\static\software_period_change_2016_2019.png' %}" alt=" " height="60%" width="60%" /> {% load static %}
<img src="{% static 'templates\ciss_exhi\industry\static\software_period_change_2016_2019_2.png' %}" alt=" " height="60%" width="60%" />
<p>source:广发证券-计算机-刘雪峰-策略-计算机行业-2020年投资策略：新产业周期落地加速,中等市值龙头群体崛起 </p>
<!-- 按照图片具体大小设置百分比 -->

<h4>A股计算机牛股总结 </h4>
<p>综述,2009-2019：
    <br>估值明显提升的公司：
    <br>科大讯飞——人工智能主题提升公司估值；
    <br>中国软件——自主可控需求提升；
    <br>卫士通——安全可控；
    <br>用友网络——应用软件SaaS化趋势；
    <br>宝信软件——IDC，估值略有提升；
    <br>业绩明显提升的公司：
    <br>浪潮信息——收入、利润复合增速达到53%、78%，受益于云化带来的服 务器需求提升；
    <br>佳都科技——收入、利润复合增速达到48%、49%，期间依靠收并购使得 收入利润大幅提升。
    <br>新大陆——收入、利润复合增速达到20%、24%，期间收购支付公司，提 升收入、利润成长性。
    <br>神州数码——收入、利润复合增速84%、16%，期间神州数码借壳；
    <br>浪潮软件——收入、利润复合增速14%、30%，政务信息化软件内生增长 为主。
    <br>业绩与估值齐升：
    <br>恒生电子——受益于金融行业IT需求增长，公司收入、利润实现复合增速 18%、14%，实现稳健内生增长；龙头地位持续确立，具有龙头估值溢 价。
</p>
<p>成长性：1，原有主营业务增长；2，收购和兼并：外延并购、借壳；3，公司的赛道、行业成长性、天花板。
    <br>4，公司在行业内市场占有率；5，产品竞争力：定价能力，可替代性等。 </p>

<h5>图：2009-2019年区间股价涨跌Top15 </h5>
{% load static %}
<img src="{% static 'templates\ciss_exhi\industry\static\soft_s_chg_09to19_top15.png' %}" alt=" " height="60%" width="60%" />
<h5>图：2016-2019年区间股价涨跌Top15 </h5>
{% load static %}
<img src="{% static 'templates\ciss_exhi\industry\static\soft_s_chg_16to19_top15.png' %}" alt=" " height="60%" width="60%" />
<p>source:广发证券-计算机-刘雪峰-策略-计算机行业-2020年投资策略：新产业周期落地加速,中等市值龙头群体崛起 </p>
<!-- 按照图片具体大小设置百分比 -->

<p>综述,2016-2019：表现较好的前15家公司来看，估值提升的逻辑主要来自于新业务的推进。主要是2个方向：人工智能 与行业应用软件SaaS化的持续落地，主要体现于部分公司的云业务收入、预收款等指标。
    <br>计算机行业的发展具有典型的“非线性特征”，即每一轮产业升级周期都大致包含概念膨胀（1-2年）+巨额投入的平淡期（4年左右）+商业化落地的拐点（1-2 年，个别龙头脱颖而出）+快速渗透增长期（3-5年左右）+稳定成长+直至成熟进入下一轮周期。其中概念期（较为短暂）和商业化落地与快速渗透成长期是二级市场 投资的较好时点。2019年的计算机行业，正处于技术研发为基础的创新产品与服务落地腾飞的阶段，诸多子领域厚积薄发正进入S型发展周期的上升拐点。
</p>
<h5>风险：非经常性增长</h5>
<p>创业板普遍的因收购导致的商誉减值风险，借壳、重大资产重组带来的负面效应逐步被市场认知。 或业务源自一次性的项目如括智慧城市、电子政府等。
</p>

<h5>个股复盘：浪潮信息</h5>
<p>浪潮信息股价从01年上市时60亿市值一路跌到08年12月的16亿，之后10年11月突破历史高点。这时70亿市值对应2010年0.35亿 净利润，如果2010年底2011年初看PE_ttm有200倍。2011年初至2012年12月股价（前复权）逐级下跌-50%，同期净利润从2010年 0.35增加到0.77，但2012年下降到0.69未能延续增长。2012年12月到2015年6月一路上涨+1200%,同时期净利润从0.69增长到4.47亿 市值从40亿增加到450亿。
    <br>扣非净利润似乎更能反映经营上的变化:2011年净利润增长120%，但扣非后却-29%，这与2011年全年股价下跌更匹配。 2012~2015年每年扣非净利润增长最低+75%，最高+120%，与同期股价的显著上涨匹配。
    <br>这个例子反映了软件股在50亿左右市值到500亿左右市值的大幅上涨期间：1，扣非市盈率ttm在4年的范畴内维持100-250是 正常的。 </p>

<hr>

<h4 id="ind_def_sub_chain">景气度提升的细分领域（子产业链）</h4>
<ul>
    <li>行业软件：5G相关软件</li>
    <li>行业软件：汽车软件</li>
    <li>行业软件：医疗软件</li>
    <li>行业软件：金融</li>
    <li>行业软件：工业制造</li>
    <li>行业软件：其他,外包等 </li>
    <li>基础软件：系统和办公{自主可控}等</li>
    <li>软件基础设施：云计算、机房IDC、网络加速CDN</li>
    <li>信息安全</li>
</ul>




<h4 id="ind_def_anchor_list">软件行业市值龙头</h4>
<p>以2020年2月14日收盘价计算总市值，以总市值大于200亿元的股票作为白马组合，剔除2017年前上市的公司， 共计32只个股，用整体法计算样本市值的变化，并与申万计算机指数进行对比，以2017年1月1日为起点，2020年2月14日 为截至，期间白马组合跑赢指数80.1个百分点，获得了明显的超额收益。
    <br> 目前A股计算机公司市值超过1000亿元的包括海康威视、用友网络、东方财富和金山办公。 海康威视是安防领域龙头，用友网络是ERP龙头、东方财富是互联网金融服务龙头，金山办公是办公软件龙头。 中长期来看还是强者恒强的市场，短期再融资放开对一些中小企业可能会有所帮助，以下为计算机板块当中市值在100亿元 以下，18年收入在10亿元左右，利润在1亿元左右的，并且在自己领域有一定优势地位的公司，这些公司潜在收益本次的 再融资放开。
</p>
<ul>
    <li>安防:海康威视、大华股份 </li>
    <li>ERP企业管理软件：用友网络 </li>
    <li>互联网金融：东方财富 </li>
    <li>办公软件：金山办公</li>
    <li>资产管理、投资管理：恒生电子 </li>
</ul>

<h5>图：2017-2019 软件行业200亿以上市值涨幅 </h5>
{% load static %}
<img src="{% static 'templates\ciss_exhi\industry\static\software_return_200e_2017_2019.png' %}" alt=" " height="90%" width="90%" />
<p>source:cs\yang qiupeng </p>
<h5>图：市值在100亿元以下，18年收入在10亿元左右，利润在1亿元左右 </h5>
{% load static %}
<img src="{% static 'templates\ciss_exhi\industry\static\software_under100e_profit1e_2019.png' %}" alt=" " height="90%" width="90%" />
<p>source:cs\yang qiupeng </p>
<!-- 按照图片具体大小设置百分比 -->


<h4>5G应用带来的软件相关需求</h4>
<p>5G应用带来的软件相关需求主要包括大数据基础设施、行业设备、行业软件。大数据基础设施包括数据存储、服务器、IDC； 行业设备主要包括汽车、手机、其他工业和家用物联网=IOT电子产品；行业软件主要包括图片、视频类社交app平台。 </p>

<p>5G将带来边缘计算、室内小基站等新技术，浪潮信息、紫光股份短期内未必在整体投资中占据较大比例，但是属于概念性成分股。 新基础设施完善或催生新应用场景，带来新的计算需求爆发。边缘计算将服务器前置到运营商无线接入网/传输网内，可以充分利用 5G的低延迟特性，在车联网、IoT、AR、VR、视频流分析等领域或许有逐步应用的可能。
    <br>到2020年，每人每天平均将产生1.5GB的数据量。随着越来越多的设备连接到互联网并生成数据，云计算可能无法完全处理这些 数据——尤其是在某些需要非常快速地处理数据的使用场景当中。
    <br>边缘计算起源于传媒领域，是指在靠近物或数据源头的一侧，采用网络、计算、存储、应用核心能力为一体的开放平台， 就近提供最近端服务。其应用程序在边缘侧发起，产生更快的网络服务响应，满足行业在实时业务、应用智能、安全与隐私保护 等方面的基本需求。参考链接：https://blog.csdn.net/hello_zybwl/article/details/89219832
    <br>室内小基站=家庭小基站：5G时代基站数量可能是4G的1.5-2倍，这是因为5G基站使用的无线电频率更高，信号衰减更快， 要想达到同样的信号覆盖效果，就需要建设更多基站。如果每家都安装5G室内基站，这样就可为运营商省下很多室外布置5G基站 的成本，运营商只要安装几个大功率的小区中心基站就可满足整个小区所需。全国5G网络覆盖的进度也会大大加快。 根据不同的房屋面积，可选择不同功率的基站，一般的基站信号可覆盖100平米，基本不会有网络死角。5G时代，我们或许不用 担心信号稳定性的问题了。有了5G室内基站，这么多家庭网络设备一体化运行就完全没有了问题。
</p>
<p>浪潮信息：2019年2月25日，世界移动通信大会MWC2019在西班牙巴塞罗那举行， 浪潮发布首款基于OTII标准的边缘计算服务器NE5260M5，该产品专为 5G设计，可承担物联网、MEC和NFV等5G应用场景，适合于边缘机房的物理环境。
    <br>紫光股份旗下新华三是具有CT和IT技术的全方位ICT供应商，设计有5G室内白盒小基站产品。在边缘计算也有布局。 公司是传统企业网龙头，通过新产品进入运营商设备领域。 H3C vMEP3200是H3C公司自主研发的NFV（Network Function Virtualisation，网络功能虚拟化）架构的边缘接入平台产品，可以提供高带宽、低时延的业务保障，适用于各种垂直行业的本地业务应用，例如， 车联网、IoT、AR、VR、监控视频流分析、智能移动视频加速和密集计算辅助等。
</p>
<p>关于运营商PC服务器采购： 从19年的“中国移动2019年至2020年PC服务器集中采购（第一批次）”招标情况来看，华为中标金额22%仅约中兴通信45%的一半左右。 中国移动2019年“集中网络云资源池二期工程PC服务器采购”招标情况看，华为中标份额43%低于新华三57%。
    <br> 2019Q3,中科曙光营收环比19Q2下降8%，而同期浪潮信息(Inspur)营收环比上升达41%。另据IDC数据， 19Q3华为服务器出货量同比下滑17%，而浪潮信息(Inspur1)出货量同比上升11%。紫光股份旗下新华三New H3C份额维持 第二名基本不变。
    <br> event：2019，清华控股有限公司旗下紫光集团下属子公司紫光股份有限公司以不低于25亿美元收购惠普公司旗下 “新华三”公司51%的股权，成为该公司的控股股东。“新华三”将包括惠普公司的全资子公司华三通信与惠普中国有限公司 的服务器、存储和技术服务业务，总估值约45亿美元(不含现金及负债)。
</p>

<h5>图：19Q3全球服务器市场出货量情况 </h5>
{% load static %}
<img src="{% static 'templates\ciss_exhi\industry\static\marketshare_server_19q3.png' %}" alt=" " height="90%" width="90%" />
<p>source:广发证券-计算机-刘雪峰-策略-计算机行业-2020年投资策略：新产业周期落地加速,中等市值龙头群体崛起 </p>
<!-- 按照图片具体大小设置百分比 -->

<h4 id="software_ind_finance">行业软件：金融软件</h4>
<p>金融行业IT建设长期受金融政策影响，特别是其中金融市场改革、监管、对外开放； 短期影响因子有
    <br>股指期货、期权等。

</p>
主要金融机构数字化建设方向：
<ul>
    <li>国有银行-工农中建交：当前重点智能网点改造，从财报中，资产负债表-固定资产中硬件/设备规模较大可以看到。金融科技子公司成立时间整体晚于股份制商业银行，例如工商银行201905成立工银科技。 </li>
    <li>股份制银行：优化线上渠道；尝试技术+产品/场景，典型的平安银行、招商银行分别在场景搭建、指导资产配置等领域布局 </li>
    <li>互联网银行：微信银行的微粒贷等。 </li>
</ul>









<h4 id="software_ind_autosoft">行业软件：汽车软件</h4>
<p>长期趋势：
    <br>数据量分析：根据Garter的预测，到2025年，自驾车每月上传到云端的车辆及传感器资料将超过1TB，远高于 2018年先进连网汽车的资料量(30GB)。高移动带宽一方面有利于提升数据收集效率，另一方面能够为车辆搭载更多娱乐和应用内容，为车主提供 更好的使用体验。自动驾驶、编队行驶、车联生命周期维护、传感器数据众包等应用场景都需要安全、可靠、低时延和高带宽的连接，根据ABI Research预测，到2025年5G连接 的汽车将达到5,030万辆。
    <br> IHS最新预测，全球自动驾驶车年销量将从2021年的5.1万辆上升至2040年的3300万辆。Frost & Sullivan预测到2030年 自动驾驶（私家车）市场规模将达到600亿美金，其中2020年被认为行业快速增长的 元年，L4级自动驾驶车将在相当长时间内扮演重要角色，而L5级自动驾驶车市场将 有望从2026年逐步开始落地。

</p>

<h5>汽车软件细分：车体智能化(自动驾驶)、车舱智能化（车载HMI） </h5>
<p>1，车体智能化（车车、车路等对外互联；自动驾驶能力）；
    <br>2，车舱智能化（人车交互、信息娱乐）.
    <br>HMI- Human–Machine Interaction 人机交互
</p>
<h5>自动驾驶产业链 </h5>
<p>自动驾驶产业链相对较长，关注高精度地图商业化落地。自动驾驶整体流程包括感知、决策和控制执行，产业链较长。 高精度地图是自动驾驶产业链必备一环，国际领先车厂本地采购已拉开序幕，头部图商竞争力有望进一步提升。
</p>

<p>三大场景：车舱智能（HMI）、车联网（V2X）、车体智能（自动驾驶）三大场景，从落地时点和产业爆发角度 看车舱智能会最先进入快速发展期。
    <br>notes：车体智能化与车舱智能化两者发展相辅相成。 车舱智能化（例如车载信息系统及其HMI）因技术和政策门槛相对较低，其落地进度更快。 车舱交互系统屏幕化、智能化的渗透率快速提升，且呈现从高端车向中低端车渗透的趋势。
</p>

<h5>车舱智能（HMI） </h5>
<p>车上主要的HMI包括：车载信息娱乐IVI、数字仪表盘、HUD（平视显示器）、后视镜等，此外车载语音识别和语音交互 系统是车载屏幕HMI的重要交互接口。近年来，智能车载HMI仍然处在初级阶段，渗透率快速提升。 根据IHS发布的针对智能车载IVI/仪表盘/HUD三个以前装为主的市场预测,2021年该市场总体规模将 达到186亿美元，2021年三个市场相比2015年将翻倍，长期保持较快的增速。（注：市场规模包括 软件+硬件，软件的占比仍较低）。
    <br>IVI（In-Vehicle Infotainment）是车载信息娱乐系统。先进的导航系统需要整合实时交通信息、个人兴趣点以及好友位置等

    <br>主要趋势包括：大屏幕、智能交互控制
</p>
<p>大屏趋势：
    <br>自从Tesla率先将17寸大屏搬入车舱后，车内交互屏幕的尺寸正变得越来越大，这也反映了 车厂对人车交互体验的愈发重视，这与智能手机屏幕的发展轨迹相似。<br>一机多屏、联屏正在重新定义 车内人机交互。屏幕作为人机交互体验的核心，多屏正成为车内人车交互的趋势之一，一芯带多屏、多屏融合 （液晶仪表+HUD+中控屏+后座娱乐)、屏幕共享的一体化交互解决方案逐步开始产业化落地。
    <br>奥迪： 全新奥迪2019款A8搭载了7块屏：前舱搭载一块12.5英寸的全液晶仪表盘和10.3英寸的中控液晶大屏， 以及中控台下方的9.0英寸液晶屏，还有一块可以选装的抬头显示屏幕；后舱由两块后座液晶屏和一个空调 控制屏组成。 奥迪E-tron纯电版搭载了六块显示屏，其中12.3英寸液晶仪表盘可显示驾驶信息和地图，中控上下两块10.1 英寸和8.6英寸液晶触控屏分别控制智能媒体系统和车载空调系统。
    <br>保时捷： 保时捷首款纯电动车型Taycan对外发布了其内饰官图，中控区域保留了4块液晶屏幕的设计，算上部分车型 后排的一块5.9英寸屏幕的话，也至少采用了5块屏幕。
    <br>国产汽车：多屏连接的一字连屏也成为诸多车厂的选择，长安CS55、全新一代传祺GA6、新宝骏RC-6、红旗HS5等等车型都采用了双联屏的设计。

</p>
<p>语音交互、手势交互、全息等技术应用已经较为普遍，仍有较大增长潜力。 以视觉技术为支撑的360度环视、障碍物检测、驾驶员状态检测等应用已经逐步开始商业化落地。 通过驾驶舱内的深度学习算法,基于人工智能(AI)的驾驶员识别技术现在已经存在,可以根据用户的喜好自动配置驾驶舱和汽车。
</p>

<h5>图：2019年多家车厂HMI装配率变动统计,P55/113 </h5>
{% load static %}
<img src="{% static 'templates\ciss_exhi\industry\static\software_auto_HMI_2018_2019.png' %}" alt=" " />
<p>source:广发证券-计算机-刘雪峰-策略-计算机行业-2020年投资策略：新产业周期落地加速,中等市值龙头群体崛起 </p>

<h5>汽车软件在车载产业链中的价值提升</h5>
<p>汽车行业的ACES（自动化、联网化、电动化、共享化）趋势将变革传统汽车产业链格局，传统的分布式 汽车电子电气构架（E/EA）将会被重塑，传统汽车电子架构中的软硬件将实现解耦，软件呈现平台化趋势。 软件在汽车中的价值量将提升。 从汽车电子架构演进趋势，可以概括为从分散的计算机系统（即控制单元）转向更加集中和网络化的电子 架构。传统汽车电子架构由大量彼此功能独立的分布式ECU构成，软件硬件强耦合。 随着智能、网联业务的丰富，车内系统之间交互的信息量激增，分布式ECU架构在集成控制、安全、 数据互通、算力带宽等维度均存在瓶颈。每个域都具有集中的智能化处理单元，具备更强的运算处理能力。
</p>
<p>未来汽车电子硬件资源将不再被某个功能独享，而被抽象成软件/服务可以共享的资源，软件部分 则聚合为相应控制域的智能化处理单元，具备较强的运算处理能力，运行着适应该域业务特点的智能 操作系统，并且与运行在域内各ECU上的相对简单的操作系统或固件代码相互配合。根据麦肯锡报告， 未来车内及后端的分层架构包括:

</p>
<ul>
    <li>云平台(连接车内数据和环境数据) </li>
    <li>互联网</li>
    <li>UI/UX/人机界面 </li>
    <li>应用程序(数量急剧增长)</li>
    <li>人工智能/先进分析：为实时决策和自动驾驶提供数据分析 </li>
    <li>中间层/操作系统：将应用程序从硬件中抽象出来</li>
    <li>电子电气硬件</li>
    <li>传感器、执行器、动力原件：受安全考虑影响，严密控制附带应用和模块 </li>
    <li>车身外形</li>
</ul>

<h5>视觉算法在车载场景的应用趋势</h5>
<p>基于硬件的车载视觉算法在汽车ADAS产业链中地位的重要性逐渐提升，前视方案等面临软硬件的 升级，新兴视觉方案（虚拟后视镜等）提升安全性与驾驶体验。车载视觉的源头是计算机视觉，遵循 图像输入、预处理、特征提取、特征分类、匹配、完成识别几个步骤。车载视觉从广义上分为两种应 用场景： 1，由机器到机器：在智能系统控制下完成车道保持、超车并道、交通标识识别等功能，无需人为操控 或介入。典型如前视方案（单目、双目）、环视方案等。 2，由机器到人，通过机器与人的交互，增强驾驶体验或在特定情况下完成驾驶任务。典型如DMS
    （驾驶员监控）、虚拟后视镜等。


</p>
<h5>图：ADAS架构与功能</h5>
{% load static %}
<img src="{% static 'templates\ciss_exhi\industry\static\adas_structure_function_sybnopsys.png' %}" alt=" " height="90%" width="90%" />
<p>source:广发证券-计算机-刘雪峰-策略-计算机行业-2020年投资策略：新产业周期落地加速,中等市值龙头群体崛起 </p>
<!-- 按照图片具体大小设置百分比 -->


<table id="ciss_table">
    <caption>ADAS视觉产业链：海外</caption>
    <tr id="table_tr">
        <th>产业链</th>
        <th>零部件</th>
        <th>龙头公司</th>
    </tr>
    <tr>
        <td>上游</td>
        <td>ISP</td>
        <td>德州仪器，ARM</td>
    </tr>
    <tr>
        <td>上游</td>
        <td>镜头组</td>
        <td>舜宇光学，大立光电</td>
    </tr>
    <tr>
        <td>上游</td>
        <td>镜头模组</td>
        <td>松下电器，法雷奥</td>
    </tr>
    <tr>
        <td>上游</td>
        <td>ADAS</td>
        <td>芯片德州仪器，恩智浦</td>
    </tr>
    <tr>
        <td>上游</td>
        <td>算法</td>
        <td>Mobileye（Intel）, 百度</td>
    </tr>
    <tr>
        <td>中游</td>
        <td>摄像头</td>
        <td>博世，大陆</td>
    </tr>
    <tr>
        <td>中游</td>
        <td>雷达</td>
        <td>德尔福，奥托立夫</td>
    </tr>
    <tr>
        <td>中游</td>
        <td>集成控制</td>
        <td>博世，大陆</td>
    </tr>
    <tr>
        <td>下游</td>
        <td>乘用车</td>
        <td>福特，奥迪</td>
    </tr>
    <tr>
        <td>下游</td>
        <td>商用车</td>
        <td>大众，上汽</td>
    </tr>
    <tr>
        <td>下游</td>
        <td>新兴公司</td>
        <td>Waymo，特斯拉</td>
    </tr>
</table>


<h5>图：自动驾驶产业链</h5>
{% load static %}
<img src="{% static 'templates\ciss_exhi\industry\static\software_chain_autodrive.png' %}" alt=" " height="90%" width="90%" />
<p>source:广发证券-计算机-刘雪峰-策略-计算机行业-2020年投资策略：新产业周期落地加速,中等市值龙头群体崛起 </p>
<!-- 按照图片具体大小设置百分比 -->

<p>自动驾驶-决策领域龙头：</p>
<ul>
    <li>算法/集成：特斯拉、滴滴、上汽集团、百度、腾讯 </li>
    <li>运算平台：英伟达、英特尔 </li>
    <li>高精地图：四维图新、高德{阿里巴巴私有化}、百度地图、Here、谷歌、TomTom</li>
    <li>车联网：高通、华为、大唐电信 </li>
</ul>

<h5>高精地图：四维图新 </h5>
<p>高精度地图相比传统导航地图，其行业壁垒较高，主要体现为：
    <br>初期投入高成本：初始地图扫描需使用装配高精度雷达扫描车地推式获取数据，且数据维度较多带来更多后续数据处理成本，综合成本较高。
    <br>高频度更新需求：除了初始地图数据，仍需众包方式采集变量，并非传统地图一劳永逸模式。
    <br>资质稀缺：地图测绘资质管控，参与者仅少数有较强资金优势和技术优势图商。
    <br>技术壁垒：后台算力和传输分发对技术的要求较高。 四维图新于2019年2月与宝马签订高精度地图早期商业订单

</p>

<h4 id="software_ind_mobile">手机软件</h4>

<p>2016年以来全球双摄、多摄手机等出货量持续较快增长，从渗透率来看，仍然具有较大的发展空间。 随着手机摄像头的增加，对多摄像头拍摄的相关视觉算法需求会继续增长。

</p>

<h4 id="software_ind_corp_media">企业信息传播</h4>
<p>企业对内和对外的信息从偏文本的短信、邮件发展为包括文字、图片、视频和包括交互信息的多媒体 形式。例如企业越来越多地使用.h5格式文档进行客户营销、用微信平台内地文档搜集员工信息。
    <br> 龙头股：梦网科技002123.SZ；所属行业：
    <br>中信：增值服务Ⅲ；增值服务Ⅱ；申万：移动互联网服务；互联网传媒；传媒


</p>
<p>深圳市梦网科技发展有限公司是梦网荣信科技集团(股票代码：002123)旗下全资子公司。 产品“富信”与传统短信（仅70个汉字）、彩信相比，能支持30~40张高清图片、或200万字以上文字、 或短视频。内容构成方面可以是信息签名+文本内容+详细内容短链+图片内容+视频内容；也可以是信息 公众号+短信互动+行业密切结合，能承载更多的移动通信商业应用。
    <br>客户规模：数万家，与腾讯、百度、阿里巴巴、京东商城、小米、奇虎、交通银行、 平安集团、中国银行、安信证券、华夏 基金、南方基金、顺丰快递、七天连锁等众多知名企业建立了战略 合作关系，为数亿用户提供沟通便利。梦网云通讯从深圳从发，构建起全国三 十多个城市的战略合作资源 节点，目前拥有绿色通道数万条以及专业服务器超千台，网络覆盖全球200多个国家和地区。
    <br>合作伙伴：携 手中国移动、中国电信、中国联通三大运营商及数千家大型知名企业，针对云通讯服务 领域，以绿色短信为基础，为中小企业和开发者提供更加实 效、创新、完备的云通讯服务产品。

</p>
<p>梦网科技企业服务号，将在手机领域，以传统短信为入口，实现对话类服务、卡片类服务、 内容类服务的推送，帮助企业实现全链路的新型营销。 </p>

<h5>图：梦网云通讯开发软件系统结构图 </h5>
{% load static %}
<img src="{% static 'templates\ciss_exhi\industry\static\software_002123_developer_system_structure.png' %}" alt=" " height="90%" width="90%" />
<p>source:http://www.monyun.cn/portalpage/developerCenter.html </p>
<!-- 按照图片具体大小设置百分比 -->

<h5>图：华为快服务智慧平台示意图 </h5>
{% load static %}
<img src="{% static 'templates\ciss_exhi\industry\static\software_huawei_structure_ability_platform.png' %}" alt=" " height="90%" width="90%" />
<p>source:http://www.monyun.cn/portalpage/developerCenter.html </p>
<!-- 按照图片具体大小设置百分比 -->

<h4 id="software_ind_medical">医疗行业软件</h4>
<p>主要可以分为3类：医保信息平台、医院电子病历DRGs、互联网诊疗。 其中医院电子病历DRGs又可以分为面向医务人员地电子病历、面向患者的就诊流程服务、医院管理平台。 医院管理平台可以实现药品、试剂、耗材、物品等物流全流程追溯，资产全周期管理。

</p>
<p>站在2019年四季度来看，尽管2020年的电子病历建设大限将至，但从各类政 策文件要求、医疗体系发展现状来看，医疗信息化行业建设的完善仍然具有较长的路要走，空间可期： 1，电子病历：互联互通仅是智慧医院建设的一环。第一个领域是面向医务人员的电子病历； 第二个领域则是面向患者的智慧服务；第三个领域是面向医院管理的智慧管理。 2，智慧医院：辅助医保信息平台的运作。医保信息平台的主要功能包括 医疗信息的数据分析等。 3，医保控费：基于庞大的医疗数据，实现医保更精细化控费。当前的主要路线为DRGs按病种付费。以控费倒逼医院各类信息系统进一步完善。
</p>
<p>互联网医疗行业总规模超千亿，运营分成模式市场规模将达百亿量级。 2C的线上问诊、2B的远程医疗、处方共享平台运营是目前初步落地的服务模式。 经测算，线上问诊和远程诊疗市场规模将达150亿元，处方共享平台流量规模将超千亿元。 基于目前主要盈利模式，互联网医疗运营分成的市场规模有望达百亿量级，发展空间广阔。 并且目前仍在积极探索其他服务模式，比如互联网+健康管理，网约护士，健康商城，商保服务， 聚合支付等。围绕“医”、“药”、“险”，互联网医疗服务模式可拓展性强，极具发展潜力。
    <br> 重点推荐：卫宁健康（医疗IT龙头企业，互联网医疗业务高成长）、 创业慧康（医疗IT领军企业，整合多方资源推进互联网医疗业务发展）、 久远银海（医保IT龙头企业）——次新股太小、思创医惠（国内优质医院信息集成平台商）； 推荐关注：平安好医生（互联网医疗龙头企业）、阿里健康（医药电商龙头企业）、 万达信息（医疗IT领军企业，保险+医疗+科技协同发展）——无靠谱业务、 东华软件（具备大医院卡位优势的医疗IT领军企业，积极推动互联网业务落地）、 麦迪科技（CIS领域龙头企业）、和仁科技（优质医疗IT企业）。
</p>

<table id="ciss_table">
    <caption>互联网医药主要细分领域和龙头</caption>
    <tr id="table_tr">
        <th>子领域</th>
        <th>头部公司</th>
        <th>客户</th>
        <th>经营区域</th>
        <th>产品或服务</th>
    </tr>
    <tr>
        <td>医疗IT建设</td>
        <td>东华软件，卫宁健康，创业慧康，久远银海，思创医惠 </td>
        <td>医院</td>
        <td>全国</td>
        <td>医院信息平台</td>
    </tr>
    <tr>
        <td>在线看病平台</td>
        <td>平安好医生 </td>
        <td>医生、患者</td>
        <td>全国</td>
        <td>互联网诊疗</td>
    </tr>
    <tr>
        <td>临床医疗管理信息系统（CIS）</td>
        <td>麦迪科技 </td>
        <td>医院</td>
        <td>全国</td>
        <td>手术室信息化</td>
    </tr>
    <tr>
        <td>保险+医疗平台</td>
        <td>万达信息 </td>
        <td>患者</td>
        <td>全国</td>
        <td>公共卫生平台+保险公司合作</td>
    </tr>
</table>

<h5>万达信息</h5>
<p>
    <br>Event：“万达信息：常年粉饰引巨亏2020年03月06日”
    <br>相比同行业上市公司，万达信息几乎从未对存货进行充分的计提，研发费用更是采用全额资本化的会计处理方式，这种处理方式在一定程度上“透支”了上市公司的业绩。
    <br>2013-2017年，万达信息分别实现净利润分别为1.37亿元、1.99亿元、2.29亿元、2.42亿元、3.25亿元，同比分别增长30.13%、45.11%、15.29%、5.51%、34.13%。
    <br>收购兼并：其在上市初期的一系列收购行为，公司先后收购了四川浩特通信有限公司（下称“四川浩特”）、宁波金唐软件有限公司（下称“宁波金唐”）、上海复高计算机科技有限公司（下称“上海复高”）的各100%股权，2014-2017年，三家公司合计实现的营业收入分别为5.14亿元、5.65亿元、6.59亿元、6.22亿元，占当期上市公司营业收入的比重为33.34%、30.22%、31.76%、25.75%。
    <br> 从营业收入的角度来说，三家公司合计营业收入占公司总营业收入的比重还算正常。但从净利润占比的角度，就会发现万达信息的业绩严重依赖三家公司，同期，三家公司合计实现净利润分别为8742万元、1.22亿元、1.86亿元、1.21亿元，占当期上市公司净利润的比重为43.93%、53.36%、76.70%、37.38%。


</p>


<h5>图：医疗信息化建设 </h5>
{% load static %}
<img src="{% static 'templates\ciss_exhi\industry\static\software_ind_medical_demand.png' %}" alt=" " height="90%" width="90%" />
<p>source:http://www.monyun.cn/portalpage/developerCenter.html </p>
<!-- 按照图片具体大小设置百分比 -->

<h5>DRGs即按疾病诊断相关分组付费 </h5>
<p>DRGs即按疾病诊断相关分组付费，具体地说，就是根据患者年龄、性别、手术项目、并发症、住院时间、诊断内容、 治疗结果等因素将疾病分为若干诊断组，医院与医保机构经谈判确定各诊断组付费标准，医保机构根据这个标准向医院支付费用。
</p>
<p>DRGs与传统付费机制的最大区别在于，医保机构无需按照医疗资源消耗情况 一一计算补偿额度，而是将“住院次数”作为基本定价单元，然后参照患者诊断结 果及预先划分的费率标准来适用补偿额度。 </p>

<h5>互联网医疗涵盖的内容 </h5>
<p>限制性因素：
    <br>1) 线上问诊。互联网医院的建设、监管缺位使得线上问诊难以规范化、常态化。
    <br>2) 线上处方。处方外流政策一直系线上处方难以发展的重要因素。
    <br>3) 线上支付。医保互联网诊疗的支付比例、支付办法，脱卡支付、线上医保支付等，均阻碍互联网医疗线上支付。
    <br>4) 线上配药。与处方外流相关的政策与行业发展具有相关性。
    <br>一年多以来，随着相关政策的逐步清晰，各方的推进，遏制互联网医院发展的 各类因素逐步扫清，部分领域未来或有突破。
</p>
<p>政策性因素： 2018年7月，《互联网诊疗管理办法（试行）》《互联网医院管理办法（试 行）》《远程医疗服务管理规范（试行）》和《医疗技术临床应用管理办法》发 布，明确了开展互联网诊疗服务的基本要求。 文件要求，为保证互联网医疗服务新业态的医疗质量和安全底线，要求开展互 联网医院准入前必须建立全省的统一监管平台；所有医疗机构开展互联网诊疗活动 必须全程留痕、可追溯，并向监管部门开放数据接口。
    <br>互联网医院建设运营的前提是，各地的监管平台实现落地。从当前各地进展来看，浙江省走在最前面，2019年1月22日，浙江省卫生健康 委、阿里健康、支付宝以及多家医院联合宣布，全国首个服务+监管为一体的互联网医院平台在浙江省上线。
    <br>真正实现医保支付互联网+医疗，除了相关政策的落实外，还需要一定技术的推动，当前最为重要的技术障碍主要在医保的脱卡支付。 所谓的医保脱卡支付，主要包括两类：1）手机绑卡，线下定点扫码；2）手机绑卡，线上一键支付。 当前，根据我们的不完全统计，全国范围内，以地级市为单位，已陆续开展了“手机绑卡，线下定点扫码”方式的试点工作。但以上海为首的特大型城市，目前还未 进入试点阶段。

</p>

<h4 id="software_ind_industrial">工业制造软件</h4>
<p> 能科股份:603859.SH
    <br> 电气产品获市场突破，围绕西门子生态链。公司创始团队具备能源行背景，服务行业超25年，自主研发的变频器等电气产品在中石油等核心客户实现突破。同时，全球高端电气设备巨头西门子的大量产品也在能源石化领域应用广泛，公司围绕其产品为行业内客户提供更多环节的解决方案服务，获得了长足的进步。
    <br> 踏准行业变革节奏，同步增强软件能力。公司2013年左右敏锐发现行趋势，转型向工业软件领域布局，具备PLM（产品生命周期）、PA（工艺自动化）、STS（仿真测试服务）、DF（数字化工程）等软件与系统能力，成功突破航天航空和高科技电子等市场。2018年收购联宏科技，进一步增强PLM软件在民用市场的布局。以优势领域客户为圆心，未来业务有望辐射广大军民用市场。
    <br> 加码数字孪生，瞄准Gartner新技术曲线高景气度方向。2019年公司落共增方案，主力投入数字孪生平台项目。数字孪生自2017年起被Gartner连续4年列入十大战略新技术方向。
    <br> Digital Twin数字孪生：是充分利用物理模型、传感器更新、运行历史等数据，集成多学科、多物理量、多尺度、多概率的仿真过程，在虚拟空间中完成映射，从而反映相对应的实体装备的全生命周期过程。
</p>

<h3 id="security">信息安全</h3>
<p>国内信息安全行业的典型客户包括党政军、电信、金融、能源、交通、教育等领域，政策驱动因素的影响相对较大。
</p>
<p>基础系统和软件因众多软件是美国开发的，使用中存在国家安全风险，因此以安全可控为主题建设国产化软件维持安全可控是重要的投资方向。

</p>

<p>信息安全指的是专门的安全软件和系统用于保证计算机软硬件的安全。 客户：国内信息安全行业的典型客户包括党政军、电信、金融、能源、交通、教育等领域，政策驱动因素的影响相对较大。
    <br>政策：2020年初的短期政策： 1，《中央企业负责人经营业绩考核办法》于19年4月1日实施，将网络安全纳入央企负责人考核内容，可以理解成安全责任从信息部主任提升到央企一把手； 2，2019年广泛开展护网行动，实战攻防、漏洞发现让客户对安全愈发重视，虽然护网行动本身带来的服务收入增量有限，但对客户后续追加产品采购有很大积极作用。 3，等保2.0于19年12月1日实施，会在明年带来较大的整改投入，行业景气度会进一步提升，头部公司业绩提速确定性较强； 4，深信服安全业务18H1/19H1的收入增速分别是24%/30%；启明星辰18前三季度/19前三季度的收入增速分别是24%/30%、11%/22%。
    <br> 软硬件市场规模：据IDC数据，2018年中国IT硬件、软件安全规模大致为306.9亿元。其中IT硬件市场规模 为35.3亿美元（约合人民币244.2亿元），同比增长26.51%。IT软件市场规模为约为62.7亿元，同比增长 23.98%。目前国内安全市场以网关类硬件产品为主，未来受益于行业政策的推动，硬件市场规模仍有望保持 快速增长。数据安全、安全管理、应用安全等软件安全市场规模尚小，未来随着合规性的要求增加及用户安 全意识提升，以及云计算发展带来网络边际的模糊和数据的集中管控导致的更大的安全隐患，此类安全软件
    有望呈现更好的增长。
    <br> 产品类型：主要产品包括防火墙、统一威胁管理平台（UTM）、入侵检测和入侵防御（IDP）、 虚拟专用网络（VPN），安全内容管理（SCM）。 据IDC数据，2018年前四类产品的市场规模分别是10.7、7.5、4.0、1.7亿美金。

    <br>2019年我国网络安全市场格局如下（市场份额前三厂商）：A表示A股
    <br>1）防火墙：A天融信（市场份额21.1%）--已被南洋股份002212.SZ收购、华为（市场份额20.3%）、新华三（市场份额19.1%）；
    <br>2）UTM：网御星云（13.8%）、华为（12.3%）、A天融信-南洋股份（11.3%）；
    <br>3）IDS/IPS：A绿盟科技（18%）、A新华三（16.9%）、A启明星辰（16.9%）；
    <br>4）安全内容管理：A深信服（16.6%）、奇安信（8.6%）、A新华三（7.1%）-紫光股份000938.SZ；
    <br>5）身份与数字信任：吉大正元（14%）、亚信安全（12%）、A数字认证（9.2%）-300579.SZ；
    <br>6）AIRO：A绿盟科技（16.1%）、A启明星辰（14.2%）、IBM（9.6%）；
    <br>7）终端安全：A奇安信（14.1%）、赛门铁克（12%）、亚信安全（10.4%）。
    <br>安全数据分析:安恒信息-688023
    <br>访问控制领域:格尔软件-603232
    <br>数据防泄漏:启明星辰-002439.SZ、亿赛通
    <br>安全基础平台：安博通-688168，为安全公司提供安全产品基础平台走差异化路线
</p>
<p>名词： 等保2.0全称网络安全等级保护2.0制度，是我国网络安全领域的基本国策、基本制度。等级保护标准在1.0时代标准的基础上，注重主动防御，从被动防御到事前、事中、事后全流程的安全可信、动态感知和全面审计，实现了对传统信息系统、基础信息网络、云计算、大数据、物联网、移动互联网和工业控制信息系统等级保护对象的全覆盖。
    <br>AIRO（ARIO是Analytics-分析、Incident-事件管理、Response-响应、Orchestration-安全编排的缩写，主要指用在安全运营中心上的软件，用于发现威胁和响应补救
    <br>AIRO需求近两年才在国内兴起，头部安全公司综合安全能力强，可快速研发推出产品，而且可以广泛在政府、运营商、金融等率先有SOC需求的客户中推广该产品。22.40%21.40%19.30%36.90%天融信华为新华三其他16.20%14.10%13.30%56.40%网御星云深信服360企业安全其他19.60%19.30%11.30%11.10%38.70%启明星辰X公司新华三天融信其他25.50%13.40%5.80%55.30%深信服360企业安全X公司其他
    <br>2017年1月，南洋股份以57亿元的对价完成全资收购天融信股份100%股权，正式进军网络安全行业。公司利润基本由安全业务贡献，2018年公司实现归母净利润4.8亿元，天融信实现净利润5亿元。
</p>

<h5>图：深信服云安全解决方 </h5>
{% load static %}
<img src="{% static 'templates\ciss_exhi\industry\static\300454_cloud_safty_structure.png' %}" alt=" " />
<p>source:广发证券-计算机-刘雪峰-策略-计算机行业-2020年投资策略：新产业周期落地加速,中等市值龙头群体崛起 </p>

<h5>信息安全行业集中度</h5>
<p>A股头部公司（深信服、启明星辰、天融信）、收入规模中等的科创公司（安恒信息、山石网科、安博通）、 尾部三板公司（41家安全公司）的业绩数据进行说明。以上三类公司18年平均收入分别为：20、5、0.8亿元。 17、18年A股头部公司、科创公司、三板公司平均收入的增速分别是14%/24%、39%/34%、12%/13%。
    <br>综合实力强的A股头部公司、细分领域表现优秀的科创公司收入增速均高于三板公司，且科创公司由于专注 于新型领域实现了高于行业的增长，无产品、技术优势的公司正在被边缘化。 背后的原因是客户更加重视安全，对产品的性能、品牌有更高要求。 从盈利能力上看，A股头部公司＞科创公司＞三板公司。
    <br>头部公司地位不易超越，科创公司在细分市场可获得持续成长。 中国当前的信息安全市场还是以硬件为主，主要集中在网络边界层的防护上
    <br>龙头： 头部公司收入增速不及科创公司的原因：头部公司收入中传统硬件产品占大头，科创公司收入中符合产业趋势的单一产品占比较高，使得头部公司整体增速表现低于一些主打新产品的公司，但头部公司本身也在加大对新领域的研发投入力度，在新型领域收入体量并不低于科创公司
</p>

<h5>国家队和央企投资</h5>
<p>2019年10月19日电科等央企牵头成立中资信息，服务国家网络安全产业发展。 旗下有两家上市集成公司的中电科为例，拟入股南洋股份等安全公司（据南洋股份2019年11月8日公告），电科集团旗下上市公司华东电脑、太极股份的18年系统集成收入体量分别为52、32亿元。其下游客户与安全公司下游客户重叠度高，且公司本身缺乏通用安全产品。

</p>
<h4>个股：中国软件——子公司：天津麒麟——产品：麒麟操作系统</h4>
<p>中国软件属于中国电子CEC旗下。 2020年2月18日，中国电子信息产业集团有限公司(简称中国电子)旗下中国软件与技术服务股份有限公司(简称中国软件)发布公告： 中国软件子公司天津麒麟换股收购子公司中标软件事项，按照协议约定，天津麒麟更名为麒麟软件有限公司(简称麒麟软件)，已办理完成相关工商变更登记手续，并取得新的营业执照。 至此，由天津麒麟和中标软件整合而成的麒麟软件工商手续业已完成，基础软件的央企主力军吹响出征号角，中国操作系统新旗舰正式起航。
    <br> 麒麟软件以安全可信操作系统技术为核心，旗下拥有“中标麒麟”“银河麒麟”两大产品品牌，既面向通用领域打造安全创新操作系统和相应解决方案，又面向国防专用领域打造高安全高可靠操作系统和解决方案。 目前，麒麟软件已形成服务器操作系统、桌面操作系统、嵌入式操作系统、麒麟云等产品，能够同时支持飞腾、龙芯、申威、兆芯、海光、鲲鹏等国产CPU，并坚持开放合作打造产业生态，为客户提供完整的国产化解决方案。 麒麟软件旗下的操作系统系列产品，在党政、国防、金融、电信、能源、交通、教育、医疗等行业获得广泛应用。根据赛迪顾问统计，麒麟软件旗下操作系统产品，连续8年位列中国Linux市场占有率第一名。
</p>

<h4>数据安全：安恒信息688023.SH </h4>
<p>重点产品WAF、大数据安全、安全服务均符合产业发展趋势，相应细分市场增速高于安全行业整体增速。因此在达到一定规模之前有可能会表现出相对较好的成长性。安恒信息成立于2007年，公司能够提供从底层数据采集、处理、存储、分析挖掘到上层业务应用建设全方位安全建设能力。
    <br> 公司的优势产品在于数据安全及web应用安全产品。

</p>

<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="fundamental">基础软件：系统和办公等</h3>
<p>
    分类：云计算、服务器、操作系统、办公软件。互联网数据中心（Internet Data Center，简称IDC）
    <br> 办公软件：中对微软Office唯一竞争对手为金山办公688111.SH：基础办公软件30年深耕，受益自主可控产业链推进，订阅增值服务，从用户积累到商业模式变现的质变，成长空间大
    <br>ERP：金蝶国际0268.HK：2011年开始积极开启云服务转型，至2019年H1公司云收入占比达到37%。
    <br>金蝶云星空-不断进击的中型企业云ERP
    <br>金蝶云苍穹-定位于大型企业云ERP，云原生技术架构是其核心优势，微服务、容器、云端低代码可视化开发平台等技术应用将重构ERP助力大企业数字化转型。大型企业市场所特有的高粘性、高用户价值特性
    <br>预计公司2019-2021年云业务收入分别为13.27亿、21.4亿，32.1亿，EPS分别为0.12元、0.12元、0.13元。
</p>

<p>产品：WPS Office：
    <br> 公司2018年实现营业收入11.3亿，同比增长49.97%；实现归属母公司净利润3.11亿，同比增长44.94%；公司过去三年营收、净利润均实现较快增长
    <br>技术：WPS在兼容性、核心引擎、移动端适配、云端协同办公等多个技术维度已经与竞争对手差距缩小抑或形成自己的优势


</p>


<h4>云计算基础设施:AWS，阿里云等</h4>
<p>亚马逊AWS收入增速35%，微软Azure增速59%，巨头竞争进一步加剧云计算AWS营收90亿美金，同比增长35%，相比上一季度增速回落2.6个百分点。营业利润22.6亿美金，同比增长9%。AWS过去5个季度的增速变化分别为-3.2%、-0.4%、-3.9%、-4.1%、-2.6%，无明显加减速趋势。亚马逊对其Amazon EFS云存储（Infrequent Access，IA级别）进行了44%的降价，是其历史上最大的降价幅之一。（来源：亚马逊财报）微软公布Azure季度同比增速59%，同比增速回落17个百分点，环比回落5个百分点。过去5个季度，Azure收入增速的环比变化依次（从18Q3到19Q3）是-13%、0%、-3%、-9%、-5%，没有明显的加减速趋势。（来源：公司财报）。
</p>


<table id="ciss_table">
    <caption>国内外云计算主要细分领域和龙头</caption>
    <tr id="table_tr">
        <th>经营区域</th>
        <th>细分领域</th>
        <th>头部公司</th>
        <th>市场占有率</th>
        <th>增速</th>
        <th>备注</th>
    </tr>
    <tr>
        <td>美国</td>
        <td>云计算服务</td>
        <td>亚马逊AWS，微软Azure</td>
        <td> </td>
        <td>35%，59%</td>
        <td>AWS:90亿美金/季度</td>
    </tr>
    <tr>
        <td>中国</td>
        <td>云计算服务</td>
        <td>阿里巴巴-阿里云</td>
        <td> </td>
        <td>64%，80%</td>
        <td>Ali:90亿人民币/季度，腾讯：47</td>
    </tr>
    <tr>
        <td>中国</td>
        <td>服务器 </td>
        <td>浪潮信息、紫光股份</td>
        <td> </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>中国</td>
        <td>网络设备</td>
        <td>紫光股份</td>
        <td> </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>中国</td>
        <td>光模块</td>
        <td>紫光股份</td>
        <td> </td>
        <td></td>
        <td></td>
    </tr>

</table>
<p>
    光通讯也即光通信：光纤光缆，光器件，光设备。 光通信就是以光波为载波的通信。增加光路带宽的方法有两种：一是提高光纤的单信道传输速率；二是增加单光纤中传输的波长数，即波分复用技术（WDM）。 光通信设备：华为· 中兴通讯· 烽火通信· 诺基亚· 瑞斯康达· 通鼎互联。

</p>
<h4>国内外大企业资本开支</h4>
<p>亚马逊Amazon:亚马逊资本开支19Q3达到了约47亿美金，同比增长40%，环比增长32%，显示了强劲的投资回暖趋势。（来源：亚马逊财报）19Q3 AWS宣布开放其中东（巴林）区域（Region），亚马逊现有22个地理区域（Region）和69个可用区（Availability Zones，AZ），并且宣布了3个新的区域（印度尼西亚、巴林、南非）和10个新可用区的计划。
    <br>谷歌19Q3资本开支67亿美金，同比增长27%，环比增长10%。公司在电话会中提到，公司以往资本开支中用于技术基础设施和办公设施的比例大致平均是7:3,但是19Q3，这一比例大致是6:4。构成变化可能影响短期谷歌资本开支中用于服务器、网络设备、光模块等的采购。
    <br>Facebook19Q3现金资本开支35.32亿美金，同比增长6%，环比下降3%；资本开支+偿还融资租赁36.8亿美金。Facebook在电话会中调整资本开支全年预期为此前160-180亿美金的下限——160亿美金，意味着Q4的资本开支约50亿美金左右，环比上升约42%左右，同比上升约14%；相对于18年140亿美金的资本开支，同比上升14%。同时，Facebook在电话会中对2020年资本开支预期为170亿-190亿美金区间，中位数为180亿美金，2020年预期中位数同比19年增长12.5%，增速将比19年的14%略有放缓。（来源：公司财报说明电话会）
    <br>微软资本开支19三季度（20财年一季度）为34亿美金，同比下降6%，环比下降16%。若考虑租赁部分，资本开支加上融资租赁获得资产共计48亿美金
</p>
<p>阿里19Q3资本开支达到了约92亿人民币，虽然同比下滑21%，但环比增长57%，显示了强劲的投资回暖趋势。（来源：阿里巴巴财报）考虑到18年Q3是18年资本开支最大的季度，而19年Q4是否会超过Q3仍然有不确定性。阿里作为中国云计算领先公司，将其数字化转型经验带入传统领域，有望激发出新的需求从而维持进一步增长。
    <br> 腾讯19Q3资本开支达到了约66亿人民币，同比增长11%，环比增长52%。环比改善仍然十分明显（数据来源：公司业绩新闻）。腾讯云增速仍然快于阿里，云计算国内第二厂商跟随态势下，投资有望持续。
    <br>百度19Q3资本开支为22亿人民币，同比增长0%，环比增长65%。虽然环比改善明显，但也需考虑19Q2百度资本开支仅14亿美金，基数较低的因素
</p>

<h5>图：美国四大互联网厂商季度资本开支总计（亿美元） </h5>
{% load static %}
<img src="{% static 'templates\ciss_exhi\industry\static\software_google_msft_fb_amazon_capital_expenditure_1503_1903_q.png' %}" alt=" " height="90%" width="90%" />
<p>source:http://www.monyun.cn/portalpage/developerCenter.html </p>
<!-- 按照图片具体大小设置百分比 -->
<h5>图：BAT季度资本开支总计（亿美元） </h5>
{% load static %}
<img src="{% static 'templates\ciss_exhi\industry\static\software_BAT_capital_expenditure_1503_1903_q.png' %}" alt=" " height="90%" width="90%" />
<p>source:http://www.monyun.cn/portalpage/developerCenter.html </p>
<!-- 按照图片具体大小设置百分比 -->

<h4>企业云SaaS</h4>
<p>
    根据Gartner 2019年11月最新数据，全球公有云市场2019年市场规模为2278亿美金，预计2020年将增长至2664亿美金，增长幅度为17%，至2022年全球公有云市场规模将达到3546亿美金，CAGR为15.87%。SaaS仍为公有云市场中的重头，2018年市场规模为857亿美金，预计2022年将增长至1511亿美金，年化CAGR15.23%，SaaS全球行业未来几年增速有所放缓，证明全球尤其是以美国为代表的SaaS市场发展已趋于成熟。
    <br>龙头：Twilio、SAP、Salesforce、Google
    <br>平台化发展-美国：Salesforce-2007、Netsuite-2009、Workday-11
    <br>平台化发展-中国：金蝶0628.HK-2018、石基信息002153.SZ-2018{酒店云}、广联达002140.SZ-2018{数字建筑全生命周期平台}
</p>
<p>
    时间收购事项意义
    <br>2018年10月Twilio 20亿美金收购SendgridSendGrid是一家领先的数字通信平台，使企业能够通过电子邮件可靠、有效、规模性地与客户进行互动。SendGrid将与Twilio云通信系统实现打通
    <br> 2018年11月SAP收购80亿美金收购QualtricsQualtrics是专注调查及反馈软件供应商，Qualtrics将成为SAP云业务的一部分。通过此笔收购SAP将S业务延伸至客户体验管理。
    <br> 2019年4月Salesforce 收购MapAnything通过MapAnything，Salesforce将能够扩展销售云和服务云在交易完成后的影响力，提供市场领先的基于位置的智能解决方案，提高现场销售和服务员工的生产力
    <br> 2019年6月Salesforce.com 157亿美元收购大数据公司Tableau Software收购Tableau是Salesforce有史以来最大的一笔交易，Salesforce的客户关系管理软件将受益于Tableau的大数据分析，后者可以揭示隐藏的模式、未知的相关性、市场趋势和客户偏好。19722826630935515.81%16.94%15.80%14.94%0%5%10%15%20%05010015020025030035040020182019202020212022公有云市场总额（十亿美元）年增长率85.799.5116133151.116.10%16.58%14.66%13.61%0%5%10%15%20%02040608010012014016020182019202020212022SaaS市场总额（十亿美元）同比增长
    <br> 2019年6月Google 26亿美金收购LookerLooker定位于商业情报软件和数据分析平台，Looker将纳入谷歌云计算业务，将为客户提供更多的数据分析能力并创建可视化信息
    <br>2019年10月Salesforce13.5亿美元收购ClickSoftwareClickSoftware主要为现场服务工作提供智能化管理和优化，能够使每一位服务人员都能与智能服务平台相连接并接受系统调配，这将提高Salesforce Service Cloud作为服务平台的领导管理能力
</p>

<p>SaaS细分领域：CRM 46%，ERM 28%，内容管理 10%， 协同应用 9%，制造生产 3%，供应链 3%</p>

<p>2018年中国企业级应用SaaS厂商营收占比分散：top3：金蝶 5.3%，微软3.7%，SalesForce 3.4%</p>
<p>
    事件：传统龙头软件公司的云转型仍然保持乐观。目前以用友网络、金蝶国际、广联达、石基信息为代表的传统软件公司云转型所处阶段虽然有差异，但均有了清晰的路径规划
</p>

<table id="ciss_table">
    <caption>云平台：SaaS、PaaS、IaaS</caption>
    <tr id="table_tr">
        <th>类型</th>
        <th>细分领域</th>
        <th>用户</th>
        <th>公司</th>
        <th>增速</th>
        <th>备注</th>
    </tr>
    <tr>
        <td>SaaS</td>
        <td>财务、人力、采购、制造、销售、物流、金融、行业</td>
        <td>员工、用户、供应商、渠道商</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td>PaaS</td>
        <td>应用开发平台、社交、大数据、AI、IoT物联网、Dev&Ops运维、Operation运营</td>
        <td>SaaS</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td>IaaS</td>
        <td>云计算基础设施</td>
        <td>AWS、微软Azure、阿里云、华为云、腾讯云、京东云、金山云、私有云</td>
        <td>PaaS </td>
        <td> </td>
        <td> </td>
    </tr>
</table>

<h5>云服务的用户研究：金蝶云星空-0268.HK </h5>
<p>企业用户为主，传统ERP部署在本地或私有模式，中型、快速成长型企业对于云ERP的接受度最高，其核心逻辑在于这类型企业对成本敏感、业务弹性大、系统复杂度相对较低，这些痛点与云ERP的优势极为吻合。无论是海外的NetSuite、还是国内的金蝶旗下产品金蝶云星空，都已经通过亮眼的业务数据证明了该市场的高景气度。
    <br> 2015~2019H1 金蝶云星空营业收入|百万：105，200，390，605，384*2
    <br>技术特点：微服务、容器、云端代码可视化、产品交互。
    <br>客户画像：截至2019年中期，金蝶云苍穹共有43家客户，其中2019年H1获得28家新客户。2019年H1共获得合同额3300万，单客户平均合同额为120万。金蝶云苍穹客户中包括温氏、中国石油、河钢集团等国内知名大型企业客户（数据来源：公司2019年中报）。

</p>

<h4>互联网数据中心（Internet Data Center，简称IDC）</h4>
<p>2018年国内IDC市场规模为1228亿元，同比增速为29.8%。随着5G、物联网等终端应用场景技术 预计2020\2021年，中国IDC市场规模将超过2000、2600亿元。
    <br>特点：大型以上（机架数超过500架，可放置服务器数量≥5000台）数据中心是我国IDC行业增长主力。据工信部《数据中心白皮书（2018）》，2017年底，我国数据中心机架总体数量达到166万架，同比增长34%。其中，大型以上数据中心是增长主力，2017年大型以上数据中心机架数达82.8万架，同比增长68%
    <br>IDC互联网数据中心主要开支是数据中心的资本性支出{软件行业的房地产 }2018年支出前三企业：万国数据-GDS.O:43亿、鹏博士-600804.SH:30亿、光环新网-300383.SZ：9亿、数据港6亿。
    <br>区域分析：国内大规模数据中心分布情况来看，广东、上海、北京存量排名前三，分别占据总量的20.8%、12.8、9.6%。短期来看，广东、上海、北京等地区网络质量好，对IDC项目的能耗指标审批发放严格，相比国内其他地区，IDC资源依然相对稀缺
</p>

<p>鹏博士-600804.SH：
    <br>2018年：IDC占比仅20%，海外互联网占比76%；IDC营业收入仅仅13.5亿但在建工程较大，市值93亿。
    <br> 出口带宽资源及优秀的海外业务基础是鹏博士目前最护城河，有望为IDC业务创造更多附加价值。与市场对鹏博士IDC业务的悲观预期不同，认为公司IDC资源亟待重估。全球IDC龙头Equinix绕过公网，自建专有线路，这是其能够提高互联网数据交换业务、高质量连接的基础。预计未来三年内，太平洋海底光缆（PLCN）极有可能成为中国香港直接连接美国本土的唯一一条国际海缆项目。鹏博士既具有出口带宽，又具备海外业务基础的公司，有望借鉴Equinix商业模式，提升自有IDC业务商业价值。 　　转型战略：进入网络技术服务领域，与三大运营商化敌为友，再造的利润增长点。为了应对市场竞争过于激烈带来的业务下滑风险，鹏博士积极调整业务战略，与三大运营商达成合作，从传统的互联网接入商、三大运营商直接对手，拓展为兼顾网络工程、网络维护的综合服务公司，变为三大运营商的合作伙伴。
    <br>缺点：股权结构混乱、第一大股东持股仅8.4%
    <br>鹏博士、世纪互联在提供IDC业务同时，均可提供云计算解决方案，或者cdn、 流量分发等服务，丰富的业务类型对小客户有一定吸引力。两家公司目前的机柜数量均超过 3万个。近两年在数据中心的扩建上比较稳健。世纪互联17年底拥有机柜29,080个，18年底为30,654个；鹏博士16年底拥有机柜近2.8万个，18年年报约3万个。增长乏力。
</p>
<p>光环新网-300383.SZ:
    <br>2018年：IDC收入13亿，占比21%；云计算43.76亿占比73%；
    <br>资源储备均在北京上海地区。IDC资源稀缺性较强。公司在多地规划建设IDC，后续或有较大量的融资需求。

</p>
<p>宝信软件-600845.SH：
    <br>2018年业绩增长较快主要是受益于宝之云IDC业务的增长，以及钢铁自动化、信息化收入增加。
    <br>政策壁垒：上海市经信委发布的文件，计划2018-2020年“十三五”最后三年每年增加约2万个左右机柜，共计新增约6万个机柜，且拟分批次发放相应能耗指标。2019年上海已发放2.5万个机柜能耗指标，剩余部分将于2020年发放。从申请结果来看，6家企业每家获批机柜数量均不超过5000个，说明上海能耗指标申请竞争激烈，IDC机柜资源稀缺性显著。公司于首批获得5000个机柜能耗指标，证明了公司IDC实力。公司背靠宝钢，且拥有优秀的IDC建设及运维能力。
    <br>资源壁垒：宝之云IDC：依托宝钢、武钢丰富的土地和水电资源，公司积极在全国核心城市进行IDC布局，目前拥有华东地区单体最大的宝之云IDC。宝之云IDC项目主要选址在宝钢股份罗泾钢铁厂，总面积达到2.82平方公里（282万平方米），不考虑能耗指标等其他因素，具备未来扩容到几十万只机柜的潜在能力；在武汉、南京等骨干网核心节点城市，公司同样拥有丰富的IDC资源储备，具备较强扩容潜力。
    <br>建设IDC时可省去征地环节和配电系统投资。公司软件开发业务会产生现金流，且此前几次融资均有大股东支持
    <br>经营壁垒：公司传统业务主要包括信息化、自动化、智能化业务，公司软件产品与服务体系覆盖MES、ERP、BI、OA等全业务领域，MES、EMS、冷连轧、运维服务等产品和服务在钢铁领域市场占有率第一。钢铁行业从2016年以来持续复苏。
    <br>增长点：宝之云四期建设9000个数据中心需要投入19.53亿元（数据来源：宝信软件公开发行A股可转换公司债券申请文件反馈意见回复（修订稿））。IDC的建设对公司的资本实力及资金筹集能力有较高的要求，资本要求是行业的重要进入门槛之一。
    <br>技术壁垒：降低能耗水平涉及到冷却技术、空调技术、排热技术等多方面技术优化，更为严格的能耗指标要求将对IDC服务商的设计能力、技术能力提出更高的要求，行业有一定的进入门槛
    <br>市场格局：2018年电信、联通、移动的数据中心收入分别是234、147、72亿元，合计453亿元；主流第三方IDC厂商的收入合计为134亿元（来源为公司财报，国内第三方IDC厂商会同运营商签订合作协议，再通过运营商将数据中心提供给云计算厂商。这部分可能在运营商和第三方IDC厂商财报中重复计算收入。基于我们统计的数据，假设运营商不将这部分计入收入，则整体IDC市场规模是453+134=587亿元，第三方厂商市占率为23%（如果运营商将这部分计入收入，则第三方市占率高于23%）。由于第三方厂商IDC市场规模为不完全统计，实际市占率定高于23%。）
    <br>2017年、2018年，主流第三方IDC厂商IDC业务收入规模增速分别为93%、36%，运营商（电信+联通）IDC收入规模增速分别为19%、27%，近两年主流第三方IDC厂商的IDC收入规模增速整体高于运营商。
</p>
<p>腾龙控股集团-A轮：
    <br> 数据中心定制服务商腾龙控股集团于2019年11月28日在人民日报社演播大厅举行了A轮融资签约暨新闻发布会，腾龙控股集团本轮融资由多家投资机构共同完成，签约金额高达260亿，打破了IDC行业最高融资纪录，核心投资方包括摩根士丹利亚洲、中国南山集团。据腾龙控股集团执行副总裁于靖对腾龙发展与规划介绍，腾龙目前有超过10个大型数据中心正在规划建设中，截止2019年第三季度，已签约面积7.6万平方米；已开工面积24.1万平方米（对比数据，截止2019年三季度，万国数据签约数据中心总面积24万平方米）。其他快速发展的第三方IDC公司竞争力不容小觑。
    <br>股东方：主要股东包括招商局集团、中海油总公司、广东省国资委、深圳市国资委以及黄振辉投资公司。 中国南山集团以深圳赤湾为总部，旗下拥有上市平台南山控股（证券代码：002314）.
</p>
<p>头部IDC厂商对比
    <br>光环新网、鹏博士、世纪互联以提供零售型数据中心业务为主（零售型数据中心服务：系面向中小型互联网公司、一般企业等客户提供相对标准化的服务器托管服务及网络带宽服务）。数据港、万国数据、宝信软件主要提供批发型数据中心业务（批发型数据中心服务：系面向大型互联网公司或电信运营商提供定制化的服务器托管服务）。零售型机柜单价会略高于批发型。

</p>

<h4>重要用户IDC投资 </h4>
<h5>重要用户IDC投资:阿里巴巴</h5>
<p>数据港：于2018年5月15日公告《关于公司收到阿里巴巴需求意向函的公告》，计划与阿里开展总金额为82.80亿元（包电）的数据中心业务；于2019年12月3日公告《关于收到阿里巴巴需求意向函的公告》，计划与阿里开展总金额为24.4亿元（不包电）的数据中心业务；
    <br> 万国数据：2018年客户结构中，云服务商占比最高，为71.3%；
    <br> 浙大网新-600797.SH：于2018年8月在互动易平台表示，公司在IDC托管服务方面已经成为阿里云重要的数据中心合作伙伴；
    <br> 迈异信息：2017年宣布将与阿里云合作，在光谷的武汉未来科技城投资15亿元建设华中最大云数据中心，共同推进混合云战略合作。
    <br>宝信软件-600845.SH：所处上海，宝钢集团控股50.8%，股东背景强；上海IDC机柜资源分配有优势。建设9000个数据中心需要投入19.53亿元
</p>
<p>新参与者：二线城市钢铁厂参与IDC市场：杭钢股份和沙钢股份分别投资IDC和参股IDC公司。 </p>

<p>阿里倾向于选择一线城市、经济较发达的省会城市，或者距离一线城市不远、自然条件较好、土地成本较低的偏僻地区。云计算厂商在进行数据中心选址时，会综合考虑自然条件（发生自燃灾害的频率、外部空气冷却）、电力能源供应（电力成本、是否有替代能源）、通讯基础设施（光纤主干线路及其距数据中心选址的距离对传输速度的影响）等因素。综合考虑上述因素。
    <br> 阿里云目前有32个数据中心，分布情况为：北京（7）、上海（6）、深圳（5）、杭州（8）、张家口（2）、青岛（2）、呼和浩特（2）
    <br>阿里IDC：由阿里购置土地，交由第三方IDC厂商建设和运维；对于IDC资源较稀缺的一线城市，可接受租用IDC的模式

</p>
<table id="ciss_table">
    <caption>阿里云国内数据中心分布 2019</caption>
    <tr id="table_tr">
        <td>片区</td>
        <td>具体区域</td>
        <td>当前可用区数量（个）</td>
        <td>最早推出时间</td>
        <td></td>
    </tr>
    <tr>
        <td>华东1</td>
        <td>杭州</td>
        <td>8</td>
        <td>2011年</td>
        <td></td>
    </tr>
    <tr>
        <td>华北1</td>
        <td>青岛</td>
        <td>2</td>
        <td>2012年</td>
    </tr>
    <tr>
        <td>华北2</td>
        <td>北京</td>
        <td>7</td>
        <td>2013年</td>
    </tr>
    <tr>
        <td>华北3</td>
        <td>张家口</td>
        <td>2</td>
        <td>2014年</td>
    </tr>
    <tr>
        <td>华南1</td>
        <td>深圳</td>
        <td>5</td>
        <td>2014年</td>
    </tr>
    <tr>
        <td>华东2</td>
        <td>上海</td>
        <td>6</td>
        <td>2015年</td>
    </tr>
    <tr>
        <td>华北5</td>
        <td>呼和浩特</td>
        <td>2</td>
        <td>2017年</td>
    </tr>
</table>

<h5>重要用户IDC投资:政府</h5>
<p>政务云：据信通院数据，2018年中国政务云市场规模分别是370.8亿元，较2017年的292.6亿元同比增长27%。目前政务云已覆盖全国31个省级行政区，75%的地市级行政区。政务云基础架构建设即将完成，即将进行服务化重构、PaaS层加速建设、大数据应用创新等新的部署阶段，政务云市场及相应的IDC需求未来仍有望保持快速增长。光环新网已与北京、广州等多地政府开展业务
</p>
<h5>重要用户IDC投资:金融行业</h5>
<p>
    2019年中国金融云解决方案市场有望达65亿（9.3亿美元），未来4年复合增速可达40%。金融客户也逐步成为各IDC厂商重要客户。如宝信软件宝之云四期开始与太保签约。又如光环新网全资子公司中金云网在官网展示的重点金融客户有28家银行、4家保险公司。又如宝信软件宝之云四期开始与太保签约。
</p>


<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="replacement">国产替代软件</h3>
<p>软件主要包括了：操作系统、数据库、办公软件、ERP、其他{例如pdf阅读器、网页浏览器、等}
    <br> 计算机国产化替代市场分为华为等公司主导的通用市场和中国软件等公司主导的党政为主传统安可市场2块来看。
</p>

<h3>华为操作系统、服务器</h3>
<p>GaussDB数据库：2019年5月15日，华为正式推出GaussDB数据库。据华为透露，2018年3月，Gauss OLTP数据库开始在招商银行综合支付交易系统成功上线投产，顺利承接招商银行“手机银行”和“掌上生活”两大App交易流水流量
    <br>鲲鹏处理器-基于ARM：华为智能计算业务部总裁马海旭在接受采访时表示，“在条件成熟的情况下，华为会退出基于泰山服务器的整机市场，专注于做板卡、模组，不与服务器厂商竞争，从而更好地构建鲲鹏（基于ARM）生态。
    <br>同方、神州数码：合作伙伴可以基于鲲鹏主板和整机参考设计，快速开发出自有品牌的服务器和台式机产品。

</p>
<p>基于ARM cpu的弱点：
    <br>由于Intel、AMD等厂商的X86处理器芯片（CPU）具有海量的应用软件生态基础，X86CPU成为桌面端和服务器CPU市场的事实标准。受益于智能手机产业链的高速发展，华为作为头部厂商具有丰富的手机ARM CPU设计经验及安卓底层的Linux软件应用及优化经验。 全球最顶级的100万个域名中，96.5%运行Linux服务器，最顶级的1000万个域名中，70%运行Linux服务器。亚马逊AWS的EC2上，标准Linux及其发行版占有92%市场份额。<br>Linux、mysql、KVM、Docker、tomcat等大量主流开源软件构成了互联网应用的生态闭环。<br>但上述服务器应用，大多还是基于X86+Linux的组合。
    <br>微软、Oracle、SAP、Adobe、AUTOCAD等专业软件厂商，我们都缺少在细分领域能在规模实力和覆盖面上抗衡国外巨头的软件应用厂商，是生态推广的难度巨大的短板
    <br>下游诸多环节的国内厂商很多在该领域也和国外公司有巨大差距。SAP19Q2云营收约17亿欧元，同比增长40%。而金蝶云2019年中报云收入仅约5.5亿人民币。

</p>


<h5>图：计算机系统国产替代状况一览 </h5>
{% load static %}
<img src="{% static 'templates\ciss_exhi\industry\static\software_replacement_structure.png' %}" alt=" " height="70%" width="70%" />
<p>source:20191213_广发证券_行业策略深度_计算机_刘雪峰王奇珏郑楠庞倩倩_广发证券-计算机-刘雪峰-策略-计算机行业-2020年投资策略：新产业周期落地加速,中等市值龙头群体崛起-买入-2019-12-13 </p>
<!-- 按照图片具体大小设置百分比 -->

<h4>政府采购 </h4>
<p>在党政军办公体系，存在龙芯/飞腾/兆芯+麒麟/中科方德/深度的体系。
    <br>从18-19中央采购协议供货入围情况看，国产芯片服务器，除了龙芯、飞腾、申威、兆芯四家外，还有华为、海光、宏芯三家服务器芯片供应商。（来源：中央政府采购网）
    <br>其中服务器入围产品数最多的飞腾CPU平台（16款），同时也是厂商数量最多的（14家）。入围产品数（11款）、厂商数（10家）第二的是龙芯，第三是申威（9款产品，7家厂商。）。而新进入这一市场的海光（6款产品，1家厂商）和华为（5款，2家厂商）数量最少。（来源：中央政府采购网）
    <br> 2019年12月2日，中国软件发布公告《关于签订投资意向协议的公告》。公司与子公司中标软件有限公司（简称中标软件）、天津麒麟信息技术有限公司（简称天津麒麟）及两公司的其他各方股东签署投资意向协议书，各股东方以各自在中标软件和天津麒麟的出资，按照相应净资产评估值作价，出资设立新公司，原各股东成为新公司的股东，中标软件和天津麒麟成为新公司的全资子公司
    <br>国产CPU按指令集划分，还存在ARM（飞腾、华为鲲鹏），X86（兆芯、海光），MIPS（龙芯）、申威四个阵营，互相之间仍然存在应用不兼容的情况。未来随着安可行业持续推进，不排除CPU阵营也可能进一步筛选，重点发展其中较有前景的生态阵营。以通用市场的生态情况来看，X86和ARM体系是最为成熟的生态。

</p>



<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ind_fundamental">2，产业链基本面数据</h3>
<p>梳理产业链基本面数据：根据产业链定义梳理产品和服务、个股、行业分类、财务指标。识别高风险和不重要股票。
</p>




<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ind_data_standarded">3，标准化定性和定量数据</h3>
<p>构建标准化定性和定量数据：考虑时间维度和多产业链维度。 </p>

<h4>标准化定性信息</h4>
<p>

</p>


<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ind_table_columns">4，表格数据列设计</h3>
<p>4，表格数据列设计： 日期,股票名称,代码,中信行业1,中信行业2,中信行业3,概念1,概念2,产业链1,产业链2,notes,...
</p>






<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ind_maintainence">5，分析方案和数据表的定期维护机制</h3>
<p>分析方案和数据表的定期维护机制。
</p>









<hr>
<!-- ---------------------------------------------------------- -->
<h4 id="ind_def_anchor_stock">软件行业锚个股</h4>
<ul>
    <li>操作系统：中国软件600536.SH</li>
    <li>办公软件：金山办公688111.SH</li>
    <li>PC安全软件：三六零601360.SH</li>
    <li>金融行业软件：恒生电子600570.SH </li>
    <li>金融行业软件：恒生电子600570.SH </li>
    <li>政府行业软件：太极股份002368.SZ </li>
    <li>医疗行业软件：卫宁健康 300253.SZ</li>
    <li>汽车行业软件：中科创达 300496.SZ</li>
    <li>手机行业软件：虹软科技 688088.SH</li>
    <li>酒店行业软件：石基信息 002153.SZ</li>
    <li>数据中心IDC：宝信软件 600845.SH</li>
    <li>视频会议：亿联网络 300628.SZ</li>
    <li>系统集成和智慧城市：太极股份002368.SZ </li>
    <li>营销-企业信息传播：梦网科技002123.SZ </li>
    <li>信息安全：深信服 300454.SZ</li>
</ul>

<h4>操作系统：中国软件600536.SH</h4>
<p>中国软件属于中国电子CEC旗下。 2020年2月18日，中国电子信息产业集团有限公司(简称中国电子)旗下中国软件与技术服务股份有限公司(简称中国软件)发布公告： 中国软件子公司天津麒麟换股收购子公司中标软件事项，按照协议约定，天津麒麟更名为麒麟软件有限公司(简称麒麟软件)，已办理完成相关工商变更登记手续，并取得新的营业执照。 至此，由天津麒麟和中标软件整合而成的麒麟软件工商手续业已完成，基础软件的央企主力军吹响出征号角，中国操作系统新旗舰正式起航。
    <br> 麒麟软件以安全可信操作系统技术为核心，旗下拥有“中标麒麟”“银河麒麟”两大产品品牌，既面向通用领域打造安全创新操作系统和相应解决方案，又面向国防专用领域打造高安全高可靠操作系统和解决方案。 目前，麒麟软件已形成服务器操作系统、桌面操作系统、嵌入式操作系统、麒麟云等产品，能够同时支持飞腾、龙芯、申威、兆芯、海光、鲲鹏等国产CPU，并坚持开放合作打造产业生态，为客户提供完整的国产化解决方案。 麒麟软件旗下的操作系统系列产品，在党政、国防、金融、电信、能源、交通、教育、医疗等行业获得广泛应用。根据赛迪顾问统计，麒麟软件旗下操作系统产品，连续8年位列中国Linux市场占有率第一名。
</p>

<h4>金融行业软件：恒生电子（600570） </h4>
<p> </p>
<p>交流反馈20200213,恒生电子（600570）| 恒生在证券、基金行业的市占率分别达 60%与80%
    <br>2020疫情对一季度收入影响略大，费用端整体刚性 公司一季度收入占比全年15%，项目层面影响较大，员工出差和现场实施受到交通限制影响，收入确认 会有所延后，从已经完成的项目来看，有一部分比如科创板的收入会在Q1确认，个人预计在0.5亿左右， 往年一季度5-6亿，因此存量订单收入贡献小，一季度收入端承压。
    <br> 费用端-薪酬：公司面对互联网行业的薪酬竞争压力。
    <br> 政策变动催生系统需求，20年受益金融创新与金融开放 公司2020年主要的业绩增长来自MOM、金融期权、区块链、公募投顾、外资开放、新三板等部分。传统业务的增量，包括新三板经纪业务、公募MOM新建、私募MOM系统的升级改造、银行理财子公司新设等，
    <br> 2020年6亿增量拆分：新三板1亿（150万，130家，50-60%市占率）、MOM与公募投顾2.3亿 （公募200万万，100家，80%；私募券商PB100万， 130家，50%）、银行理财子公司1.6亿（1000万， 22家，74%）、期权1.2亿（卖方30万，280家，55%，买方15万，534家，88%）。外资开放部分，外资 自建比例大，系统需求集中在资管和QFII，按照现在排队的量测算来看，目前在申请18家证券和12家 私募，潜在增量2亿（证券1000万，18家，60%，基金1000万，12家，80%）。
    <br>产品-经纪UF3.0目前拓展2家， 客户粘性高，公司与金证抢占金仕达的市场份额，市占率从44%到50%，UF3.0可实现本地和云上实时切 换，能够承载更高的交易量，并发量会更高，下单速度会比UF2.0更快，同时系统解耦合，可弹性部署。 资管O45约有10家客户签订合同，目前处于实施阶段，中位数产品价格在500万左右。创新业务发展方面，前三季度增长14%，新设中小公募普遍采用深证通IaaS，不用架设机房和购买硬件，只需支付软件费用 大概1000万左右。
    <br>客户上云：希望借国产的机遇加速客户上云，券商与基金以公有云为主，银行以私有云为主，2020年的关键主要是看 监管的推动。

</p>

<h4>政府行业软件：太极股份002368.SZ</h4>
<p>承建众多国家级平台，彰显公司龙头地位。 在政务信息化领域，公司全力推进国家政务服务平台工程建设并中标国家政务服务平台“互联网+监管” 应用系统 建设。中国政务服务平台面向企业和群众发挥全国政务服务公共入口、公共通道、公共支撑作用，为政务服务全国 “一网通办”提供支撑。除此之外，公司还承担了交通运输部高速公路收费系统改造项目部级工程、国家医疗保障局 医疗保障信息平台建设工程、国家安全生产监管监察大数据平台建设等一批重大工程。


</p>

<table id="ciss_table">
    <caption>主要细分领域、客户、用户、产品或服务</caption>
    <tr id="table_tr">
        <th>子领域</th>
        <th>客户</th>
        <th>用户</th>
        <th>产品或服务</th>
    </tr>
    <tr>
        <td>国家政务服务</td>
        <td>国务院</td>
        <td>中国人民</td>
        <td>“一网通办”在线政务</td>
    </tr>
    <tr>
        <td>交通运输部</td>
        <td></td>
        <td></td>
        <td>高速公路收费系统</td>
    </tr>
    <tr>
        <td>国家医疗保障局</td>
        <td></td>
        <td></td>
        <td>医疗保障信息平台</td>
    </tr>
    <tr>
        <td>国家安全生产监管</td>
        <td></td>
        <td></td>
        <td>安全生产监管监察大数据平台</td>
    </tr>

</table>

<h4>医疗行业软件：卫宁健康 300253.SZ</h4>
<p>2019Q3营业收入5.3亿元，同比增长40%，逐步与此前的订单增速匹配。同时，2019年1-9月新增千万级订单33个（上年同期为18个），预收账款1.67亿元，同比增长31%，体现公司当前业务饱满。上文行业分析中提到，2020年包括电子病历等级评审、医保信息平台、DRGs付费推广均将带来医院、医保等信息化建设需求提升。
    <br>2019年三季报中，母公司主要业务为医疗信息化相关业务，单季度母公司实现营业收入2.51亿元，同比增长49.7%。 公司订单持续较快增长（数据来源：中国招标网）。2019年中报提到，健康中山项目稳步发展。报告期内，基于公司的“城市级智慧医疗健康运营服务平台”（包含健康城市云、互联网医院云、妇幼智慧云、电商云、护理云、聚合支付云、商业保险服务等多个云平台），并结合利用聚合支付等功能，中山市已有29家公立医院接入线下扫码支付功能、26家公立医院接入线上诊间支付功能。截至目前累计交易约691.8万次数，累计交易金额约11.43亿元。
</p>


<h4>汽车行业软件：中科创达 300496.SZ</h4>
<p>属于细分领域：驾驶舱软件龙头：
    <br> 中科创达多年深耕底层软件生态，技术竞争力突出，在智能车载软件、物联网这两个全新赛道，公司正在逐步成为行业的领跑者。车载业务：行业变革驱动产业链重塑，快速崛起的“软件Tier1”。汽车行业智能化、联网化、电动化变革将驱动产业链重塑，软件定义汽车时代来临，软件厂商在车载产业链的地位迅速提升。以HMI为代表的车舱智能化行业渗透率快速提升，多屏、大屏、智能成为HMI配置的演进方向，软硬件解耦趋势将催生车载OS、中间件的应用需求，软件Tier1有望逐步成为产业链话语权主导者。中科创达基于智能OS+Righware
    Kanzi 3D+智能视觉三大技术优势已经构建了完整的智能驾驶舱生态平台，以软件Tier1的全新定位赋能整车厂以及传统Tier1。
    <br>预计公司19-21年净利润分别为2.34亿、3.28亿、4.75亿；202002市值297亿。

</p>

<h4>手机行业软件：虹软科技 688088.SH </h4>
<p>智能手机行业，提供智能拍摄解决方案，优化拍摄体验。主要客户包括三星、华为、OPPO、维沃（VIVO）、LG、索尼、传音等全球知名手机厂商。
    <br> 手机摄像技术从单摄向多摄发展。近年来开始发展双摄与多摄拍摄技术，并通过软件算法优化成像效果。公司手机智能摄像解决方案商业模式主要包括计次收费与固定收费。
    <br> 摄像算法在汽车领域的应用来看，考虑到汽车工业标准与消费电子的差异和产业链的准入门槛，仍然需要公司长期持续投入技术研发与资本投入。
    <br>预测公司19-21年收入分别为5.6、6.7、7.8亿元，增速分别为22%、20%、16%
</p>

<h4>数据中心IDC：宝信软件 600845.SH</h4>
<p>
    软件开发及IDC业务均是公司未来几年的重要增长点。
    <br>软件开发: 2018年，公司软件开发（含信息化、自动化、智慧城市）、服务外包（含IDC、IT运维）、系统集成、其他业务在收入中占比分别为64.37%、30.88%、4.42%、0.33%。
    <br>IDC: 北上广IDC资源依然稀缺。公司IDC业务前景判断：基于公司现有IDC规划，我们预计公司19、20年IDC收入分别为13.33、16.58亿元。
    <br> 依托宝钢，公司在上海地区具备厂房、供配电优势，无需征地建厂房、且可省去电力成本投入，未来几年仍有望在上海地区扩建IDC业务。宝武集团信息化需求将是公司软件开发业务未来几年增长的重要支撑。
    <br> 据公司官网数据，公司在钢铁MES领域市占率超过50%
</p>


<h4>系统集成和智慧城市：太极股份002368.SZ </h4>
<p>2019H1,前4主营业务：系统集成14.9亿、网络安全6.79亿、智慧应用与服务6.24、云服务2.11亿。
</p>
<h5>投资要点</h5>
<p>公司背景： 太极股份是国家关键领域和众多重要行业重大信息系统总体建设单位。在新技术发展背景下， 公司以“数据驱动、云领未来、网安天下”为核心战略指引，开启第三次业务转型。
    <br>经营情况： 2016年以来，公司综合毛利率从19.6％大幅提升4.3pct到23.9％；2019年半年报，公司传统系统集成业务 占收入比例已经从2016年的73.59％下降到不足50％。与此同时公司布局的云服务、 网安与信创、智慧服务等业务发展渐入佳境，多项财务指标表明公司正日益摆脱传统集成商的角色。
    <br>市场份额：系统布局信创软件产业链，价值尚待认识。太极是中国电科旗下信创产业总体单位， 除了集成业务，从基础层到应用层体系化布局了数据库（人大金仓）、中间件（金蝶）、OA（慧点科技）， 加上子集团控股的普华软件（操作系统），实现了对三大基础软件的完整布局。人大金仓和金蝶天燕在各 自领域均具备领先的技术和产品，市场占有率分别有望达到30％、15％。

</p>

<h4>视频会议：亿联网络 300628.SZ</h4>
<p>与微软合作产品上市，有望打开中大型企业增量市场。
    <br> 亿联已成为全球占有率第一的SIP厂商据Frost＆Sullivan报告，2014 -2017年，亿联网络IP台式机出货量增长迅速，复合年增速（CAGR）达到24.7％，2017年亿联网络在全球范围内SIP桌面话机总出货量超过290万台，超过竞争对手成为全球市场占有率第一的SIP话机供应商。
    <br> 视频会议将成为企业办公刚需，云+端模式将成为中小会议室主流视频会议系统能够减少差旅消耗，提升员工交流协作效果等作用，将成为现代企业办公的必需品。视频会议系统有三种主流构型：纯客户自建、云+端、纯软件模式。
    <br>微软合作：18年9月末，亿联网络和微软宣布在视频会议领域达成战略合作。微软2019年7月11日公布的数据，微软Teams的日活用户数（DAU）超过1300万，月活用户数超过1900万（MAU），且Teams的DAU增长态势远快于Slack。微软官网的配套桌面电话中，亿联产品占到了总品种数的47%；配套会议室电话方面，亿联在占有40%的品类数量，且在拾音距离等指标上好于Polycom的同时，提供明显优于对手的价格；配套会议室系统方面，亿联产品配置较高、定价较实惠、音频产品突出、Skype
    for Business 和Teams均支持，具有较好的竞争力。
</p>

<h4>信息安全：深信服 300454.SZ</h4>
<p>主要产品有：上网行为管理、下一代防火墙、VPN(虚拟私有网络)、应用交付和广域网优化等业务。根据IDC研究报告（引自公司官网），2018年，公司VPN国内市占率为31%，连续十一年蝉联第一；上网行为管理国内市占率为26%，连续十年蝉联第一.
    <br> 云计算业务的核心产品包括企业云、桌面云以及围绕云服务相关一系列安全组件。根据IDC研究报告（引自公司官网），2018年公司的超融合软件国内市场占有率第二，市场份额为17.4%；超融合软硬件整体在国内市场占有率稳居前三，市场份额为15.5%。公司近年云计算业务增长迅猛，云计算收入16-18年增速分别为208%、146%、60%，云计算业务收入占比由16年的13%增长至18年的27%，18云计算收入8.7亿，成为公司成长的重要支柱。
</p>

<h4> </h4>

<h4>酒店行业软件：石基信息 002153.SZ</h4>
<p>全球高端酒店集团为代表的酒店业将进入下一代云系统切换周期。
    <br>酒店信息系统以PMS为核心，正处于从传统架构向云迁移的转型期。云化的系统将赋予酒店更好系统集成能力、更强的集团管控能力以及数据打通带来运营效率的提升。PMS是酒店系统云化的核心，云PMS早期渗透以中小型酒店为主导，全球高端酒店集团将是下一波PMS云化的主要驱动力。顶级酒店集团对下一代酒店云系统的要求可以简单概括为弹性轻量、灵活互通、数据反哺运营
    <br>海外竞争对手对标：Infrasys Cloud、Concept、Snapshot、ReviewPro等产品的价值所在。Infrasys Cloud目前已获得多家国际知名酒店集团认证，为后续云PMS等产品落地奠定坚实基础。

</p>

<h4>建筑造价转云：广联达002410.SZ </h4>
<p>2019年是公司造价转云攻坚之年，十个省份转云将带来用户的大量转化，1）盗版用户的转化有望成为客户需求数量核心增量，随着公司更多数据的披露有望逐步验证。2）更多增值服务的捆绑销售以及强势区域的议价能力有助于单用户价值的提升，进而塑造更大市场空间。
    <br>2018年公司打破原来由多家子公司独立运作的模式，进行战略整合，针对组织、人员、渠道及产品全方位融合，2019年进一步发布新平台-数字项目管理（BIM+智慧工地）平台，该平台是“平台+组件”的项目级产品。

</p>

<h4>营销-企业信息传播：梦网科技002123.SZ</h4>
<p>梦网科技002123.SZ:剥离电力资产，全力发展企业通信营销业务
    <br> 新产品“富信”与传统短信（仅70个汉字）、彩信相比，能支持30~40张高清图片、或200万字以上文字、或短视频。企业服务号是基于移动终端，将传统短信列表页改造升级为服务号消息列表页，为企业和组织提供的全链路、高触达的新型营销及服务门户。公司10月17日公告，梦网科技近日与华为软件技术有限公司（签署了《华为与梦网富信和服务号产品合作协议》
    <br>预计2019-2021年收入分别为30.9、44.3、61.8亿元，同比增长12%、43%及40%；归母净利润分别为3.8、5.4、9.3亿元，同比增长379%、43%及73%

</p>





<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="port_simu_software_top30">软件产业链top30v200217</h3>
<p>PMS组合“软件产业链top30v200217”主要构建步骤为：
    <br>1，获取重仓软件行业的基金重仓股;基金筛选方法：找持有细分龙头股票最多的基金，例如000697.OF持有恒生电子较多
    <br>2，行业预测收益选股
    <br>3,打分
    <br>4,notes:软件领域共有106家公司，我们实际上只选取了前30名。
    <br> 业绩：190101-200217收益+106.22%；200101-200217收益+22.36%；

</p>
<p>市场同类产品对标： 基金经理：艾定飞，基金公司：华商基金管理有限公司； 基金规模 8.46亿 投资类型 股票型基金 投资风格 比较基准 中信计算机指数收益率*80%+中证全债指数收益率*20%

</p>



{% endblock content %}