{% extends "base.html" %}
<meta charset="UTF-8">
<!-- for HTML5 -->
<!-- The block items for this base html file is: {nav_sub, left_frame,menu,content } -->
<!-- 产业链网页模板 -->

{% block nav_sub %}

<a id="a_nav" href="./core_industry.html">核心产业链 |Core industry chain</a> >>
<a id="a_nav" href="./last_industry.html">最新产业链 |Lastest industry chain</a> >>

<br>
<a>细分产业链列表：</a>
<a id="ciss_menu" href="#material">上游材料 </a> >>
<a id="ciss_menu" href="#equipment">上游设备 </a> >>
<a id="ciss_menu" href="#component">电子元器件 </a> >>
<a id="ciss_menu" href="#IC_design">集成电路-设计 </a> >>
<a id="ciss_menu" href="#IC_manufacture">集成电路-制造 </a> >>
<a id="ciss_menu" href="#IC_seal_test">集成电路-封测 </a> >>
<a id="ciss_menu" href="#semi_product">半导体产品 </a> >>

<br><a>产业链模拟组合：</a>
<a id="port_pms" href="#port_simu_media_top40">电子和芯片产业链top40v200218</a> >>
<br><a>细分领域锚个股：</a>
<a href="#ind_def_anchor_stock">细分领域锚个股</a> {% endblock nav_sub %} {% block right_frame %}

<!-- Menu in right frame -->
<!-- ---------------------------------------------------------- -->
<h1>半导体（电子和芯片）产业链 </h1>
<h3>目录</h3>
<ul>
    <li><a href="#abstract">1，概要 </a></li>
    <li><a href="#industry_methodology">2，行业分类方法和产业链分析方法 </a></li>
    <li><a href="#sellside_reports">3，主要外部参考资料 </a></li>
    <li><a href="#inside_reports">4，内部研究报告&产业链列表 </a></li>
    <li><a href="#research_menu">5，产业链目录和研究计划 </a></li>
    <li><a href="#industry_db">6，产业链数据和数据库 </a></li>
    <li><a href="#industry_stra">7，产业链相关策略 </a></li>
    <li><a href="#industry_port">8，产业链相关组合和指数 </a></li>
    <li><a href="#industry_reference">9，参考信息和链接 </a></li>

    <li><a href="#ind_definition">1，获取产业链定义  </a></li>
    <li><a href="#ind_fundamental">2，产业链基本面数据   </a></li>
    <li><a href="#ind_data_standarded">3，标准化定性和定量数据 </a></li>
    <li><a href="#ind_table_columns">4，表格数据列设计  </a></li>
    <li><a href="#ind_maintainence">5，分析方案和数据表的定期维护机制。 </a></li>
</ul>
<h3><a id="ind_definition">半导体产业链分析 </a></h3>
<ul>
    <li><a href="#ind_def_abstract">a：</a> </li>
    <li><a href="#ind_def_sub_chain">景气度提升的细分领域（子产业链）：</a> </li>
    <li><a href="#ind_def_anchor_list">行业市值龙头</a> </li>
    <li><a href="#ind_def_anchor_stock">行业锚个股</a> </li>

</ul>

<h3>细分产业链目录</h3>
<ul>
    <li><a href="#material">上游材料 </a></li>
    <li><a href="#equipment">上游设备 </a></li>
    <li><a href="#component">电子元器件 </a></li>
    <li><a href="#IC_design">集成电路-设计 </a></li>
    <li><a href="#IC_manufacture">集成电路-制造 </a></li>
    <li><a href="#IC_seal_test">集成电路-封测 </a></li>
    <li><a href="#semi_product">半导体产品 </a></li>
</ul>

{% endblock right_frame %} {% block left_frame %}


<!-- Menu in left frame -->
<hr>
<!-- ---------------------------------------------------------- -->
<h1>半导体（电子和芯片）产业链</h1>
<p>半导体（电子和芯片）产业链对应中信一级行业计算机，需要在A股中梳理出与其他行业相关的股票，把这些公司计入 对应产业链。并根据不同时期的最优预期收益，设计产业链组合。
    <br>2020年的重点是国产半导体在不同行业的国产替代，主要的几个大领域有 ：基础和办公、行业软件、仿制、自主可控、安全。
    <br>2020年3月的重点是疫情的影响。
</p>
<hr>
<h3>目录</h3>
<ul>
    <li><a href="#abstract">1，概要 </a></li>
    <li><a href="#industry_methodology">2，行业分类方法和产业链分析方法 </a></li>
    <li><a href="#sellside_reports">3，主要外部参考资料 </a></li>
    <li><a href="#inside_reports">4，内部研究报告&产业链列表 </a></li>
    <li><a href="#research_menu">5，产业链目录和研究计划 </a></li>
    <li><a href="#industry_db">6，产业链数据和数据库 </a></li>
    <li><a href="#industry_stra">7，产业链相关策略 </a></li>
    <li><a href="#industry_port">8，产业链相关组合和指数 </a></li>
    <li><a href="#industry_reference">9，参考信息和链接 </a></li>

    <li><a href="#ind_definition">1，获取产业链定义 </li>
<li><a href="#ind_fundamental">2，产业链基本面数据  </li>
<li><a href="#ind_data_standarded">3，标准化定性和定量数据</li>
<li><a href="#ind_table_columns">4，表格数据列设计 </li>
<li><a href="#ind_maintainence">5，分析方案和数据表的定期维护机制。 </li>
</ul>  
{% endblock left_frame %}

{% block menu %} 



<h3>细分产业链目录</h3>
<ul>
    <li><a href="#material">上游材料 </a></li>
    <li><a href="#equipment">上游设备 </a></li>
    <li><a href="#component">电子元器件 </a></li>
    <li><a href="#IC_design">集成电路-设计 </a></li>
    <li><a href="#IC_manufacture">集成电路-制造 </a></li>
    <li><a href="#IC_seal_test">集成电路-封测 </a></li>
    <li><a href="#semi_product">半导体产品 </a></li>
</ul>

{% endblock menu %} {% block content %}



<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="abstract">1，概要</h3>
<hr>
<p>{......}
    <br>对应文件：0跨行业的产业链组合_200213.xlsx
    <br>对应文件目录：C:\zd_zxjtzq\rc_reports_cs\行业分类_产业链量化
</p>


<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="industry_definition">产业链定义</h3>
<p>获取产业链定义：基于某个公司研究或行业研究报告、某个事件、Wind产业链分类等。
</p>
<h4 id="ind_def_abstract">2020计算机行业概览：</h4>
<p>
    当前所处阶段：商业化场景落地实现收入;细分领域龙头业务从1到N。
    <br>计算机产业发展周期：每一轮产升级周期：技术可行性论证+产品研发阶段资本投资+商业化场景落地实现收入+快速增长增加 +成熟期财务数据披露+衰退或改进期。
    <br>历史复盘：早期行业软件0-->1,行业基数小、竞争者少、增长较容易； 当前云计算基础设施晚上、发展方向明确、商业模式确定、客户群体带来正循环、头部企业资本实力强， 龙头企业增长更快。
    <br>估值提升因素：所处行业的成长性、天花板；公司产品或服务在行业内的竞争力；产品和商业模式变动。

    <br>数据来源：20191213_广发证券_行业策略深度_计算机_刘雪峰王奇珏郑楠庞倩倩_广发证券-计算机-刘雪峰-策略-计算机行业-2020年投资策略：新产业周期落地加速,中等市值龙头群体崛起-买入-2019-12-13.pdf
</p>


{% load static %}
<h5>图：自动驾驶产业链</h5>
{% load static %}
<img src="{% static 'templates\ciss_exhi\industry\static\software_chain_autodrive.png' %}" alt=" " height="90%" width="90%" />
<p>source:广发证券-计算机-刘雪峰-策略-计算机行业-2020年投资策略：新产业周期落地加速,中等市值龙头群体崛起 </p>
<!-- 按照图片具体大小设置百分比 -->


<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ind_fundamental">2，产业链基本面数据</h3>
<p>梳理产业链基本面数据：根据产业链定义梳理产品和服务、个股、行业分类、财务指标。识别高风险和不重要股票。
</p>




<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ind_data_standarded">3，标准化定性和定量数据</h3>
<p>构建标准化定性和定量数据：考虑时间维度和多产业链维度。 </p>

<h4>标准化定性信息</h4>
<p>

</p>


<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ind_table_columns">4，表格数据列设计</h3>
<p>4，表格数据列设计： 日期,股票名称,代码,中信行业1,中信行业2,中信行业3,概念1,概念2,产业链1,产业链2,notes,...
</p>






<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ind_maintainence">5，分析方案和数据表的定期维护机制</h3>
<p>分析方案和数据表的定期维护机制。
</p>







<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="material">上游材料</h3>
<p>

</p>

<h4>

</h4>



<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="equipment">上游设备</h3>
<p>
    <br>例子：ASML光刻机。华为海思的芯片大部分在台积电代工，台积电称，如果执行新规，14nm的生产线受影响，但7nm的生产线不受影响。 为了规避风险，华为开始将部分14nm的芯片撤回内地代工。 承接这些产能的，正是中芯国际。
    <br>中芯国际：公司背后也有不少A股上市公司成为其产业链的组成部分。
    <br>封测巨头，长电科技。长电的核心业务是封测，也就是芯片出厂前的最后一个环节，可以理解为把裸体芯片安装到基板上并进行测试。这个环节相对于光刻，技术含量略低，所以中国企业早早攻克了技术难关，长电成为全球前三大封测厂之一。
    <br>并购全球封测巨头新加坡星科金朋的过程中，长电科技依靠国家半导体基金和芯电半导体的资金，实现了蛇吞象。并购完成后，公司第一大股东成为大基金，第二大股东是芯电半导体。 而芯电半导体的背后，正是中芯国际。至此，长电科技成为中芯国际旗下成员。
    <br>2020年1月22日，长电科技发布2019年业绩预告，主要有两点，一是公司盈利8、9000万元；二是盈利主要来自非经常性损益，扣非净利润亏损7-9个亿左右。 这些非经常性损益，由星科金朋以无形资产出资长电集成电路（绍兴）有限公司产生投资收益 7.7 亿元、收到的各类补助及部分金融工具公允价值变动损益等构成。
    <br>光刻胶供应商，南大光电、安集科技。从某种意义上讲，光刻其实就是刻章，只不过在硅片上通过光刻机用特殊波段的光进行雕刻，光刻胶就是形成要雕刻出效果纹理的作用，引导光的走向。 中国的化学人才积累的很多年，在光刻胶领域实现了突破。不少在光刻胶行业创业的，都是归国的学术大佬。
    <br>安集科技： 安集科技是一家科创板上市公司，有大基金入驻。业绩预报显示，营业总收入28,541万元，归属于母公司股东的净利润6,550万元。 安集科技的创始团队是海归，创始人是美国莱斯大学材料化学博士后，美国休斯顿大学材料化学博士后，有IBM高管经历，技术团队实力雄厚。 公司的光刻胶技术属于国际领先，毛利率高达50%，在芯片行业属于高毛利公司。公司是中芯国际、长江存储、台积电、联电、英特尔等国内外知名芯片企业的供应商。 目前公司规模还比较小，但随着合作伙伴的不断壮大，尤其是中芯国际、长江存储正在爆发式发展，公司未来前途不可限量。
    <br>硅片提供商，上海新阳 和其他的半导体供应商不同，上海新阳是一家做涂料的。核心业务是一种氟碳粉末涂料，是一种替代漆的较高端环保的装饰材料，全部营收中只有大约45%的业务和半导体有关，所以在同行中，公司的抗风险能力相对比较强。 公司旗下有多家和半导体相关的子公司，其中一家生产大硅片，通过了中芯国际的认证，成为中芯国际的供应商。
    <br>2020年 2月26日，公司发布了业绩预告，业绩比较“吓人”。 本报告期公司的营业利润、利润总额和归属于上市公司股东的净利润较上年同期分别上升了 4464.95%、9500.09%、3059.82%。 主要原因有两个，一是上年同期净利润只有500多万，基数太小；二是公司持有的股权公允价值变动影响利润高达2.6亿，剔除掉该因素，公司业绩其实是下滑的。
    <br>测试合作伙伴，晶瑞股份 2月26日，晶瑞股份发布业绩预报，公司实现营业收入 75,572.40 万元，同比下降 6.8%；实现营业利润4,575.74 万元，同比下降 32.63%；实现利润总额 4,557.29 万元，同比下降 32.58%；实现归属于上市公司股东的净利润 3,132.09 万元，同比下降 37.63%。 在长电都扣非净利润巨亏的情况下，晶瑞股份能够赢利已经属于不易。封测行业全球竞争非常残酷，而且随着中芯国际整合了长电科技，晶瑞股份未来的份额可能还会减少。


</p>




<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="component">电子元器件</h3>
<p>

</p>
<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="IC_design">集成电路-设计</h3>
<p>

</p>





<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="IC_manufacture">集成电路-制造</h3>
<p>

</p>


<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="IC_seal_test">集成电路-封测</h3>
<p>

</p>


<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="semi_product">半导体产品</h3>
<p>

</p>



{% load static %}
<img src="{% static 'templates\ciss_exhi\industry\static\online_office.png' %}" alt="在线办公产业链.png" height="60%" width="60%" />
<p>source:Wind.</p>
<!-- height=100 width=100  -->








<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ind_fundamental">2，产业链基本面数据</h3>
<p>梳理产业链基本面数据：根据产业链定义梳理产品和服务、个股、行业分类、财务指标。识别高风险和不重要股票。
</p>




<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ind_data_standarded">3，标准化定性和定量数据</h3>
<p>构建标准化定性和定量数据：考虑时间维度和多产业链维度。 </p>

<h4>标准化定性信息</h4>
<p>

</p>


<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ind_table_columns">4，表格数据列设计</h3>
<p>4，表格数据列设计： 日期,股票名称,代码,中信行业1,中信行业2,中信行业3,概念1,概念2,产业链1,产业链2,notes,...
</p>






<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ind_maintainence">5，分析方案和数据表的定期维护机制</h3>
<p>分析方案和数据表的定期维护机制。
</p>









<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="port_simu_media_top40">半导体产业链top40v200218</h3>
<p>PMS组合“传媒产业链top40v200218”主要构建步骤为：
    <br>1，获取Wind终端传媒行业169只股票地财务预测数据，进行打分；
    <br>2，获取2019年初之前1年市场价格、成交额、换手率等数据，进行打分；
    <br>3，对基金重仓持股指标打分
    <br>4，对以上分数加总，剔除2019年以后上市股票，打分权重向预期净利润较高和基金持股梳理较多地股票倾斜。
    <br> 业绩：190101-200217收益+68.09%；200101-200217收益+18.38%；

</p>
<p>市场同类产品对标：工银瑞信文体产业001714 基金经理：袁芳，基金公司：工银瑞信基金管理有限公司； 基金规模 29.65亿 投资类型 股票型基金 中证文体指数收益率*80%+中债综合财富(总值)指数收益率*20%
    <br> 2020年YTD收益：+11.15%；2019年收益率：57.6%

</p>


<hr>
<!-- 个股和细分领域的区别在于多了个股的个性化因素分析例如公司股东和管理层、产品特点等，同时部分公司可能有多个经营的领域需要拆分
    --------------------------------------------------- -->
<h4 id="ind_def_anchor_stock">行业锚个股：半导体</h4>
<ul>
    <li>游戏-HKUS：腾讯-0700.HK、网易-NTES.O </li>
    <li>游戏-A股:三七互娱-002555.SZ、完美世界-002624.SZ、{世纪华通-002602.SZ} </li>
    <li>影视：芒果超媒-300413.SZ、光线传媒-300251.SZ、万达电影-002739.SZ </li>
    <li>金融信息服务：东方财富-300059.SZ、 </li>
    <li>传媒行业信息服务：视觉中国 </li>
    <li>电商MCN：阿里巴巴-BABA.N、壹网壹创-300792.SZ </li>
    <li>VRAR：恒信东方?-300081.SZ </li>
    <li>营销：分众传媒-002027.SZ、蓝色光标-300058.SZ </li>
    <li>政府媒体：人民网-603000.SH、新华网-603888.SH</li>

</ul>









{% endblock content %}