{% extends "base.html" %}
<meta charset="UTF-8">
<!-- for HTML5 -->
<!-- The block items for this base html file is: {nav_sub, left_frame,menu,content } -->
<!-- 产业链网页模板 -->

{% block nav_sub %}

<a id="a_nav" href="./core_industry.html">核心产业链 |Core industry chain</a> >>
<a id="a_nav" href="./last_industry.html">最新产业链 |Lastest industry chain</a> >>

<br>
<a>细分产业链列表：</a>
<a id="ciss_menu" href="#bank">银行 </a> >>
<a id="ciss_menu" href="#insurance">保险 </a> >>
<a id="ciss_menu" href="#security">证券 </a> >>
<a id="ciss_menu" href="#payment_platform">支付平台：支付宝和微信钱包 </a> >>
<a id="ciss_menu" href="#invest_platform">理财平台：东方财富 </a> >>
<a id="ciss_menu" href="#fintech_info">金融系统和信息服务 </a> >>
<a id="ciss_menu" href="#other_finance">其他：房地产金融、汽车金融 </a> >>

<br><a>产业链模拟组合：</a>
<a id="ciss_menu" href="#port_simu_media_top40">新金融产业链top40v200218</a> >>
<br><a>细分领域锚个股：</a>
<a id="ciss_menu" href="#ind_def_anchor_stock">细分领域锚个股</a> {% endblock nav_sub %}
<br> {% block right_frame %}

<!-- Menu in right frame -->
<!-- ---------------------------------------------------------- -->
<h1><a href="#title"> 新金融产业链 </a></h1>
<h3>目录</h3>
<ul>
    <li><a href="#abstract">1，概要 </a></li>
    <li><a href="#industry_methodology">2，行业分类方法和产业链分析方法 </a></li>
    <li><a href="#sellside_reports">3，主要外部参考资料 </a></li>
    <li><a href="#inside_reports">4，内部研究报告&产业链列表 </a></li>
    <li><a href="#research_menu">5，产业链目录和研究计划 </a></li>
    <li><a href="#industry_db">6，产业链数据和数据库 </a></li>
    <li><a href="#industry_stra">7，产业链相关策略 </a></li>
    <li><a href="#industry_port">8，产业链相关组合和指数 </a></li>
    <li><a href="#industry_reference">9，参考信息和链接  </a></li>

    <li><a href="#ind_definition">1，获取产业链定义  </a></li>
    <li><a href="#ind_fundamental">2，产业链基本面数据   </a></li>
    <li><a href="#ind_data_standarded">3，标准化定性和定量数据 </a></li>
    <li><a href="#ind_table_columns">4，表格数据列设计  </a></li>
    <li><a href="#ind_maintainence">5，分析方案和数据表的定期维护机制。 </a></li>
</ul>

<h3>细分产业链目录</h3>
<ul>
    <li><a href="#bank">银行 </a> </li>
    <li><a href="#insurance">保险 </a></li>
    <li><a href="#security">证券公司、期货公司、基金公司 </a></li>
    <li><a href="#payment_platform">支付平台：支付宝和微信钱包 </a></li>
    <li><a href="#invest_platform">理财平台：东方财富 </a></li>
    <li><a href="#fintech_info">金融系统和信息服务 </a></li>
    <li><a href="#finance_platform">金融控股平台</a></li>
    <li><a href="#other_finance">其他：房地产金融、汽车金融 </a></li>
</ul>

{% endblock right_frame %} {% block left_frame %}


<!-- Menu in left frame -->
<hr>
<!-- ---------------------------------------------------------- -->
<h1 id="title">新金融产业链 </h1>
<p>金融产业链对应中信一级行业中的银行、非银行金融、房地产、综合金融四个领域。
    <br> 新金融产业链主要包括互联网支付平台（蚂蚁金服和腾讯钱包）、保险金融、房地产金融等增长较快的领域。
</p>
<hr>
<h3>目录</h3>
<ul>
    <li><a href="#abstract">1，概要 </a></li>
    <li><a href="#industry_methodology">2，行业分类方法和产业链分析方法 </a></li>
    <li><a href="#sellside_reports">3，主要外部参考资料 </a></li>
    <li><a href="#inside_reports">4，内部研究报告&产业链列表 </a></li>
    <li><a href="#research_menu">5，产业链目录和研究计划 </a></li>
    <li><a href="#industry_db">6，产业链数据和数据库 </a></li>
    <li><a href="#industry_stra">7，产业链相关策略 </a></li>
    <li><a href="#industry_port">8，产业链相关组合和指数 </a></li>
    <li><a href="#industry_reference">9，参考信息和链接 </a></li>

    <li><a href="#ind_definition">1，获取产业链定义 </li>
<li><a href="#ind_fundamental">2，产业链基本面数据  </li>
<li><a href="#ind_data_standarded">3，标准化定性和定量数据</li>
<li><a href="#ind_table_columns">4，表格数据列设计 </li>
<li><a href="#ind_maintainence">5，分析方案和数据表的定期维护机制。 </li>
</ul>  
{% endblock left_frame %}

{% block menu %} 



<h3>细分产业链目录</h3>
<ul>
<li><a href="#industry_specific">特定行业软件 </a></li>
    <li><a href="#replacement">国产替代软件 </a></li>
    <li><a href="#fundamental">基础软件：系统和办公等 </a></li>
    <li><a href="#security">信息安全 </a></li>
</ul>

<h3>细分产业链目录</h3>
<ul>
    <li><a href="#bank">银行 </a> </li>
    <li><a href="#insurance">保险 </a></li>
    <li><a href="#security">证券公司、期货公司、基金公司 </a></li>
    <li><a href="#payment_platform">支付平台：支付宝和微信钱包 </a></li>
    <li><a href="#invest_platform">理财平台：东方财富 </a></li>
    <li><a href="#fintech_info">金融系统和信息服务 </a></li>
    <li><a href="#finance_platform">金融控股平台</a></li>
    <li><a href="#other_finance">其他：房地产金融、汽车金融 </a></li>
</ul>

{% endblock menu %} {% block content %}



<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="abstract">1，概要</h3>

<h4 id="ind_def_abstract">金融产业链概览：</h4>
<p>
</p>


<h3 id="bank">银行 </h3>
<table id="ciss_table">
    <caption>细分领域锚个股</caption>
    <tr id="table_tr">
        <th>细分领域</th>
        <th>国家地区</th>
        <th>价值成长</th>
        <th>排名</th>
        <th>股票名称</th>
        <th>股票代码</th>
        <th>成本市值|亿</th>
        <th>最新市值|亿</th>
        <th>卖出市值|亿</th>
        <th>备注</th>
    </tr>
    <tr>
        <th>国有银行</th>
        <th>中国</th>
        <th>价值</th>
        <th>1</th>
        <th>工商银行</th>
        <th>601398.SH</th>
        <th>18500</th>
        <th>18500</th>
        <th>27000</th>
        <th> </th>
    </tr>
    <tr>
        <th>国有银行</th>
        <th>中国</th>
        <th>成长</th>
        <th>1</th>
        <th>招商银行</th>
        <th>601658.SH</th>
        <th>8000</th>
        <th>8500</th>
        <th>11000</th>
        <th> </th>
    </tr>

    <tr>
        <th>股份制银行</th>
        <th>中国</th>
        <th>成长</th>
        <th>2</th>
        <th>兴业银行</th>
        <th>601166.SH</th>
        <th>3300</th>
        <th>3600</th>
        <th>7000</th>
        <th> </th>
    </tr>
    <tr>
        <th>城商农商银行</th>
        <th>中国</th>
        <th>成长</th>
        <th>3</th>
        <th>杭州银行</th>
        <th>600926.SH</th>
        <th>400</th>
        <th>440</th>
        <th>700</th>
        <th>pe7，归母净利润+20% </th>
    </tr>
    <tr>
        <th>国有银行</th>
        <th>中国</th>
        <th>成长</th>
        <th>4</th>
        <th>邮储银行</th>
        <th>601658.SH</th>
        <th>4000</th>
        <th>4500</th>
        <th>8000</th>
        <th>由于2019年12月上市，pe8较高 </th>
    </tr>
    <tr id="table_tr">
        <th>细分领域</th>
        <th>国家地区</th>
        <th>价值成长</th>
        <th>排名</th>
        <th>股票名称</th>
        <th>股票代码</th>
        <th>成本市值|亿</th>
        <th>最新市值|亿</th>
        <th>卖出市值|亿</th>
        <th>备注</th>
    </tr>
    <tr>
        <th>国有银行</th>
        <th>中国香港</th>
        <th>价值</th>
        <th>1</th>
        <th>工商银行</th>
        <th>1398.SH</th>
        <th>20000</th>
        <th>20500</th>
        <th>27000</th>
        <th> </th>
    </tr>
    <tr>
        <th>股份制银行</th>
        <th>中国香港</th>
        <th>成长</th>
        <th>1</th>
        <th>招商银行</th>
        <th>3968.SH</th>
        <th>8500</th>
        <th>9500</th>
        <th>1300</th>
        <th>pe9.4 &ltA股10 </th>
    </tr>
    <tr>
        <th>国有银行</th>
        <th>中国香港</th>
        <th>成长</th>
        <th>2</th>
        <th>邮储银行</th>
        <th>1658.SH</th>
        <th>4500</th>
        <th>5100</th>
        <th>9000</th>
        <th>由于2019年12月上市，pe6.7 </th>
    </tr>
</table>

<p>银行从规模和高管级别看，都是中国金融体系的绝对核心。中国银行业务的发展已经从对公贷款业务推动转向 由信息技术和零售客户业务竞争推动的时期。
    <br> 在这个过程中招商银行由于提前推动金融信息技术业务和支持零售客户获得了优势，从2007年小幅领先兴业银行和民生银行，变为超过2者市值之和许多。
    <br>传统大银行科技化领跑者：招商银行、平安银行、邮储银行{+16.2%、效率释放、同类国有大行归母净利润增速普遍5%左右}；建行的零售客户数低于工行，但 APP 月活 数在大行中排第一。

    <br>传统中小银行增速领跑：杭州银行600926.SH-pe7、宁波银行002142.SZ-pe10、成都银行601838.SH-pe5.3、
    <p>城商行、农商行的选股策略是区域人口、人口收入增长较快、区域经济质量高且发展较快，同时考虑净利润增长率和估值，如杭州银行、成都银行、渝农商行、江苏、南京、上海、苏州、北京、郑州 </p>
    <br> {特点：2020-2银行平均pe5.5倍左右，但成长性银行普遍10左右，如招商、平安、宁波银行、苏州银行}
    <br>主要技术：互联网平台、区块链、云计算、大数据分析。
    <br>互联网银行：蚂蚁金服、微众银行、百信银行。
    <br>2017-2019江苏区域性银行上市较多的基本面原因是江苏尤其是苏南地区乡镇企业崛起，县域经济发达，不仅经济实力相对雄厚，农村金融需求也非常旺盛。
</p>

<h5>看点：不良贷款：信用卡、</h5>
<p>如按揭贷款（不良率低）占比高的银行整体零售贷款不 良率可能较低，而消费贷款（不良率高）占比高的银行整体零售贷款不良率可能较高， 因而不能简单用零售贷款不良率来衡量风控水平的高低。
    <br>信用卡业务同质性和可比性较强：信用卡风险控制的较好的银行是 建行、兴业、招行、平安。
    <br> 信用卡风控能力的评价标准：（1）不良率保持在同业较低水平；（2）2018 年后信 用卡不良率没有较大幅度上升。这两个维度综合来看，

</p>

<h5>看点：银行零售业务创新</h5>
<p>
    <br>2019H1较2015年末零售客户数出现翻倍的银行有平安+186%、招行+100%、兴业+100%。其中平安零售客户数在零售转型之前零售客户基数相对较低、工行仅+25%、浦发>中信>民生
    <br> 宁波银行：白领通业务为超过100万白领提供消费贷业务；
    <br> 微众银行-腾讯控股：微粒贷，腾讯钱包内为用户提供小额贷款。
    <br>微粒贷：满足客户短期和急切的借款需求。“微粒贷”平均的借款期限是 52 天，50%的借款发生在非工作时间，使金融服务更加便利。

</p>


<h5>看点：科技投入和产出</h5>
<p>
    收入or效果端：
    <br> 银行APP月活数比零售客户数比例超过20%的是招商银行和平安银行、其他银行普遍在5%左右。
    <br>成本投入端：
    <br>2018 年，国有大行金融科技投入普遍占营业收入比重的 2%左右，股份制银行中部分银行金融科技投入占营业收入比重接近 3%。
    <br>2018年科技投入占营收比例最高的是招商银行2.78%、平安银行2.98%、光大2.71%。微众银行占比9.8%。
    <br> 2019 年，商业银行将金融科技投入占营收目标比例继续提高，例如邮储银行每年将拿出营业收入的 3%左右投入到信息科技领域，招行 2019 年研发和科技投入将提升到营收的 3.5%，平安 2019 年上半年 IT 支出同比增长 36.9%。
    <br>成本：微众银行率先搭建完成全行级分布式架构的数据中心，该架构摒弃了由国外企 业服务商提供的高端技术解决方案，完全采用基于 X86 技术框架的 PC 服务器，
    <br> 运用开源技术，IT 运维成本大幅降低了 90%，户均 IT 运维成本只有 3.6 元，而传统银行的户均运维成 本大概在 20-100 元

</p>
<p>互联网基因：微众银行是腾讯发起设立的民营银行，腾讯持股 30%。
    <br> 一般金融机构会单独设立一个测试部门和信息中心，测试和运维会独立出来；而微众银 行为了敏捷，直接把测试和运维都放在产品部门里，没有大的科技运营部。这种架构下， 科技部门可以高效地与业务的产品经营合作，把设计出来的金融产品的形态放在科技系 统上运行。

</p>

<h5>微众银行（腾讯控股）主要业务</h5>
<p> 微粒贷：满足客户短期和急切的借款需求。“微粒贷”平均的借款期限是 52 天，50%的借款发生在非工作时间，使金融服务更加便利。
    <br>微粒贷白名单制：通过算法的客户才可以点击微粒贷；申明需要微众银行的服务，同意了服务协议以后，微众银行才能拿到客户同意提供的部分数据。
    <br>微粒贷每笔平均贷款金额只有 8100 元，7 成以上的客户所负担的利息不到 100 元，是大部分客户都能够承受的起的，避免了和亲朋好友四处借钱的窘境，可解燃眉之急。
    <br>客户：客户中有76%是白领以下，大多是蓝领工人或服务业人员，80%的客户学历是大专及以下，这些客户原 本在传统的银行由于没有征信记录而无法申请到贷款和信用卡。
    <br> 微业贷可以视为微粒贷的企业版。微业贷和微粒贷有很 多类似的地方，不需要提供申请书，全程智能化、纯线上、纯信用，风控方面引入企业 征信、个人征信、工商、税务、汇法、国家电网、同盾及腾讯独有安全平台等超过 30 种 数据源。微业贷的客群非常下沉，66%的企业是首次获得贷款，64%的客户年营收小于 500 万，平均员工只有 10 个人，贷款金额笔均是 20 万。

</p>
<p>联合贷款-微粒贷：微众与合作银行共同出资、联合向客户发放贷款，使合作银行在有效控制风险的同时，以更低的成本服务长尾客户。
    <br>理财代销：微众为基金、保险等其他金融机构提供代销渠道。
    <br> 科技输出：针对国内中小型城、农商行技术储备薄弱的情况，微众利用自身技术优势将理财超市、远程身份认证、移动支付、机器人客服等能力输出给合作银行。
    <br>资金端合作伙伴：上海银行、华夏银行、重庆银行
    <br>产品端合作伙伴：招商证券、银华、汇添富、中国人寿
    <br>二手车买卖：微车贷产品，是与互联网二手车平台合作，依托他们服务客户的能力 和流量，微众银行提供银行服务。这是一个典型的场景金融，客户在二手车平台上看车、 选车、做估值，当他需要钱的时候，才会弹出微众银行的服务窗口。
    <br>教育分期：比如 VIPKID 的远程英语教学，腾讯是 VIPKID 的股东，为 VIPKID 用 户提供分期贷款的就是是微众银行的微粒贷。



</p>



<h3 id="insurance">保险</h3>
<table id="ciss_table">
    <caption>细分领域锚个股</caption>
    <tr id="table_tr">
        <th>细分领域</th>
        <th>国家地区</th>
        <th>价值成长</th>
        <th>排名</th>
        <th>股票名称</th>
        <th>股票代码</th>
        <th>成本市值|亿</th>
        <th>最新市值|亿</th>
        <th>卖出市值|亿</th>
        <th>备注</th>
    </tr>
    <tr>
        <th>人身险</th>
        <th>中国</th>
        <th>价值</th>
        <th>1</th>
        <th>中国人寿</th>
        <th>601628.SH</th>
        <th>7000</th>
        <th>7500</th>
        <th>8600</th>
        <th> </th>
    </tr>
    <tr>
        <th>人身险</th>
        <th>中国</th>
        <th>成长</th>
        <th>1</th>
        <th>中国平安</th>
        <th>601318.SH</th>
        <th>18500</th>
        <th>18500</th>
        <th>27000</th>
        <th> </th>
    </tr>
    <tr>
        <th>人身险</th>
        <th>中国香港</th>
        <th>成长</th>
        <th>1</th>
        <th>中国平安</th>
        <th>2318.HK</th>
        <th>15500</th>
        <th>16000</th>
        <th>27000</th>
        <th> </th>
    </tr>
    <tr>
        <th>人身险</th>
        <th>中国香港</th>
        <th>成长</th>
        <th>2</th>
        <th>新华保险</th>
        <th>1336.HK</th>
        <th>1358</th>
        <th>1358</th>
        <th>3000</th>
        <th> </th>
    </tr>
    <tr>
        <th>人身险</th>
        <th>中国香港</th>
        <th>价值</th>
        <th>1</th>
        <th>中国人寿</th>
        <th>2618.HK</th>
        <th>8000</th>
        <th>8400</th>
        <th>16000</th>
        <th> </th>
    </tr>
    <tr>
        <th>财险</th>
        <th>中国香港</th>
        <th>价值</th>
        <th>2</th>
        <th>中国人民保险集团</th>
        <th>1339.HK</th>
        <th>1300</th>
        <th>1300</th>
        <th>2600</th>
        <th> </th>
    </tr>
    <tr>
        <th>财险</th>
        <th>中国香港</th>
        <th>价值</th>
        <th>3</th>
        <th>中国财险</th>
        <th>2618.HK</th>
        <th>1600</th>
        <th>1800</th>
        <th>2400</th>
        <th> </th>
    </tr>
    <tr>
        <th>再保险</th>
        <th>中国香港</th>
        <th>价值</th>
        <th>3</th>
        <th>中国财险</th>
        <th>1508.HK</th>
        <th>450</th>
        <th>450</th>
        <th>900</th>
        <th> </th>
    </tr>
</table>

<h4>子目录|sub menu</h4>
<ol>
    <li><a href="#stock_pricing">保险股定价 </a></li>
    <li><a href="#cn_3parts_pension">中国三支柱养老体系 </a></li>
    <li><a href="#insurance_invest">保险资金投资：固收、权益、非标 </a></li>
    <li><a href="#type_classic_insurance">传统险：人身险、寿险 </a></li>
    <li><a href="#type_invest_insurance">投资险：分红险、万能险 </a></li>
    <li><a href="#type_health_insurance">健康险：重疾险 </a></li>
    <li><a href="#type_aging_insurance">商业养老险：长期护理保险 </a></li>
    <li><a href="#type_asset_insurance">财产保险 </a></li>
    <li><a href="#type_internet_insurance">互联网保险：众安保险 </a></li>
</ol>

<hr>
<h4 id="stock_pricing">保险股定价</h4>
<p>PEV倍数
    <br> 截至2020年1月3日收盘，港股保险板块核心资产友邦、平安的PEV倍数分别为2.21、1.39，分别处于2012年初以来的96.2%和68.7%分位数， 分别比2012年初以来的历史最低估值水平高出67.1和67.0个百分点。
    <br> 截至同日，国寿、太平、太保、新华的PEV倍数分别为0.61、0.47、0.70和0.51，分别处于2012年初以来的15.1%、12.7%、8.9%和7.9%分位数，估值水平均处于历史低位。
    <br>人身险：新单销售能力：强个险销售渠道的中国平安（2318.HK）、“健康+年金”双轮驱动的新华保险（1336.HK）

</p>
<p><br>保费收入
    <br>2019年1-11月，人身险业务增长较快，增速明显较上年同期提升。2019年1-11月，全国实现总原保险保费收入39,620亿元，同比上升11.9%。
    <br> 人身保险业务原保费收入29,092亿元，同比增长13.1%；其中寿险保费收入21,434亿元，同比增长9.0%；
    <br> 健康险业务6,564亿元，同比增长29.8%；人身意外伤害险保费收入1,094亿元，同比增长9.9%。
</p>
<p>总资产
    <br>2019年11月，全国保险行业总资产为201,188亿元，同比增长11.7%，较去年增速增加352bps；保险行业净资产为24,361亿元，同比上升22.4%，较去年增速增加1,549bps。
    <br>人身险公司总资产为164,801亿元，同比增长15.4%；
    <br>产险公司总资产为23,097亿元，同比下降2.5%；
    <br> 再保险公司总资产为4,218亿元，同比上升16.0%；
    <br>资产管理公司总资产595亿元，同比上升11.8%。


</p>


<hr>
<h4 id="cn_3parts_pension">中国三支柱养老体系</h4>
<p>三支柱=基本养老+企业年金+税收递延商业养老
    <br> 2018年5月个税递延型商业养老保险试点标志我国第三支柱养老金落地。至此，三支柱框架基本建立，但总体保障水平偏低；第一支柱独大，第二支柱占比低，第三支柱刚刚起步，结构性问题突出。1.养老需求增强，三支柱框架建立
    <br>人口
    <br>1982、1990、2000、2005、2010、2015年中国人口预期寿命依次为67.80、68.55、71.40、72.75、74.83、76.34岁而递增；人口自然增长率除2016年开放二胎政策有所回升外，逐年下降至2019年3.34‰的历史最低点。
    <br>联合国最新预测数据显示，在悲观、中性、乐观假设下，中国老年人口占比都将在2035年左右突破20%，届时老年人口抚养比都将突破30%。
    <br>截至2018年底，中国养老金结存金额7.8万亿元，仅占GDP的8.6%；同期美国分别为27.8万亿美元、135.6%。
    <br> 对标美国，我国养老金保障水平低；第一支柱占比过高，第二支柱偏低，第三支柱缺位。


</p>

<h5>第一支柱：中国基本养老</h5>
<p>基本养老金包括职工基本养老保险金、城乡居民基本养老保险金。由省级政府管理，实施现收现付的统筹账户制度，具备广覆盖、基本保障、区域不均衡等特点。
    <br>财政对基本养老的支出从2011年2192亿增加到2018年5310亿；占财政总支出比例从2.0%增加至2.4%。
    <br>截至2018年底，参保人数9.4亿，占16周岁（最低参保年龄要求）以上人口82.2%，实现广覆盖。➢（2）基本养老金初具规模，人均结存提升。年末结存从2012年末的26,243亿元上升至2018年末的58,152亿元而初具规模；年复合增长14.2%。➢（3）养老金结存以职工基本 养 老 金 为 主，2018年87.5%。缴费水平更高导致
    <br>2018年11,798万人领取待遇，人均3,153元/月，可满足基本生活需求。城乡居民基本养老保险替代率低，2018年15,898万人领取待遇，人均每月152元。
    <br>2018年7月1日职工基本养老保险基金中央调剂制度实施，主要流向中西部地区和老工业基地。 2018年调剂比例3%，总规模2,422亿元。
    <br>基本养老金委托社保基金理事会投资管理，市场化运营程度提高。
    <br>基本养老投资收益：（1）资产端：持有至到期投资、交易性金融资产为主，2018年末各为53.5%、38.3%。➢（2）收入端：利息收入是最稳定、最主要的收入来源，证券价差收入和交易性资产公允价值波动大。➢（3）收益端：2017、2018年投资收益额分比为87.83亿元、98.64亿元，投资收益率分别为5.23%、2.56%。
    <br> 基本养老保险基金与社会保障基金的区别：后者主要用于对前者的补充和调节。
    <br>全国社会保障基金（简称“社保基金”）是由社保基金理事会负责管理的国家社会保障储备基金，主要用于人口老龄化高峰时期的养老保险等社会保障支出的补充和调剂。它是基本养老保险制度的补充，与社会保险基金是两个概念。
    <br>全国社保基金资金来源分为财政性净拨入、投资增额两大类；截至2018年末，累计额各为9,131亿元、8,974亿元；占比各为50.4%、49.6%。国有资本划转、社保基金保值增值分别从财政性净拨入、投资增额两个口径促进社保基金扩容，提升基本养老保险保障的可持续性。老龄化趋势延续社保基金权益构成
    <br>社保基金权益中的财政性净拨入=中央财政预算拨款+彩票公益金+国有股减持资金。中央财政预算拨款是财政对社保基金的直接补助，直接形成财政负担；彩票公益金本质是集中社会闲散财力以支持包括社保在内的社会公益事业；国有股减持资金也即国有资本划转社保，是指国家拥有股份的股份有限公司（包括在境外上市的公司）按一定比例出售国有股，所获金额上缴社保基金。截至2018年末，国有股减持资金在累计财政性净拨入中占比31.1%，在当年财政性净拨入中的占比2.7%；存量贡献低于中央财政预算拨款和彩票公益金。



</p>

<h5>第二支柱：企业年金和职业年金</h5>
<p> 企业年金、职业年金构成我国养老金第二支柱，前者适用于企业职工，企业自愿建制，员工自愿参保；后者适用于机关与国家事业单位职工，具备强制性。
    <br>对个体而言，参加基本养老保险是参加企业年金或职业年金的前提，第二支柱待遇水平高于第一支柱，二者一起可基本满足养老保障需求。
    <br>2019年，企业年金参与人仅有2388万，9.34万家企业；主要由国企和大型非国企企业构成。
    <br>企业年金从2008年2.58千亿增加到2019Q3的1.7万亿，每年增加约2.2千亿。
    <br>规模上看，央企企业年金占总额57%，

    <br>保险机构是企业年金的最主要受托人。截至2019年上半年末，受托企业数69,497家，受托职工数1,532万人，受托管理资产金额8,959亿元；占比依次为96.7%、83.8%、80.1%。
    <br> 国寿养老、平安养老位居业务龙头，受托管理资产额分别为3,280亿元和2,466亿元，占所有受托资产的29.3%和22.0%，占保险机构受托资产的36.6%和27.5%。
    <br>企业年金替代率：2019Q2，企业年金分期领取待遇为2,519元/月/人。（1）2019年人均GDP约70,770元（据国家统计局初步公布的美元数据折算），替代率为42.7%；但提供企业年金的单位多为财力雄厚的大型公司，人均收入高于全国均值，实际替代率低于此数值。（2）2018年上海国企在岗职工人均年工资13.34万元，得出企业年金替代率22.7%；但上海国企工资待遇水平位居全国上游，实际替代率应高于此数值。（3）由此估计当前企业年金替代率介于22%至43%，处于30%左右，位于中等偏低水平。
    <br>
    <br>职业年金自2014年10月开始强制实施，市场化投资运营则从2019年2月正式开始，晚于企业年金。➢截至2019年5月31日，职业年金累计结余近6,100亿元；3,612万名机关事业单位工作人员参加基本养老保险，其中2,970万人加入职业年金，覆盖率达82%。

</p>

<h5>第三支柱：税延养老保险</h5>
<p>第三支柱养老的实施制度包括产品制和账户制。
    <br> 产品制下，个人购买第三支柱合格金融产品作为参与载体，税收优惠只赋予到产品层面。账户制下，开立专门的个人商业养老资金账户作为个人参加载体，通过该账户缴费、购买第三支柱合格金融产品、领取养老待遇、查询参保权益信息等，税收优惠赋予到账户层面。
    <br> 账户制的优点，一是个体的产品选择、产品转换、待遇领取的便利程度更高；二是账户信息搜集及宏观监管的成本更低；三是账户实现了资金流与现金流的统一，有助于第二、三支柱间的转移、打通，促进三支柱体系的完善。
    <br> 我国当前第三支柱实施模式是产品制，仅部分养老保险纳入税优范围；预期后续向账户制转变。
    <br>税延商业养老保险自2018年5月开始试点。个人税延型商业养老保险是将保费进行税前支列，在领取养老金时再缴纳个税，通过税收优惠鼓励投保。2018年5月1日起在上海市、福建省（含厦门市）和苏州工业园区试点，试点期限暂定一年。这标志税延养老保险正式步入实践阶段。
    <br>2019年上海地区社保和公积金共计扣除工资收入17.5%。以上海市30周岁男性投保人为例，若其月均收入10,000元，每月可税前扣除保费600元，少缴个税35.5元/月，30年累计12,780元，占收入之比为0.036‰；若其月均收入16,667元及以上，每月可税前扣除保费1,000元，少缴个税100元/月，30年累计36,000元，占收入之比在0.060‰以下。可见节税力度偏低。

</p>
<p>税延商业养老保险产品竞争
    <br>截至2019年6月30日，先后5批23家机构获银保监会批准经营税延商业养老险；其中前4批20家机构开发的66款产品已获准销售。
    <br> 国寿、平安、太保、太平、新华5家内资险企第一批获准经营，人保为第二批。
    <br> 产品形态相似，保底收益产品更受欢迎。各险企产品形态相近，保证收益、产品费用、额外给付上略有差异。
    <br> 截至2019年3月18日，保费结构：A类38%、B1类46%、B2类4%、C类12%。投保人希望获得绝对保障收益、风险规避的偏好明显。➢三是产品形态同质化背景下，先发优势和渠道优势塑造竞争优势。
    <br> 截至2019年上半年末，国寿、太保、平安、泰康四家险企保费收入市场份额合计84%，龙头集聚效应显著。
    <br>三地试点效果欠佳。➢截至2019年上半年末，三地税延商业养老险累计保费收入1.55亿元，保单4.45万件，低于预期。
    <br> 其中上海保费1.20亿元，保单2.92万件，占比78%及66%；远超福建和苏州工业园区。➢截至同期，三地件均保费收入为：上海4,118元，苏州工业园区4,006元，福建省2,201元；与居民可支配收入正相关——2018年三地城镇居民人均可支配收入各为68,034元、71,191元、42,121元。

</p>
<p>税收：
    <br>中国间接税为主的税制天然不利于实施税延养老金政策。
    <br> （1）我国是典型的间接税主导国家，2018年国内及进口环节的增值税、消费税合计占比56.9%；企业所得税占比22.6%；个人所得税仅占8.9%而远低于美国联邦税收同期50.6%的比例。
    <br> （2）2018年10月1日起，个税起征点从3,500元/月上调至5,000元/月导致个税纳税人数降至约6,400万，仅占总人口的4.6%，进一步缩减了税优政策人口覆盖规模。
    <br> （3）从趋势看，发展中国家政府为筹集收入发展基建一般以流转税为主，我国国情决定了间接税主导的税制结构短期不会改变。也即，税制对税延养老保险的抑制作用将长期存在。

</p>
<p>
    养老目标基金是最重要的养老金融工具之一。虽然我国目前并未将基金纳入第三支柱税优范围，但养老目标基金的建立丰富了养老金融工具，驱动第三支柱发展。
    <br>截至2019H已获批和处于审核期暂未获批的128只基金分属43家基金公司，占57家满足条件的基金公司（近3年平均公募基金管理规模（不含货币）200亿元以上）的75.4%，基金行业将此业务作为业绩增长点而高度重视。

</p>

<table id="ciss_table">
    <caption>中美2018年养老金结构对比</caption>
    <tr id="table_tr">
        <th>国家地区</th>
        <th>指标</th>
        <th>第一支柱|</th>
        <th>第二支柱</th>
        <th>第三支柱</th>
        <th>合计|本币</th>
        <th>备注</th>
    </tr>
    <tr>
        <th>美国</th>
        <th>规模|美元</th>
        <th>2.82</th>
        <th>16.15</th>
        <th>8.81</th>
        <th>27.78</th>
        <th></th>
    </tr>
    <tr>
        <th>美国</th>
        <th>规模|人民币</th>
        <th>19.6</th>
        <th>112</th>
        <th>61.6</th>
        <th>193.2</th>
        <th>汇率7.0</th>
    </tr>
    <tr>
        <th>美国</th>
        <th>占养老金比例%</th>
        <th>10.1</th>
        <th>58.4</th>
        <th>31.5</th>
        <th>100</th>
        <th></th>
    </tr>
    <tr>
        <th>美国</th>
        <th>占GDP比例%</th>
        <th>13.8</th>
        <th>78.8</th>
        <th>43</th>
        <th>135.6</th>
        <th></th>
    </tr>
    <tr>
        <th>中国</th>
        <th>规模|人民币</th>
        <th>5.8</th>
        <th>2.0</th>
        <th>0.0</th>
        <th>7.8</th>
        <th></th>
    </tr>
    <tr>
        <th>中国</th>
        <th>占养老金比例%</th>
        <th>74.7</th>
        <th>25.3</th>
        <th>0.0</th>
        <th>100</th>
        <th></th>
    </tr>
    <tr>
        <th>中国</th>
        <th>占GDP比例%</th>
        <th>6.46</th>
        <th>2.18</th>
        <th>0.0</th>
        <th>8.64</th>
        <th></th>
    </tr>
</table>
<p>notes:中国第一支柱包括企业职工基本养老和城乡居民基本养老；二：企业年金+职业年金。</p>


{% load static %}
<h5>图：中国三支柱养老体系及资产配置研究三条主线</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\finance_insurance_china_pension_3pastrs_by_zhangyidong.png' %} " alt=" " height="100%" width="100%" />
<p>source:20200105-兴业证券-兴业证券海外非银行业周报：关注港股保险板块战略性配置机遇，证券行业2019年度业绩有望实现大幅增长.pdf </p>
<br>
<h5>图：2018主要国家私人养老金规模及GDP占比</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\finance_insurance_global_pension_scale_gdp_pct_2018.png' %} " alt=" " height="100%" width="100%" />
<p>source:20200105-兴业证券-兴业证券海外非银行业周报：关注港股保险板块战略性配置机遇，证券行业2019年度业绩有望实现大幅增长.pdf </p>
<p>notes：德国采用现收现付制度加财政兜底，因此结余较少。</p>
<br>
<h5>图：现行基本养老基金投资规定</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\finance_insurance_cn_basic_pension_invest_rule_asset_profit_structure.png' %} " alt=" " height="100%" width="100%" />
<p>source:20200105-兴业证券-兴业证券海外非银行业周报：关注港股保险板块战略性配置机遇，证券行业2019年度业绩有望实现大幅增长.pdf </p>
<p>资料来源:《基本养老保险基金投资管理办法》</p>
<br>
<h5>图：社会保障基金权益累计总额结构</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\finance_insurance_social_security_fund_equity_structure.png' %} " alt=" " height="100%" width="100%" />
<p>source:20200105-兴业证券-兴业证券海外非银行业周报：关注港股保险板块战略性配置机遇，证券行业2019年度业绩有望实现大幅增长.pdf </p>
<br>
<h5>图：企业年金覆盖率</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\finance_insurance_annuity_coverage_2018.png' %} " alt=" " height="100%" width="100%" />
<p>source:20200105-兴业证券-兴业证券海外非银行业周报：关注港股保险板块战略性配置机遇，证券行业2019年度业绩有望实现大幅增长.pdf </p>
<br>
<h5>图：企业年金投资规定和管理机构</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\finance_insurance_annuity_invest_rules.png' %} " alt=" " height="100%" width="100%" />
<p>source:20200105-兴业证券-兴业证券海外非银行业周报：关注港股保险板块战略性配置机遇，证券行业2019年度业绩有望实现大幅增长.pdf </p>
<br>
<h5>图：税延养老保险的EET模式</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\finance_insurance_tax_deffered_pension_EET.png' %} " alt=" " height="100%" width="100%" />
<p>source:20200105-兴业证券-兴业证券海外非银行业周报：关注港股保险板块战略性配置机遇，证券行业2019年度业绩有望实现大幅增长.pdf </p>
<br>
<h5>图：中美税收结构</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\finance_insurance_cn_us_tax_structure.png' %} " alt=" " height="100%" width="100%" />
<p>source:20200105-兴业证券-兴业证券海外非银行业周报：关注港股保险板块战略性配置机遇，证券行业2019年度业绩有望实现大幅增长.pdf </p>
<br>


<hr>
<h4 id="insurance_invest">保险资金投资：固收、权益、非标</h4>
<p>中国可投资品种中权益资产、海外资产的配置比例显著低于法规上限。
    <br>借鉴发达市场经验，利率下行和人身险保费结构向养老年金为主迭代将导致保险投资收益率相对负债成本率下降是长期趋势；
    <br>我国保险资产可投资品种和范围逐渐放开，政策走势则是鼓励险企配置长久期债权产品、放松股权投资限制。
    <br> 当前权益资产成为影响保险资金投资收益率的最主要因素
    <br>2012-2015年保险资金非标资产配置显著上升，对应收益率从3.4%上升至7.6%。主要原因有基于房地产的非标产品收益率较高、万能和分红等保险理财产品抬高负债成本率，进而提高保险投资收益率要求。
    <br>2016-2018年收益率逐渐下降至4.3%，反映了权益市场低迷、债券收益率下行、优质资产投资收益率较低等市场行情。


</p>
<ul>
    <li>1995-2019年我国保险资产可投资范围:</li>
    <li>1995，银行存款、政府债、金融债 </li>
    <li>1999，证券投资基金 </li>
    <li>2003，AA级以上企业债 </li>
    <li>2004，A股股票、海外银行存款、海外债券、海外银行票据 </li>
    <li>2007，海外固定收益和权益证券和基金 </li>
    <li>2010，不动产及相关产品、未上市企业股权 </li>
    <li>2012，非标产品：银行理财、信托、券商资管；衍生品：股指期货 </li>
    <li>2015，创业板股票、A级以上优先股、设立创业投资基金 </li>
    <li>2016，间接基金方式投资基础设施项目 </li>
    <li>2018，保险资管可设立专项产品</li>
    <li>2019，银行发行的二级资本债和无固定期限资本债</li>
</ul>

<br>
<h5>图：2018-2019年中国大陆保险投资相关法律法规</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\finance_insurance_cn_insurance_invest_law_regulation.png.png' %} " alt=" " height="100%" width="100%" />
<p>source:20200105-兴业证券-兴业证券海外非银行业周报：关注港股保险板块战略性配置机遇，证券行业2019年度业绩有望实现大幅增长.pdf </p>
<br>
<br>
<h5>图：保险公司资产配置上限:202002</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\finance_insurance_cn_insurance_invest_limit_max.png' %} " alt=" " height="100%" width="100%" />
<p>source:20200105-兴业证券-兴业证券海外非银行业周报：关注港股保险板块战略性配置机遇，证券行业2019年度业绩有望实现大幅增长.pdf </p>
<br>

<h5>图：保险公司资产配置历年结构:2005-2019Q3</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\finance_insurance_cn_insurance_invest_structure_return.png' %} " alt=" " height="100%" width="100%" />
<p>source:20200105-兴业证券-兴业证券海外非银行业周报：关注港股保险板块战略性配置机遇，证券行业2019年度业绩有望实现大幅增长.pdf </p>
<br>

<h5>资产负债管理 </h5>
<p> 银保监会2017年启动保险资产负债管理监管制度建设工作，逐渐将险企资产负债管理指标量化，国内保险业资产负债管理由“软约束”向“硬约束”转化。
    <br>资产久期短于负债是我国寿险公司的普遍现象，主因是可配置的优质长久期固收资产偏少。资产负债管理硬约束短期增大险企资产配置压力

</p>

<h5>图：险企资产负债管理相关规定 </h5>
<img src="{% static 'templates\ciss_exhi\industry\static\finance_insurance_cn_insurance_invest_ALM_regulation.png' %} " alt=" " height="100%" width="100%" />
<p>source:20200105-兴业证券-兴业证券海外非银行业周报：关注港股保险板块战略性配置机遇，证券行业2019年度业绩有望实现大幅增长.pdf </p>
<br>


<h5>固收投资 </h5>
<p> </p>

<h5>权益投资 </h5>
<p> </p>

<h5>非标投资 </h5>
<p> </p>

<hr>
<h4 id="type_classic_insurance">传统险：人身险、寿险</h4>

<p>
    <br>外资国内发展动态：
    <br>友邦保险-1299.HK于2019年12月26日公告称其计划将友邦保险有限公司上海分公司改建为友邦全资持股的人寿保险子公司
    <br>中国太保-2601.HK 发行GDR推进国际化战略及转型2.0的
    <br>保诚-2378.HK拆分上市进程而未来港股流动性有望大幅提升的


</p>




<hr>
<h4 id="type_invest_insurance">投资险：分红险、万能险</h4>









<hr>
<h4 id="type_health_insurance">健康险：重疾险、医疗险</h4>
<p>健康险仍是上市险企NBV的核心来源：健康险，或者说重疾险，当前仍然是各家上市险企最主要的价值来源，贡献上市险企50%以上的NBV，对公司而言至关重要。
    <br>重疾险为主体、医疗险为辅助的健康险格局，疾病险预计贡献了2/3以上的规模保费。
    <br>健康险需求：城镇化+老龄化+人均寿命延长+医疗成本上升，致使总卫生费用支出上升。购买健康险实质是将个人卫生费用支出转为社会卫生费用支出（商业健康险赔付属于该口径）
    <br>政策：2013年至今国家颁布多项政策鼓励商业健康险发展
    <br>盈利动机：效率（负债成本率低）+规模（行业转型）双重动机。➢卫生费用个人支出高，需健康险助力减负➢重疾险百度搜索指数领先资料来源：银保监会，国家卫生健康委员会，兴业证券经济与金融研究院整理资料来源：百度指数，兴业证券经济与金融研究院整理➢政策鼓励商业健康险发展资料来源:中国政府网，兴业证券经济与金融研究院整理保险发展规律角度
    <br>增速：2012-2019除了2017年以外增速均超过人身险和寿险15%个百分点以上。
    <br>险种比较：养老保险实际为长期储蓄型产品，兼顾保障功能，负债成本率虽高于长期保障型产品，但低于中短期储蓄型产品，且件均保费高而承保效率高
    <br>长期保障=人身险 > 养老 > 健康险=重疾险 > 短期储蓄=万能险


</p>
<h5>政策：2025年健康险市场规模超过2万亿元|2019年7000亿</h5>
<p>2025年，将健康险市场规模提升3倍
    <br> 2020年1月2日国新办政策例行吹风会上发布的信息，由银保监会牵头商相关部门研究制定的《关于促进社会服务领域商业保险发展的意见》已于2019年12月30日经国务院常务会议审议通过，并拟于近期由多部门联合印发。《意见》涵盖健康险、养老险、保险投资、监管等内容。主要提出至2025年，将健康险市场规模提升3倍，大力开拓少儿及老年人市场

</p>


<br>
<h5>图：卫生费用支出：2007-2018</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\finance_insurance_cn_health_expense_2018.png' %} " alt=" " height="100%" width="100%" />
<p>source:20200105-兴业证券-兴业证券海外非银行业周报：关注港股保险板块战略性配置机遇，证券行业2019年度业绩有望实现大幅增长.pdf </p>
<br>


<hr>
<h4 id="type_aging_insurance">商业养老险：长期护理保险</h4>
<p>大型保险公司打造商业养产业链：“养老年金+养老地产+长期护理”雏形初现。简单来说就是养老社区
    <br>养老社区优势：投资端：投资养老不动产分散风险，并拉长资产久期、获得长期稳定收益。（2）负债端：围绕客户全生命周期形成闭环，提高客均养老消费额，增强客户粘性、进行客户资源二次开发。
    <br>泰康、太平、国寿、太保分别自2011、2014、2015、2018年开始打造养老社区。
    <br> 平安保险拥有平安不动产、入股碧桂园-9%、华夏幸福-持股24%等地产公司，借此布局养老社区。
    <br>我国长期护理保险自2016年6月开始试点，以“政府主导、社会化经办、市场化服务供给”为基本格局。据国家医保局数据，截至2019H，15个试点城市和2个重点联系省的参保人数达8,854万人，享受待遇人数42.6万，年人均基金支付逾9,200元。截至同期，平安、太保、新华等上市险企均已实际开展该业务。
    <br>险企对养老产业的布局正处于前期投入阶段，并未构成当前盈利增长点

</p>

<p>海外养老保险资金配置经验看：
    <br>OECD国家私人养老金海外资产平均配置比例40%，这是由于本国大多没有大和先进的资本市场。本国资本市场较强的日本、英国比例仅30%，更具备参考意义。
    <br>发达国家经验看，负债成本提高、利率下行背景下，主要通过提高权益资产配置和海外资产配置（主要是股票和新兴市场国债）以拉升投资收益率。当前内资险企权益资产配置比例、海外资产配置比例均远未达到监管上限（30%及15%）.


</p>




<h5>图：泰康之家简介</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\finance_insurance_cn_aged_home_taikang.png' %} " alt=" " height="100%" width="100%" />
<p>source:20200105-兴业证券-兴业证券海外非银行业周报：关注港股保险板块战略性配置机遇，证券行业2019年度业绩有望实现大幅增长.pdf </p>
<br>
<h5>图：泰康之家简介</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\finance_insurance_cn_aged_community.png' %} " alt=" " height="100%" width="100%" />
<p>source:20200105-兴业证券-兴业证券海外非银行业周报：关注港股保险板块战略性配置机遇，证券行业2019年度业绩有望实现大幅增长.pdf </p>
<br>

<hr>
<h3 id="type_asset_insurance">财产保险</h3>
<p>农险市占率过半、产险市占率超过30%的龙头财险公司中国财险（2328.HK）
    <br> “三次商车费改”及“报行合一”政策持续压制车险件均保费，强渠道龙头公司市占率进一步提升；手续费税收政策改革长期提升财险公司ROE水平；
    <br> 农险政策利好农险保费收入增长。行业龙头集中效应将持续。
</p>




<hr>
<h3 id="type_internet_insurance">互联网保险：众安保险</h3>
<p>

    <br>中国平安均不具有控制权：持有众安在线财产保险股份有限公司10.21%的股权。
</p>



<hr>
<h3 id="security">证券公司、期货公司、基金公司</h3>
<table id="ciss_table">
    <caption>细分领域锚个股</caption>
    <tr id="table_tr">
        <th>细分领域</th>
        <th>国家地区</th>
        <th>价值成长</th>
        <th>排名</th>
        <th>股票名称</th>
        <th>股票代码</th>
        <th>成本市值|亿</th>
        <th>最新市值|亿</th>
        <th>卖出市值|亿</th>
        <th>备注</th>
    </tr>
    <tr>
        <th>证券公司</th>
        <th>中国</th>
        <th>价值</th>
        <th>1</th>
        <th>中信证券</th>
        <th>600030.SH</th>
        <th>2600</th>
        <th>3000</th>
        <th>4200</th>
        <th> </th>
    </tr>
    <tr>
        <th>证券公司</th>
        <th>中国香港</th>
        <th>成长</th>
        <th>1</th>
        <th>中信建投</th>
        <th>6066.HK</th>
        <th>450</th>
        <th>550</th>
        <th>1100</th>
        <th> </th>
    </tr>
    <tr>
        <th>证券公司</th>
        <th>中国香港</th>
        <th>价值</th>
        <th>1</th>
        <th>中信证券</th>
        <th>6030.HK</th>
        <th>2100</th>
        <th>2100</th>
        <th>3000</th>
        <th> </th>
    </tr>
    <tr>
        <th>证券公司</th>
        <th>中国香港</th>
        <th>价值</th>
        <th>2</th>
        <th>HTSC华泰证券</th>
        <th>6886.HK</th>
        <th>1200</th>
        <th>1250</th>
        <th>1800</th>
        <th> </th>
    </tr>
</table>

<h4>子目录|sub menu</h4>
<ol>
    <li><a href="#security_futures_fund_manager">证券公司、期货公司、基金公司定价 </a></li>
    <li><a href="#security_policy_regulation">政策和监管 </a></li>
    <li><a href="#security_market_product_equity">权益市场和产品创新</a></li>
    <li><a href="#security_market_product_fixed_income">固定收益市场和产品创新 </a></li>
    <li><a href="#security_market_commodity_derivatives">期货和证券衍生品市场和产品创新 </a></li>
</ol>

<p>
    <br>将基金公司归属于证券公司是因为中国基金公司大股东主要为银行和证券公司，而基金公司净利润占前者比例很低、但较后者相对高。
</p>

<hr>
<h4 id="security_futures_fund_manager">证券公司、期货公司、基金公司定价</h4>




<hr>
<h4 id="security_policy_regulation">政策和监管</h4>
<p>2020年全面推行发行注册制度：2019年年末，十三届全国人大常委会第十五次会议审议通过了新修订的证券法，2020年3月1日施行.
    <br> 公开发行核准制改为注册制，注册制范围和步骤由国务院规定


</p>



<hr>
<h4 id="security_market_product_equity">权益市场和产品创新</h4>
<p>2019年全年IPO数量为203个，同比增长93%；首发募资额2533亿，同比增长84%；股权融资总额达15324亿，同比增长27%。
    <br> 券商承销业务来看，2019年度总承销金额前三为中信证券、中信建投和中金公司.分别承销11819、9529和7094亿元；年度IPO数量前三位也是中信证券、中信建投和中金公司，保荐数量分别为28、21、18个。


</p>



<hr>
<h4 id="security_market_product_fixed_income">固定收益市场和产品创新</h4>




<hr>
<h4 id="security_market_commodity_derivatives">期货和证券衍生品市场和产品创新</h4>














<hr>
<h3 id="payment_platform">支付平台：支付宝和微信钱包</h3>

<h3>支付平台：阿里巴巴-蚂蚁金服</h3>


<h3>支付平台：腾讯-微信钱包</h3>




<h3>企业支付平台：平安集团-平安一账通</h3>
<p>金融壹账通打造了智能销售方案、智能风控方案、智能产品方案、智能服务方案和智能运营方案五大利器，帮助金融机构全面提升获客、风控、产品、客服、运营五大能力 中国平安持有深圳壹账通智能科技公司44.3%的股权 。
    <br> 201804，平安集团新孵化出平安医保科技和金融壹账通两家“独角兽”，并已完成首次融资，分别成功集资11.5亿美元和6.5亿美元，两家公司的投后估值分别达到88亿美元和74亿美元。


</p>





<hr>
<h3 id="invest_platform">理财平台：东方财富、陆金所</h3>

<h3>信息和基金销售平台：东方财富300059.SZ
    <br>海娃对标：嘉信理财SCHW.N,市值520亿美金，pe15.
    <br>

</h3>

<h5>海外理财平台对比</h5>
<p>嘉信理财SCHW.N三部分2018年:嘉信自营基金、 OneSource 平台、其他第三方基金的资产分别为 3486、2111、11247 亿美元，在基金资产中占比分别为 20.7%、12.5%、66.8%
    <br>嘉信投资管理（CSIM）作为嘉信自营基金的基金管理 人，向投资者收取基金管理费；OneSource 平台免交易手续费，向第三方 基金管理人收取基金资产 0.25-0.35%的管理费分佣。估算其管理费分佣提成比例~50%（以所有 类型基金 0.6-0.7%的管理费率测算）。
    <br>投资管理方案：包括自动化投资组合、专业投顾服务、以及账户委托管理三大类。其中专业 投顾服务是由外部独立投顾 RIAs 提供咨询服务，投资者向 RIAs 支付顾问 费，嘉信理财获得一定比例分成。
    <br>过去十年AUM增长：嘉信理财以 9.5%的客户资产年均增速，推动营业收入和税前利润分别实现 11.5%和 24.7%的复合增长。客户资产是由 4.5%的单客资产复合增长和 9.2%的 客户数复合增长共同贡献，
    <br>2018 年美国可投资财富(包括固定缴款、零售财富管理、经纪业务、注册 投资顾问渠道以及银行存款)目前超过 45 万亿美元，嘉信 理财管理着 3.25 万亿。
    <br> 基金资产 1.68 万亿美元，占比 51.8%；现金理财、权益、固定收益占比分别为 8%、31.4%和 9.4%。
    <br>主要竞争对手：亿创、亚美利


</p>



<table id="ciss_table">
    <caption>海外理财平台业务对比</caption>
    <tr id="table_tr">
        <th>公司名称</th>
        <th>市值|亿美元</th>
        <th>税前利润|亿美元</th>
        <th>单客资产|万美元</th>
        <th>客户数|万个</th>
        <th>单客综合 费率
        </th>
        <th>税前利润 率
        </th>
        <th>ROE</th>

        <th>备注</th>
    </tr>
    <tr>
        <th>嘉信SCHW.N</th>
        <th>524</th>
        <th>45.6 </th>
        <th>28.1 </th>
        <th>1159 </th>
        <th>0.31% </th>
        <th>45% </th>
        <th>19%</th>
        <th>d=e*b*g*h e b g h</th>
    </tr>
    <tr>
        <th>亿创ETFC.O </th>
        <th>102</th>
        <th>14.2 </th>
        <th>7.3 </th>
        <th>692 </th>
        <th>0.06% </th>
        <th>50% </th>
        <th>17%</th>
        <th> </th>
    </tr>
    <tr>
        <th>亚美利AMTD.O </th>
        <th>228</th>
        <th>23.3 </th>
        <th>11.3 </th>
        <th>1151 </th>
        <th>0.42% </th>
        <th>42% </th>
        <th>19%</th>
        <th> </th>
    </tr>

</table>



{% load static %}
<h5>图：嘉信理财提供各种类型的投资管理工具</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\finance_new_invest_platform_SCHW_invest_services.png' %} " alt=" " height="100%" width="100%" />
<p>source:20200212_深度！嘉信理财模式拆解，如何连接客户_9581815.pdf </p>
<br>
<h5>图：海外智能投顾平台竞争</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\finance_new_invest_platform_us_competitors.png' %} " alt=" " height="100%" width="100%" />
<p>source:20200212_深度！嘉信理财模式拆解，如何连接客户_9581815.pdf </p>
<br>


<h3>私募产品理财平台：平安集团-陆金所 </h3>

<p>中国平安均不具有控制权：包括还持有陆金所控股43.76%的股权。
    <br>陆金所控股资产管理规模达4，616.99亿元，较年初增长5.3%；管理贷款余额2，884.34亿元，较年初增长96.7% ；并首次实现全年整体盈利。




</p>



<hr>
<h3 id="fintech_info">金融系统和信息服务</h3>

<h3>金融软件：恒生电子、金证股份、赢时胜</h3>


<h3>交易所：港交所</h3>


<h3>信息服务商：Wind资讯</h3>
<table id="ciss_table">
    <caption>细分领域锚个股</caption>
    <tr id="table_tr">
        <th>细分领域</th>
        <th>国家地区</th>
        <th>价值成长</th>
        <th>排名</th>
        <th>股票名称</th>
        <th>股票代码</th>
        <th>成本市值|亿</th>
        <th>最新市值|亿</th>
        <th>卖出市值|亿</th>
        <th>备注</th>
    </tr>
    <tr>
        <th>综合性资讯商</th>
        <th>中国</th>
        <th>成长</th>
        <th>1</th>
        <th>Wind</th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th>追赶者：债券交易QB、同花顺、通达信</th>
    </tr>
    <tr>
        <th>综合性资讯商</th>
        <th>中国香港</th>
        <th>成长</th>
        <th>2</th>
        <th>国泰君安国际</th>
        <th>1788.HK </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th>追赶者：债券经纪云峰金融0376.HK{持有万通保险经纪}、国际货币</th>
    </tr>
    <tr>
        <th>地方金控平台</th>
        <th>中国</th>
        <th>成长</th>
        <th>1</th>
        <th>越秀金控</th>
        <th>000987.SZ</th>
        <th>244</th>
        <th>244</th>
        <th>400</th>
        <th>中信证券6.26%、广州AMC、融资租赁、产业基金 </th>
    </tr>
</table>



<hr>
<h3 id="finance_platform">金融控股平台</h3>

<table id="ciss_table">
    <caption>细分领域锚个股</caption>
    <tr id="table_tr">
        <th>细分领域</th>
        <th>国家地区</th>
        <th>价值成长</th>
        <th>排名</th>
        <th>股票名称</th>
        <th>股票代码</th>
        <th>成本市值|亿</th>
        <th>最新市值|亿</th>
        <th>卖出市值|亿</th>
        <th>备注</th>
    </tr>
    <tr>
        <th>全国金控平台</th>
        <th>中国</th>
        <th>成长</th>
        <th>1</th>
        <th>平安保险</th>
        <th>601318.SH</th>
        <th>14000</th>
        <th>14500</th>
        <th>25000</th>
        <th></th>
    </tr>
    <tr>
        <th>地方金控平台</th>
        <th>中国</th>
        <th>成长</th>
        <th>1</th>
        <th>越秀金控</th>
        <th>000987.SZ</th>
        <th>244</th>
        <th>244</th>
        <th>400</th>
        <th>中信证券6.26%、广州AMC、融资租赁、产业基金 </th>
    </tr>
</table>

<p>金控平台通常指控股多种金融机构或者围绕保险业务投资非金融业务的集团公司。
    <br> 大型的上市金控平台在国内有中国平安601318.HK，国外有波克夏哈撒韦BRK_A.O等。 中小型的上市金控平台在国内有越秀金控000987.SZ等。
    <br>金控平台的分析要点是拆分中最重要的业务板块，并进行定价。
</p>

<h3>大型金控集团：平安保险601318.SH</h3>
<p>


</p>

<h4>平安集团-地产板块</h4>
<p>中国平安的地产发展足迹可以看出，业务涵盖商业地产、旅游养老地产、工业物流地产和住宅、股债券投资
    <br> 平安不动产：持有平安集团办公室相关商务楼
    <br>地产公司持股：
    <br>碧桂园-2007.HK，9%，20150401：中国平安人寿已同意以认购价每股2.816港元认购公司22.36亿股新股份，禁售期1年，涉资62.97亿港元。投资完成后，中国平安成为碧桂园第二大股东，持股9.9%。
    <br>华夏幸福-600340.SH,25%,
    <br>旭辉集团-0884.HK，7%，20170728：2019H1净资产528亿，净利润41亿，市值491亿港币。2017年7月31日，平安人寿19.075亿港元举牌在港上市的旭辉集团，持股比例达10.12%
    <br>融创中国-1918.HK,0%，孙质押15.9亿股票给平安，2019年4月11日已经解除质押。跟平安已经没关系了.
    <br>孙宏斌在2017年12月9日的公开发言中表示：“我得感谢平安银行，平安银行借我25亿增持，那个时候6.18元增持的，赚了150亿”。
    <br>雅居乐-3383.HK,0%,雅居乐 2018年12月11日，雅居乐集团公告称，全资子公司惠州白鹭湖和深圳创喻签署了一份协议，将22%的股权转让给深圳创喻，据相关资料显示，深圳创喻的背后股东是中国平安。

    <br>房产交易平台“平安好房”，定位于“消费金融战略”的标志性业务之一。并在2015年底对外宣称凭借金融已撬动了1500亿元的房产销售。只是生不逢时，到了2016年，政府开始严厉打击首付贷和过桥贷，正是平安好房的核心业务之一，在此政策背景下，马明哲对于平安好房的所有规划几乎都被扼杀。

    <br>海外地产：英国劳合社大楼、伦敦办公大楼TowerPlace纳入旗下，还曾参与竞购德国柏林波茨坦广场的18栋大楼，以及价值近90亿澳元的澳洲地产公司Investa。

</p>



<h4>中小型金控平台：越秀金控000987.SZ</h4>
<p>
    公司作为广州市重点打造的国资金融控股平台,持股比例合计达到74%。
</p>
<p>历经多次重大资产重组，越秀金控形成了参股中信证券6.26%与租赁+AMC+资本运营的特色地方金控平台架构。
    <br>上市公司及金控有限拟作价134.6亿元向中信证券出售剥离广州期货99.03%股权、金鹰基金24.01%股权的广州证券100%股权，并由此换股持有中信证券6.26%的股份，2019年12月26日，该事项获得证监会核准批文。当前监管意欲打造航母级头部券商，行业强者恒强的竞争格局逐步形成。
    <br>预计2020年至2021年，中信证券对上市公司贡献的联营企业与合营企业投资收益分别为5.34和13.24亿元。
    <br>聚焦广州，主营广州资产、越秀租赁和越秀金控资本。
    <br> 市场对越秀金控的认知还停留在过去“金融+百货”的双格局，并且金融主业仍以区域性中小券商广州证券为主业。
    <br> 完成本次重大资产重组后，上市公司盈利格局将演变为以6.26%的中信证券持股为“压舱石”、越秀租赁板块为“新支柱”、广州资产板块为“新亮点”、资本运营板块为“增量利润贡献者”
</p>
<p>子公司业务：
    <br>广州资产-持股38%：成立于2017年4月，为广东省第二家拥有省内金融企业不良资产批量转让业务资质的资产管理公司。
    <br>越秀租赁-持股%：广东省国有大中型企业单位为核心客户群；以绿色民生工程为基础，大力拓展环保水务、旅游文化、交通物流、健康医疗业务领域。
    <br>越秀租赁2016年至2018年ROE分别为6.4%、8.3%和9.2%。公司目前处于规模扩张期。
    <br>越秀金控资本-持股60%：2019年2月份完成了金控资本设立工作，与现有的越秀产业基金共同构成资本运营平台，进行直接股权投资和产业基金等业务的运营公司
    <br>越秀产业基金：越秀产业基金营业总收入2.39亿元（其中按照基金管理费收入计算的营业收入为1.39亿元）和净利润1.31亿元
    <br>2018年，投资了一批人工智能、生物医药等领域的优质项目，完成股权投资13.76亿元，同比增长12.05%；另一方面，成功设立新兴产业基金二期、金蝉股权基金、智造升级基金等，规模达28.78亿元。夹层业务取得突破，城市更新基金正式落地，商业地产孵化基金成功实现与越秀地产的战略协同；在募资方面，完成夹层基金募集，尤其是发起设立的夹层二期基金成功引入5亿元保险资金。
    <br>2019年2月份完成了越秀金控资本设立工作，与现有的越秀产业基金共同构成资本运营平台，进行直接股权投资和产业基金等业务的运营。
    <br>股权投资方面，围绕新医药、新文娱、新消费、新制造四大行业，累计投资近百个优质股权项目和14个独角兽项目，其中，北大之路、引力传媒、芒果TV、宁德时代等项目已通过IPO或并购的方式实现上市


</p>

<h4>广州资产，广东省AMC </h4>
<p>广州资产-持股38%，广东省AMC：广东省内不良资产一级市场的占有率超过40%。 预计公司2019年至2021年归母净利润分别为3.89、5.95和7.85亿元，增速分别为44.7%、52.9%和31.9%，ROE分别为8.5%、10.0%和12.6%。
    <br> 不良资产收购是广州资产的核心业务，2018年，广州资产累计收购了61项金融类不良债权，60项来源于广东省内银行业金融机构，1项为和中银香港(控股)有限公司合作项目。上述金融类不良债权原账面价值本息合计524.22亿元，收购成本合计141.38亿元，本息折扣率约为27%，本金折扣率约为44%；收购债权主担保方式为抵质押的贷款本金占总债权本金的比重平均为76.00%；抵质押物主要为粤港澳大湾区的土地和房产等具有较强升值和保值能力的资产。2018年，广州资产通过公开转让方式处置不良债权本息合计116.22亿元。此外，还储备了超过365.00亿元的优质债权收购项目。从存量不良资产行业分布来看，主要系制造业、批发和零售业、租赁和商务服务业和房地产等行业。
    <br>广东省不良资产一级市场为“4+3”的竞争格局，分别是四家金融资产管理公司的广东分公司，三家地方资产管理公司——粤财资产、招商平安资产和广州资产。
    <br>广州资产2019年两次增资，越秀金控持股比例从38%上升至65%，是公司未来业绩增长的新亮点。
    <br>广州资产管理公司主要经营模式：不良资产收购、企业并购重组、不良资产经营、第三方资产管理、固定收益业务、投融资顾问。


</p>

<h4>不良资产管理公司AMC </h4>
<p>
    <br>业务特点：不良业务实际更多呈现顺周期的特点。这主要是因为上一期低价收购的不良资产，盈利需要在下一期才能体现出来。
    <br>传统观点：AMC公司业务具有逆周期特点，主要是因为当经济周期下行时，银行不良压力较大，不良资产供给增多，因而不良资产购入的价格低。不过从资产处置端角度出发，无论是收购处置类业务、收购重组类业务还是债转股业务，经济周期下行都会对不良资产转让对价、重组定价等产生负面影响。
    <br> 因此不良业务资产购入端是逆周期，而资产处置端是顺周期。
    <br>债转股业务周期最长（5年以上），收购重组业务周期2-3年，而近年收购处置业务周期明显缩短。以处置净收益率/内部收益率代表处置周期，中国信达由20130.0%5.0%10.0%15.0%05001,0001,500不良贷款余额:广东不良贷款余额:广东（亿元）广东省占比（右轴）0.000.501.001.502.0020102011201220132014201520162017不良贷款率:广东年不良贷款率:广东年 年5.8年降至目前0.5年。
    <br>地方AMC立足某一区域，对于当地市场的敏锐度更高，也更能与政府联动来处理一些单户不良或危机企业，呈现明显的地域性特征，对四大AMC影响较小。
    <br>地方AMC特点：特许从事金融不良资产批量处置业务的准金融机构，不属于金融机构；仅从事金融不良资产批量处置业务；股权结构相对多元化，鼓励民间资本等入股地方AMC；注册资本金最低限额为10亿，资本金体量差异大
    <br>盈利模式：港股中国信达和中国华融收购处置类业务IRR保持在15-20%区间波动，较为稳定，收购重组类不良资产月均年化收益率近年来略有下降但基本稳定在10%附近。0%5%10%15%20%25%2012201320142015201620172018中国华融中国信达0.0%5.0%10.0%15.0%20.0%25.0%20112012201320142015201620172018中国华融中国信达

</p>


<hr>
<h3 id="other_finance">其他：房地产金融、汽车金融</h3>

<p>



</p>

















<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ind_fundamental">2，产业链基本面数据</h3>
<p>梳理产业链基本面数据：根据产业链定义梳理产品和服务、个股、行业分类、财务指标。识别高风险和不重要股票。
</p>




<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ind_data_standarded">3，标准化定性和定量数据</h3>
<p>构建标准化定性和定量数据：考虑时间维度和多产业链维度。 </p>

<h4>标准化定性信息</h4>
<p>

</p>


<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ind_table_columns">4，表格数据列设计</h3>
<p>4，表格数据列设计： 日期,股票名称,代码,中信行业1,中信行业2,中信行业3,概念1,概念2,产业链1,产业链2,notes,...
</p>






<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ind_maintainence">5，分析方案和数据表的定期维护机制</h3>
<p>分析方案和数据表的定期维护机制。
</p>









<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="port_simu_media_top40">金融产业链v2003</h3>
<p>PMS组合构建私募：
    <br>1，对银行、保险、证券、金控平台四个二级行业选择价值锚个股和成长锚个股；
    <br>2，对个股设定理想入场价格和目标上涨价格，和最新价格比较并分别打分
    <br>3，根据打分结果加权。

</p>











{% endblock content %}