{% extends "base.html" %}
<meta charset="UTF-8">
<!-- for HTML5 -->
<!-- The block items for this base html file is: {nav_sub, left_frame,menu,content } -->
<!-- 产业链网页模板 -->

{% block nav_sub %}

<a id="a_nav" href="./core_industry.html">核心产业链 |Core industry chain</a> >>
<a id="a_nav" href="./last_industry.html">最新产业链 |Lastest industry chain</a> >>

<br>
<a>细分产业链列表：</a>
<a id="ciss_menu" href="#gaming">游戏 </a> >>
<a id="ciss_menu" href="#videos">影视 </a> >>
<a id="ciss_menu" href="#marketing">营销 </a> >>
<a id="ciss_menu" href="#classic_media_gov">传统媒体和政府支持媒体 </a> >>
<a id="ciss_menu" href="#media_tech">媒体技术，屏幕、VRAR </a> >>
<br><a>产业链模拟组合：</a>
<a id="port_pms" href="#port_simu_media_top40">传媒产业链top40v200218</a> >>
<br><a>细分领域锚个股：</a>
<a href="#ind_def_anchor_stock">细分领域锚个股</a> {% endblock nav_sub %} {% block right_frame %}
<!-- Menu in right frame -->
<!-- ---------------------------------------------------------- -->
<h1><a href="#title"> 传媒产业链 </a></h1>
<h3>目录</h3>
<ul>
    <li><a href="#abstract">1，概要 </a></li>
    <li><a href="#industry_methodology">2，行业分类方法和产业链分析方法 </a></li>
    <li><a href="#sellside_reports">3，主要外部参考资料 </a></li>
    <li><a href="#inside_reports">4，内部研究报告&产业链列表 </a></li>
    <li><a href="#research_menu">5，产业链目录和研究计划 </a></li>
    <li><a href="#industry_db">6，产业链数据和数据库 </a></li>
    <li><a href="#industry_stra">7，产业链相关策略 </a></li>
    <li><a href="#industry_port">8，产业链相关组合和指数 </a></li>
    <li><a href="#industry_reference">9，参考信息和链接 </a></li>

    <li><a href="#ind_definition">1，获取产业链定义  </a></li>
    <li><a href="#ind_fundamental">2，产业链基本面数据   </a></li>
    <li><a href="#ind_data_standarded">3，标准化定性和定量数据 </a></li>
    <li><a href="#ind_table_columns">4，表格数据列设计  </a></li>
    <li><a href="#ind_maintainence">5，分析方案和数据表的定期维护机制。 </a></li>
</ul>
<h3><a id="ind_definition">传媒产业链分析 </a></h3>
<ul>
    <li><a href="#ind_def_abstract">行业概览：</a> </li>
    <li><a href="#ind_def_sub_chain">景气度提升的细分领域（子产业链）：</a> </li>
    <li><a href="#ind_def_anchor_list">行业市值龙头</a> </li>
    <li><a href="#ind_def_anchor_stock">行业锚个股</a> </li>
</ul>

<h3>细分产业链目录</h3>
<ul>
    <li><a href="#gaming">游戏 </a></li>
    <li><a href="#videos">影视 </a>：<a href="#tv">TV </a>||<a href="#movie">电影 </a></li>
    <li><a href="#marketing">营销 </a></li>
    <li><a href="#classic_media_gov">传统媒体和政府支持媒体 </a></li>
    <li><a href="#media_tech">媒体技术，屏幕、VRAR </a></li>
</ul>

<h3><a href="#ind_def_anchor_stock">细分领域锚个股</a></h3>

{% endblock right_frame %} {% block left_frame %}


<!-- Menu in left frame -->
<hr>
<!-- ---------------------------------------------------------- -->
<h1 id="title">传媒产业链 </h1>
<p>传媒产业链对应中信一级行业计算机，旗下二级行业包括了媒体、广告营销、文化娱乐、互联网媒体四个。
    <br>传媒产业是指传播各类信息、知识的传媒实体部分所构成的产业群，它是生产、传播各种 以文字、图形、艺术、语言、影像、声音、数码、符号等形式存在的信息产品以及提供各种增值 服务的特殊产业。
    <br>2020年的机会是经过2016至2019年的下跌、财务报表集体资产减值损失、2018-2019政策监管趋严倒逼 行业改革、5G等技术的发展促进传媒行业创新。

</p>
<hr>
<h3>目录</h3>
<ul>
    <li><a href="#abstract">1，概要 </a></li>
    <li><a href="#industry_methodology">2，行业分类方法和产业链分析方法 </a></li>
    <li><a href="#sellside_reports">3，主要外部参考资料 </a></li>
    <li><a href="#inside_reports">4，内部研究报告&产业链列表 </a></li>
    <li><a href="#research_menu">5，产业链目录和研究计划 </a></li>
    <li><a href="#industry_db">6，产业链数据和数据库 </a></li>
    <li><a href="#industry_stra">7，产业链相关策略 </a></li>
    <li><a href="#industry_port">8，产业链相关组合和指数 </a></li>
    <li><a href="#industry_reference">9，参考信息和链接 </a></li>

    <li><a href="#ind_definition">1，获取产业链定义 </li>
<li><a href="#ind_fundamental">2，产业链基本面数据  </li>
<li><a href="#ind_data_standarded">3，标准化定性和定量数据</li>
<li><a href="#ind_table_columns">4，表格数据列设计 </li>
<li><a href="#ind_maintainence">5，分析方案和数据表的定期维护机制。 </li>
</ul>  
{% endblock left_frame %}

{% block menu %} 

<h3>细分产业链目录</h3>
<ul>
<li><a href="#gaming">游戏 </a></li>
    <li><a href="#videos">影视 </a></li>
    <li><a href="#marketing">营销 </a></li>
    <li><a href="#classic_media_gov">传统媒体和政府支持媒体 </a></li>
    <li><a href="#media_tech">媒体技术，屏幕、VRAR </a></li>
</ul>

<h3><a href="#ind_def_anchor_stock">细分领域锚个股</a></h3>
{% endblock menu %} {% block content %}



<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="abstract">1，概要</h3>
<hr>
<p>经过2016至2019年的下跌、财务报表集体资产减值损失、2018-2019政策监管趋严倒逼 行业改革、5G等技术的发展促进传媒行业创新。
    <br>对应文件：0跨行业的产业链组合_200213.xlsx
    <br>对应文件目录：C:\zd_zxjtzq\rc_reports_cs\产业链_传媒
</p>


<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="industry_definition">产业链定义</h3>
<p>传媒产业是指传播各类信息、知识的传媒实体部分所构成的产业群，它是生产、传播各种以 文字、图形、艺术、语言、影像、声音、数码、符号等形式存在的信息产品以及提供各种 增值服务的特殊产业。
</p>

<h4>传媒产业发展趋势：2020-2023 </h4>
<p>趋势：随着5G技术周期到来，VRAR、云游戏、超高清等与内容应用密切结合带来发展机遇。
    <br>规模：2018年后主要增量来自中老年人群，19年下沉红利逐渐减少；人均单日使用时长 继续增长至4小时，短视频贡献绝大部分增量。
    <br>市场格局：腾讯和阿里覆盖超95%移动互联网用户，BAT&B（字节跳动）合计占据近73% 移动时长；广告、游戏、电商等主要细分行业头部效应明显，其中广告市场格局重新洗牌， 字节跳动已然并肩BAT。未来空间来看，一方面，存量用户争夺倒逼竞争力提升，短视频、 海外市场带来用户增量；另一方面，5G时代消费互联网用户时长和付费规模还有显著提升空间， 和各行业结合的产业互联网拥有巨大空间。
    <br>财务：18年集中计提资产减值损失，19年继续消化监管及去杠杆带来的影响，板块在并购重组热潮下累积的资产泡沫大大消化，同时监管客观加大了部分企业出清，加速有优势公司的集中度提升。
    <br>政策：18-19年，艺人、游戏、影视及其他方向监管逐步展开，虽然严厉监管带来行业困扰，但落地效果都超前期悲观预期，间接倒逼行业变革
    <br>关键词：5G技术基础下，VRAR、云游戏、超高清视频。


</p>


<h4>回顾 </h4>
<p>传媒板块指数从16年至19年底下跌65%，所有行业中跌幅最高。
    <br>财务报表来看，18年集中计提资产减值损失，19年继续消化监管及去杠杆带来的影响，板块在并购重组热潮下累积的资产泡沫大大消化，同时监管客观加大了部分企业出清，加速有优势公司的集中度提升。
    <br>传媒板块19Q1-Q3总营收同比下降0.4%，增速同比下降15.0pct；总归母净利润同比下降22.7%，增速同比下降22.7pct。但从单季度业绩来看，19Q3净利润下滑幅度相对19Q1、Q2已有所收窄；考虑18Q4大量商誉减值基数较低，19Q4有望大概率大幅度修正全年及单季度增速。
    <br>产业政策，2013-2019的三个阶段：（1）红利期：2013至2015年4G推进实施；推动社会主义文化发展；提出“互联网+”行动计划；（2）严格期：2016至2018年，国家加强对影视内容监管、对游戏产业监督、以及对影视业税收、演员薪酬、合同的规范，并相继出台了规定举措；（3）边际改善期：2018年底游戏版号恢复审批；2019年下半年，政策鼓励影视高质量内容发展，推动科技与产业融合；19年底古装剧恢复播出。
    <br>金融市场政策，2013-2019的三个阶段：（1）红利期：2013至2015年，政策进一步优化市场兼并重组条件，鼓励依法设立的并购基金参与上市企业并购重组，并给予产业投融资支持；（2）严格期：2016至2018年，资本市场持续收紧，互联网、影视、游戏等行业跨界并购重组监管趋严，跨界定增叫停；（3）边际改善期：2019年下半年，证监会放松创业板“借壳上市”，发文简化信披要求，明确影视公司IPO原则等，政策开始有所缓和。
    <br>细分领域增长：视频、网购和外卖是渗透率提升最快的三类应用。根据CNNIC数据，即时通信、网络视频和搜索引擎是2018年网民使用率最高的三项应用，分别达到95.6%、87.5%和82.2%，典型代表产品分别是微信、抖音和百度搜索。

</p>


{% load static %}
<h5>图：传媒（申万）板块相对于上证综指、创业板涨跌幅与政策阶段性变化（201301-20191206）</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_policy_sw_media_index_vs_index_201301_201911.png' %}" alt="" height="70%" width="70%" />
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>
<br>
<h5>图：传媒（申万）板块相对于上证综指、创业板涨跌幅（201301-20191206）</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_sw_media_index_vs_index_201601_201911.png' %}" alt="" height="50%" width="50%" />
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>
<br>
<h5>图：2011年-2019年传媒行业板块市盈率情况</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_sw_media_index_pe_ttm_2011_20191206.png' %}" alt="" />
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>
<br>
<h5>图：传媒行业和创业板剔除龙头后地营收增速对比</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_revenue_growth_media_chinext_2016_2019q3.png' %}" alt="" />
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>
<br>
<h5>图：传媒行业和创业板剔除龙头后地扣非归母净利润增速对比</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_netprofit_growth_media_chinext_2016_2019q3.png' %}" alt="" />
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>
<br>
<h5>图：传媒公司2015-2019Q1-Q3商誉总额变化</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_goodwill_2015_2019q3.png' %}" alt="" />
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>
<br>

<h5>图：细分领域用户渗透率对比（2007A-2018A，1H19A）</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_sub_product_penetration_rate_2007_2019H1.png' %}" alt="" />
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>
<br>

<table id="ciss_table">
    <caption>2G --> 5G 不同时期APP应用</caption>
    <tr id="table_tr">
        <th>通信时代</th>
        <th>地区</th>
        <th>分类</th>
        <th>头部公司</th>
        <th>时期</th>
    </tr>
    <tr>
        <td>2G</td>
        <td>中国</td>
        <td>电商</td>
        <td>阿里巴巴-淘宝、京东</td>
        <td>2002-2007</td>
    </tr>
    <tr>
        <td>2G</td>
        <td>中国</td>
        <td>社交</td>
        <td>腾讯-QQ</td>
        <td>2002-2007</td>
    </tr>
    <tr>
        <td>3G</td>
        <td>中国</td>
        <td>社交</td>
        <td>微信、新浪</td>
        <td>2008-2014</td>
    </tr>
    <tr>
        <td>3G</td>
        <td>中国</td>
        <td>地图导航</td>
        <td>百度-地图</td>
        <td>2008-2014</td>
    </tr>
    <tr>
        <td>4G</td>
        <td>中国</td>
        <td>长视频</td>
        <td>优酷土豆、爱奇艺、腾讯视频</td>
        <td>2008-2014</td>
    </tr>
    <tr>
        <td>4G</td>
        <td>中国</td>
        <td>生活服务</td>
        <td>美团、阿里巴巴-饿了么、美团-点评</td>
        <td>2014-2019</td>
    </tr>
    <tr>
        <td>4G</td>
        <td>中国</td>
        <td>短视频</td>
        <td>头条-抖音、快手</td>
        <td>2014-2019</td>
    </tr>
    <tr>
        <td>4G</td>
        <td>中国</td>
        <td>新闻</td>
        <td>头条</td>
        <td>2014-2019</td>
    </tr>
    <tr>
        <td>4G</td>
        <td>中国</td>
        <td>游戏</td>
        <td>腾讯-游戏、网易-游戏、世纪华通？</td>
        <td>2014-2019</td>
    </tr>
    <tr>
        <td>5G</td>
        <td>中国</td>
        <td>高清社交</td>
        <td>腾讯、头条-抖音</td>
        <td>2020-2025</td>
    </tr>
    <tr>
        <td>5G</td>
        <td>中国</td>
        <td>虚拟现实和增强现实</td>
        <td>游戏、汽车、家电</td>
        <td>2014-2025</td>
    </tr>
</table>

<h4>中国互联网用户数量、用户结构、终端数量、使用时长 </h4>
<p>中国互联网用户规模从2007年2.1亿增加至2019H1的8.54亿
    <br> 互联网用户增速：2018年中国互联网用户增长重新加快，互联网用户规模突破8亿，同比增长7.3%至8.29亿，年度新增互联网用户约5,700万，为近8年最高，互联网渗透率达到59.6%（同期全球互联网渗透率为51%），显著领先于全球第二大市场印度。2019年上半年，中国互联网用户规模进一步增长至8.54亿，互联网渗透率提高至61.2%。
    <br>上网终端：移动互联网接近全面普及，互联网电视的快速发展推动电视成为更加主流的入口。2019年上半年，手机作为上网终端的使用率已达到99.1%，移动互联网用户规模达到8.47亿；电视的使用率自2017年起持续高于平板电脑，截至2019年上半年已达到33.1%，相较2018年底提高2个百分点，电视的使用率仅低于笔记本电脑3个百分点。
    <br>中国互联网人口：90/00后网生一代与80后已充分渗透，70后为代表的中年人群是新增用户的主要来源。截至2019年上半年，90后人群（20-29岁）已实现互联网的全面渗透，00后（10-19岁）的互联网渗透率接近95%，基本是目前新应用抢夺最为激烈的年龄层，而80后（30-39岁）的渗透率自2018年超过90%，2019年上半年进一步提升至94.2%，已经面临饱和的压力；另一方面，以70后（40-49岁）为代表的中年人群互联网渗透率明显提升，70后渗透率达到69.1%，相较于2017年底提升24.4个百分点，中老年人群（40岁以上）贡献了超过90%的新增互联网用户，其中70后目前已有1.5亿网民，仍有约7,000万未触网人口，未来有望继续提高渗透率
    <br>城乡用户差异：数字化鸿沟，城镇互联网渗透率向美国追赶，农村渗透率尚低于城镇十年前水平。2018年中国城镇互联网渗透率达到73.0%，同比提升3.8百分点，接近美国2011-2012年水平；农村互联网用户仅有2.2亿，仍有3.4亿未触网人口，互联网渗透率为39.2%，同比提升3.1百分点，尚低于城镇在2009年的渗透率（43.0%）。城镇与农村的互联网渗透率差距自2011年起基本稳定在32-34个百分点，城乡二元分化形成显著的数字化鸿沟。
    <br>互联网人均时长：2013年取得同比22%的高增长后，2014年起增长趋于平缓。2018年互联网用户人均单日时长达到3.94小时，同比增长2.2%，2019年上半年进一步增长至3.99小时/天。
    <br>移动互联网人均时长：从2017年的不到4小时增长至2018年底5.7小时，到2019年9月移动互联网人均单日时长已经达到6.0小时。考虑QuestMobile的MAU定义为设备数，而平均每个移动互联网用户拥有约1.34台设备（基于CNNIC2019年6月移动网民数据计算），移动互联网实际人均单日时长已达到8.0小时，面临饱和的压力。
    <br>增量时长的结构来看，短视频贡献了近2/3的移动互联网时长新增量，综合电商带来约8%的增量时长。根据QuestMobile数据，2019年9月移动互联网时长同比增量Top2的细分行业为短视频和综合电商，分别占增量时长的64.1%和7.8%，短视频和综合电商合计带来约72%的新增时长。 其中，移动视频受短视频驱动时长占比提升幅度最大。

</p>
<br>
<h5>图：中国新增互联网用户规模及同比增速(2007A-2018A,1H19A)</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_internet_user_number_growth_2007_2019H1.png' %}" alt="" />
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>
<br>
<br>
<h5>图：中国互联网用户上网设备使用率（2007A-2018A，1H19A）</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_internet_devices_using_rate_2007_2019H1.png' %}" alt="" />
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>
<br>
<h5>图：用户月度总使用时长同比增量Top8细分领域占比</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_using_time_percentage.png' %}" alt="" weight="70%" height="70%" />
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>
<br>

<h4>流量-集中度：腾讯和阿里均覆盖超95%互联网用户，BAT&B合计占据近73%移动时长 </h4>
<p>腾讯围绕社交及泛娱乐核心扩张业务版图，流量优势最为突出，截至2019年9月已覆盖97.3%的移动互联网用户；阿里巴巴基于电商业务打造数字经济体，用户覆盖率达到95.2%，仅次于腾讯；百度通过以搜索为核心的多产品矩阵合计覆盖88.4%的互联网用户；而字节跳动得益于在新闻资讯和短视频两条细分赛道接连取得成功，同时持续延展多产品矩阵，目前已渗透63.7%的移动互联网用户，成为又一个流量巨头。
    <br>字节跳动受益于抖音带来的短视频时长增量，2018年6月即赶超阿里，目前时长份额达到12.5%，仅次于腾讯；BAT&B（ByteDance）四家合计占据72.6%的移动互联网时长份额。

</p>

<h5>图：中国互联网巨头的移动互联网时长份额（2018M3-2019M3）</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_BATB_time_percentage_1803_1909.png' %} " alt=" " />
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>
<br>

<h4>流量-新增流量：私域流量如微信生态、抖音和快手粉丝</h4>
<p>
    私域流量是指由品牌、商家或个人（头部KOL、中长尾KOC）自主拥有，可反复多次、随时触达的流量，且无需额外支付成本。
    <br> （相比之下，公域流量的额外倾斜通常需要付费且多为一次性导流）
    <br> 常见的私域流量运营方式包括公众号/商家号、社群、官方/个人社交账号（如微博）等。
    <br>流量私域化的基础一般是用户（流量）与品牌、商家或达人建立的信任关系，因此私域流量具有高粘性、高转化、高复购等特点。
    <br>微信生态四环节：触达获取、沉淀种草、购买转化、留存复购。
    <br>快手“磁力引擎”打通公域流量与私域流量运营：
    <br>快手-公域流量：开屏广告、信息流、视频首页、作品推广；活动{话题、标签、挑战、表情、搜索}
    <br>快手-私域流量：商户、个人、接广告。
</p>

<h4>产业互联网：阿里巴巴、腾讯、</h4>
<p>根据网信办的报告，2018年中国数字经济规模已经达到31.3万亿元，占GDP的比重达到34.8%。

</p>
<h5>图：中国消费互联网和产业互联网数字化程度与美国对比</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_digital_numbers_china_us_201901.png' %} " alt=" " />
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>
<br>

<h5>图：阿里巴巴商业操作系统与数字经济体资料来源</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_alibaba_digital_system.png' %} " alt=" " />
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>
<br>

<h5>图：腾讯产业互联网生态平台</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_tencent_digital_system.png' %} " alt=" " />
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>
<br>



<hr>
<h4 id="gaming">游戏 </h4>
<p>

    <li>游戏-HKUS：腾讯-0700.HK、网易-NTES.O </li>
    <li>游戏-A股:三七互娱-002555.SZ、完美世界-002624.SZ、{世纪华通-002602.SZ} </li>
</p>

<table id="ciss_table">
    <caption>细分领域锚个股</caption>
    <tr id="table_tr">
        <th>细分领域</th>
        <th>国家地区</th>

        <th>价值成长</th>
        <th>排名</th>
        <th>股票名称</th>
        <th>股票代码</th>
        <th>成本市值|亿</th>
        <th>最新市值|亿</th>
        <th>卖出市值|亿</th>
        <th>备注|当地货币</th>
    </tr>
    <tr>
        <th>游戏</th>
        <th>中国</th>
        <th>价值</th>
        <th>1</th>
        <th>世纪华通</th>
        <th>002602.SZ</th>
        <th>650</th>
        <th>800</th>
        <th>850</th>
        <th> </th>
    </tr>
    <tr>
        <th>游戏</th>
        <th>中国</th>
        <th>价值</th>
        <th>2</th>
        <th>三七互娱</th>
        <th>002555.SZ</th>
        <th>550</th>
        <th>715</th>
        <th>720</th>
        <th> </th>
    </tr>
    <tr>
        <th>游戏</th>
        <th>中国</th>
        <th>价值</th>
        <th>3</th>
        <th>完美世界</th>
        <th>002624.SZ</th>
        <th>500</th>
        <th>660</th>
        <th>680</th>
        <th> </th>
    </tr>
    <tr>
        <th>游戏</th>
        <th>中国</th>
        <th>价值</th>
        <th>4</th>
        <th>昆仑万维</th>
        <th>002624.SZ</th>
        <th>500</th>
        <th>660</th>
        <th>680</th>
        <th> </th>
    </tr>
    <tr>
        <th>游戏</th>
        <th>中国</th>
        <th>成长</th>
        <th>1</th>
        <th>三七互娱</th>
        <th>002555.SZ</th>
        <th>550</th>
        <th>715</th>
        <th>720</th>
        <th> </th>
    </tr>
    <tr>
        <th>游戏</th>
        <th>中国香港</th>
        <th>价值</th>
        <th>1</th>
        <th>腾讯控股</th>
        <th>0700.HK</th>
        <th>30000</th>
        <th>36800</th>
        <th>45000</th>
        <th> </th>
    </tr>
    <tr>
        <th>游戏</th>
        <th>中国香港</th>
        <th>价值</th>
        <th>2</th>
        <th>IGG</th>
        <th>0799.HK</th>
        <th>70</th>
        <th>70</th>
        <th>140</th>
        <th>2017~2020净利润稳定10亿rmb左右，pe仅5.6倍 </th>
    </tr>
    <tr>
        <th>游戏</th>
        <th>美国-中国</th>
        <th>价值</th>
        <th>1</th>
        <th>网易</th>
        <th>NTES.O</th>
        <th>360</th>
        <th>410</th>
        <th>500</th>
        <th>2019,2020,2021净利润212，128，145亿rmb </th>
    </tr>
    </tr>
</table>

<p>A股市场：
    <br> 腾讯和网易代表着不同的两类游戏厂商，腾讯自研与发行并重，在国内拥有社交网络等赋予的独有的渠道优势，而网易注重精品化研发，擅长产品的长线运营，两家合计占据中国游戏行业的绝大部分江山。
    <br> 腾讯和网易两家的合计市场份额自2017年起基本稳定在75%-80%之间（个别季度受产品供给及爆款出现等因素影响有所波动），3Q19 手游CR2市场份额为75.3%，其中腾讯一家占据整体手游市场的57%。从PC游戏市场来看，腾讯和网易的市场份额除2014年出现下滑外，整体处于持续提升态势，1H19 CR2市场份额达到83.7%，相较2018年提升2.1个百分点。
    <br>2019年前三季度实现移动游戏实际销售收入1178.9亿元，同比增长20.8%。2018年增速较低主要受版号限制和前期基数较高影响。板块龙头公司手游业务有望保持20%的增长。
    <br>2008-2019Q1-Q3中国移动游戏用户规模从1千万增长至6.3亿，且2018、2019Q3分别增长0.5、0.25亿。

</p>
<p>全球市场：
    <br>根据Newzoo最新数据，2019年全球游戏市场规模预计为1448亿美元，同比增长7.2%。和2013年765亿美元比增长+89%。
    <br> 2019年中国游戏市场规模预计为365亿美元，占全球游戏市场比例为25.5%，海外游戏市场潜在空间广阔。
    <br>根据《2019年Q3中国游戏产业报告》，中国2019年第三季度自主研发游戏海外市场实际销售收入为87.1亿元，同比增长21.6%。中国游戏出海表现亮眼，保持两位数增速，高于中国与全球游戏行业增速。

</p>
<p>不同平台商分成模式
    <br>iOS渠道：苹果手机应用商店下载的游戏的充值流水需要分出30%给AppStore，另外的70%由发行商和研发商之间协定分成。
    <br>Android渠道：在Android和第三方手机应用商店下载的游戏的充值流水需要分出50%给渠道商，另外的50%由发行商和研发商之间协定分成
    <br>APK官网包下载：Android端获取权限之后可以直接跳转官网包下载，此时用户充值直接全部变成发行商的收入，渠道端主要按照CPI或者CPA收费，成为发行商的销售费用
    <br>趋势：越来越多的发行商开始转向第三种下载模式（App需要取得系统安装权限）。而这在中期将导致下游渠道的进一步分散，倒逼安卓端调整目前50%左右偏高的分成比例。

</p>

{% load static %}
<h5>图：中国市场三类游戏公司结构：</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_gaming_cn_market_3types_cp_publisher_platform.png' %} " alt=" " />
<p>notes:注：网易自3Q18起剔除海外部分，腾讯自3Q19起剔除海外部分。</p>
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>


<h5>图：中国手游CR2市场份额 2015Q1-2019Q3</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_gaming_mobile_marketshare_tencent_netease_2015_2019q3.png' %} " alt=" " />
<p>notes:注：网易自3Q18起剔除海外部分，腾讯自3Q19起剔除海外部分。</p>
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>

<br>
<h5>图：中国PC游戏CR2市场份额 2015Q1-2019Q3</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_gaming_PC_marketshare_tencent_netease_2015_2019q3.png' %} " alt=" " />
<p>notes:注：网易自3Q18起剔除海外部分，腾讯自3Q19起剔除海外部分。</p>
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>
<br>
<h5>图：2008-2019Q3中国移动游戏市场实际销售收入及同比情况</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_gaming_mobile_revenue_2008_2019Q3.png' %} " alt=" " />
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>
<br>
<h5>图：2008-2019Q3中国移动游戏市场ARPU值及同比情况</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_gaming_mobile_arpu_2008_2019Q3.png' %} " alt=" " />
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>
<br>
<h5>图：2008-2019Q3中国自研游戏海外市场销售收入</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_gaming_from_China_to_aboard_revenue_2008_2019Q3.png' %} " alt=" " />
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>
<br>


<h5>游戏：政策</h5>
<p>游戏行业：2018年以前冻结游戏版号。 18年底版号放开，未成年防沉迷政策严格执行背景下，19年手游增速恢复至20%，率先迎来复苏； 5G时代云游戏以及VR、AR有望带来用户体验提升和市场增长。
    <br>2018年12月至2019年3月，游戏版号每月的审批量在160-300之间不等，从2019年4月起，游戏版号每月的审批量都控制在20-120的范围内，变化的原因是由于中国的游戏监管审核部门由广电总局变为中宣部出版局，版号审批节奏变慢，审批周期拉长，但是版号发放节奏趋于正常化。

</p>

<table id="ciss_table">
    <caption>监管领导发言对比：201812 vs 201908</caption>
    <tr id="table_tr">
        <th>关键词</th>
        <th>2018-12</th>
        <th>2019-08</th>
    </tr>
    <tr>
        <td>行业发展现状</td>
        <td>网络游戏已成为网络内容产业的重要版块,大众文化娱乐的重要方式</td>
        <td>2018年，中国游戏市场实际销售收入达2144亿元，重点网络文学网站营业收入342亿元。19H1数字内容产业继续稳步向好，游戏市场实际销售收入1140亿元，同比增长8.6%</td>
    </tr>
    <tr>
        <td>现存问题</td>
        <td>更好地担负文化使命：我们将加大指导支持力度，着力推出一批具有中国风格、中国气派、展现新时代新气象的原创游戏精品</td>
        <td>创新能力不够、内容质量不高、文化内涵不足、精品力作不多、社会责任感不强等突出问题</td>
    </tr>
    <tr>
        <td>意见</td>
        <td>担负文化使命</td>
        <td>坚持导向。下半年我们还将加大游戏事中事后监管，加强对已上线游戏的动态监控，严肃处理运营中擅自增加不良内容等问题。</td>
    </tr>
    <tr>
        <td>意见</td>
        <td>加快产业转型升级</td>
        <td>始终坚持高质量发展：今年国家新闻出版署明确提出总量控制、精准调控的要求，就是要鼓励优秀、遏制平庸、淘汰低劣，推动转型升级，让精品生产成为全行业的共同追求。我们还将开展游戏精品评选推荐活动，每年推选一批弘扬主旋律、传递正能量、寓教于乐的优秀游戏作品，加大对优秀产品的推介扶持。</td>
    </tr>
    <tr>
        <td>意见</td>
        <td>履行社会责任</td>
        <td>始终坚持把社会效益放在首位：目前我们正在制定防止青少年沉迷网络游戏的办法，对账号实名注册制度、未成年人使用网络游戏时段时长、向未成年人提供付费服务、探索实施适龄提示制度等作出明确要求。</td>
    </tr>
    <tr>
        <td>意见</td>
        <td>推动优秀游戏海外传播</td>
        <td>始终坚持创新创造：今年我国下发5G商业牌照，目前一些游戏企业已经开展5G云游戏的服务。5G游戏云端运行、无需下载、即点即玩等新特点，可能会对整个游戏业态产生重大影响，希望行业密切关注，积极探索，让新技术新应用助力行业转型升级。要积极推动“走出去”，开辟新市场，让更多具有中国精神、中国风格、中国气派的产品走出国门、走向世界。19H1中国自主研发游戏海外市场销售收入超过55亿美元，同比增长20.2%。</td>
    </tr>
</table>
{% load static %}
<h5>图：2018年12月-2019年11月国产网游版号及进口网游版号数量</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_gaming_licence_number_201812_201911.png' %} " alt=" " />
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>
<br>

<p>对未成年人使用网络游戏实行时间管理：
    <br>目前头部游戏（腾讯网易）防沉迷系统已经成熟。2019年10月20日腾讯首席运营官任宇昕指出，健康系统已经覆盖了腾讯游戏超过97.3%的活跃用户，对未成年人的游戏时长和游戏消费有明显的控制作用。
    <br>未成年人群体付费能力有限，已执行的游戏保护体系对未成年人游戏时长控制效果显著，但未对游戏流水及收入产生较大影响。A股游戏公司的重度游戏产品不是针对未成年人消费群体的，业绩影响有限。
    <br>王者荣耀：未成年人群体占比较大的《王者荣耀》（&gt=15岁玩家占比11.1%）等游戏在未成年人保护措施上线后流水也未产生较大影响，19年2月28日腾讯透露，《王者荣耀》12岁及12岁以下未成年用户平均游戏时长相比启动公安实名校验前下降59.8%，12岁以上未成年用户平均游戏时长下降40.3%，而19年2月《王者荣耀》依然获得高流水，可见即使未成年人游戏时长得以控制，但对流水收入其实影响相对有限。
    <br>2017年腾讯开始启动未成年人保护、推出防沉迷之前，TalkingData推出《王者荣耀热点报告》显示：学生用户在总用户群中占比为24.5%，而在24.5%的学生用户中，大学生占比高达21.8%，中小学生只有2.7%。
</p>

<h5>腾讯和网易游戏发展战略</h5>
<p>2019年Q3腾讯手游市场占比达58.3%，网易手游市场占比达19.6%，竞争激烈。
    <br> 掌趣与腾讯合作的产品流水及生命周期均有不错的表现。此外，腾讯作为掌趣的股东和长期合作伙伴，持有掌趣2%的股权，认可掌趣的研发实力。
    <br>游戏的文化价值：中国文化传承、社会价值、工艺责任、科技创新、文化出海。
</p>

<table id="ciss_table">
    <caption>发展战略</caption>
    <tr id="table_tr">
        <th>游戏公司</th>
        <th>战略</th>
        <th>关键词</th>
        <th>合作方</th>
        <th>备注</th>
    </tr>
    <tr>
        <td>腾讯</td>
        <td>文化传承、文化出海</td>
        <td>传承和弘扬优秀文化、推动中国文化走出去 </td>
        <td>故宫博物院、敦煌研究院、昆曲越剧艺术家</td>
        <td>201911</td>
    </tr>
    <tr>
        <td>腾讯</td>
        <td>社会价值、工艺责任</td>
        <td>梦计划推出《见》《长空暗影》《故宫：口袋宫匠》《家国梦》等在内的19款功能性游戏 </td>
        <td> </td>
        <td>201911;题材涵盖文化、科技、教育、公益等众多领域，将游戏与行业场景进行跨界融合</td>
    </tr>
    <tr>
        <td>腾讯</td>
        <td>社未成年人保护</td>
        <td>游戏支持系统：“成长守护平台”、“健康系统”、“少年灯塔主动服务工程 </td>
        <td> </td>
        <td>2017年以来 </td>
    </tr>
    <tr>
        <td>腾讯</td>
        <td>科技创新</td>
        <td>联合实验室：5G、云、AI技术 </td>
        <td>Intel、Qualcomm、Unity、ARM </td>
        <td>2017年以来 </td>
    </tr>
</table>

<h5>云游戏 </h5>
<p>云游戏（Cloudgaming），是指脱离终端限制，直接在云端服务器运行游戏的一种新形式，特点是免配置、免下载、跨终端。
    <br>资本：2018年开始，国内外的头部企业竞相公布云游戏布局，资本的运作也更加频繁。这一波浪潮得益于GPU、5G、虚拟化等关键性技术的突破。
    <br>技术：谷歌Stadia、腾讯Start、网易云游戏、腾讯即玩、咪咕快游、小沃云游戏、天翼云游戏等各参与方的云游戏平台迭代和更新，是一个不断量变的过程，期待未来1~3年会出现质变。
</p>
<table id="ciss_table">
    <caption>游戏产业链变化:内容,分发,渠道</caption>
    <tr id="table_tr">
        <th>游戏类型</th>
        <th>发展时期</th>
        <th>参与方</th>
        <th>占比</th>
        <th>发展时期</th>
        <th>参与方</th>
        <th>占比</th>
        <th>备注</th>
    </tr>
    <tr>
        <td>手游</td>
        <td>初期</td>
        <td>研发</td>
        <td>30%</td>
        <td>成熟期</td>
        <td>研发</td>
        <td>15%</td>
        <td>研发费用、承揽承做；后期可享受IP分成</td>
    </tr>
    <tr>
        <td>手游</td>
        <td>初期</td>
        <td>发行</td>
        <td>40%</td>
        <td>成熟期</td>
        <td>发行</td>
        <td>30%</td>
        <td>渠道方收取后的一部分；成本包括：上游分成、推广费、发行运营费</td>
    </tr>
    <tr>
        <td>手游</td>
        <td>初期</td>
        <td>渠道</td>
        <td>30%</td>
        <td>成熟期</td>
        <td>渠道</td>
        <td>50%</td>
        <td>iOS,30%;安卓，50%</td>
    </tr>
</table>
{% load static %}
<h5>图：云游戏目前的产业格局,2019,腾讯研究所</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_cloud_gaming_industry_structure_2019.png' %} " alt=" " />
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>
<br>
<h5>图：现有的云游戏平台,2019,腾讯研究所</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_glimpse_cloud_gaming_platform.png' %} " alt=" " />
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>
<br>

<h5>图：Google Stadia云游戏的付费模式</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_gaming_google_stadia_payment_structure_2020.png' %} " alt=" " />
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>




<hr>
<h4 id="videos">影视 </h4>
<p>影视-A股：芒果超媒-300413.SZ、光线传媒-300251.SZ、万达电影-002739.SZ;
    <br>影视-港股：阿里影业、猫眼娱乐、星美控股、IMAX CHINA1970.HK
    <br>影视-美股-中国：爱奇艺ID.O、腾讯
    <br>影视-美股：<br>影视-港股：
</p>

<table id="ciss_table">
    <caption>细分领域锚个股</caption>
    <tr id="table_tr">
        <th>细分领域</th>
        <th>国家地区</th>
        <th>价值成长</th>
        <th>排名</th>
        <th>股票名称</th>
        <th>股票代码</th>
        <th>成本市值|亿</th>
        <th>最新市值|亿</th>
        <th>卖出市值|亿</th>
        <th>备注</th>
    </tr>

    <tr>
        <th>影视</th>
        <th>中国</th>
        <th>成长</th>
        <th>1</th>
        <th>芒果超媒</th>
        <th>300413.SZ</th>
        <th>350</th>
        <th>785</th>
        <th>800</th>
        <th></th>
    </tr>
    <tr>
        <th>影视</th>
        <th>中国</th>
        <th>成长</th>
        <th>2</th>
        <th>芒果超媒</th>
        <th>300413.SZ</th>
        <th>350</th>
        <th>785</th>
        <th>800</th>
        <th></th>
    </tr>
    <tr>
        <th>影视</th>
        <th>中国</th>
        <th>价值</th>
        <th>1</th>
        <th>中国电影</th>
        <th>600977.SH</th>
        <th>240</th>
        <th>238</th>
        <th>360</th>
        <th> </th>
    </tr>
    <tr>
        <th>影视</th>
        <th>中国</th>
        <th>价值</th>
        <th>2</th>
        <th>光线传媒</th>
        <th>300251.SZ</th>
        <th>250</th>
        <th>318</th>
        <th>400</th>
        <th> </th>
    </tr>
    <tr>
        <th>影视</th>
        <th>中国</th>
        <th>价值</th>
        <th>3</th>
        <th>横店影视</th>
        <th>603103.SH</th>
        <th>90</th>
        <th>91.5</th>
        <th>150</th>
        <th> </th>
    </tr>
    <tr>
        <th>影视</th>
        <th>中国香港</th>
        <th>价值</th>
        <th>1</th>
        <th>阿里影业</th>
        <th>1060.HK</th>
        <th>200</th>
        <th>280</th>
        <th>340</th>
        <th>阿里巴巴控股49%，主营互联网票务平台淘票票 </th>
    </tr>
    <tr>
        <th>影视</th>
        <th>中国香港</th>
        <th>价值</th>
        <th>2</th>
        <th>猫眼娱乐</th>
        <th>1896.HK</th>
        <th>120</th>
        <th>128</th>
        <th>200</th>
        <th>大股东光线传媒66.85、美团8.46%、腾讯6.56%；光线2016年取得美团电影控股权，腾讯17年加入。 </th>
    </tr>
</table>



<p>影视行业：19年底监管边际放松，长视频及台网剧方面，多部延期的古装项目已陆续上线，头部CP大剧明年预期陆续恢复开机；电影行业《哪吒》及国庆档高增长改善最悲观票房预期，国产片头部效应明显，2020年春节档预计迎来开门红；渠道增速正在放缓，单银幕产出跌幅收窄。
    <br>根据CNNIC数据，截止2019年上半年我国在线视频用户规模达6.39亿，同比增长4.9%，渗透率74.8%。时长方面，2019年上半年在线视频类APP用户使用时长占比环比扩大0.6pct至13.4%，占比仍然仅次于即时通信，且差距缩小。
    <br>渗透率=在线视频用户规模/网民规模
    <br> 2019年上半年在被普遍认为拉新能力最强的大IP古装内容上线延迟
    <br>2019年上半年爱奇艺、腾讯视频和芒果TV付费会员数分别达1.005亿、9690万和1501万，分别同比增长49.8%、30.9%和149.8%，单平台会员数首次实现破亿。
    <br>政策：广电总局公布2019-2021年度《电视剧制作许可证（甲种）》机构名单，73家机构入选，较2017年、2018年的113家，减少35%。
    <br>古装题材：古装方面，据凤凰科技，从数量上来看，18年1-6月全国拍摄制作电视剧备案公示中，共有95部古代题材作品，达到4429集，占比15.7%。今年同期，古代题材作品的数量仅为34部、1498集，分别同比下滑了64%和66.2%，占比7.9%，占比下滑约一半。
    <br>现实题材：当前，现实题材成为主流，2021年建党100年时预计生产与播出需求能更好的匹配
    <br>剧组数量：19年1~3季度平均单季度电视剧组讯64个，去年同期数据为121个；19年1~3季度平均单季度网络剧组讯71个，去年同期数据为80个。9月16日，华策100%主控的大剧《有翡》开机，目前，湖南卫视、腾讯视频已经锁定。


</p>

<h4 id="tv">互联网视频网站</h4>
<h5>芒果超媒-芒果TV增长较强</h5>
<p>芒果TV用户仍在快速增长期，2020年有望达3000万目标。会员截止19H1已突破1500万，较年初增长40%；按照QM数据，19Q3芒果TV平均MAU达1.26亿，同比及环比增速达19.64%、12.35%，人均使用时长达428.19分钟，位于四大平台之首
    <br> 芒果TV19年全网TOP15热度占比提升，看好20年招商布局。根据骨朵数据，19年芒果TV热门综艺占全网热度前15比例同比提高11pct。因为部分头部内容推迟上线，如《妻子的浪漫旅行3》等，热度在全网综艺前15的比例在Q3有所下滑，减少约2-3部。
    <br> 随着《妻子的浪漫旅行3》、《明星大侦探5》、《亲爱的客栈3》等S级项目陆续在Q4上线，热播综艺数有望继续在行业内保持领先。
    <br>芒果TV共发布42个剧集项目，较去年34部，增长24%。在保持女性向占主导趋势不变的情况下，新增更多类型的剧集，如军旅、谍战等男性向题材，以及科幻、互动剧等全新题材，在未来将会满足更多不同圈层的用户需求。
    <br>上市公司依旧是剧集的核心生产力。在优爱腾芒的片单202部中有42部涉及上市公司参与。其中，芒果超媒参与的数量最多，达到9部，其次新丽（阅文）、华策影视各达到6部，完美世界有5部，欢瑞世纪有3部，慈文传媒和万达影视有2部


</p>


{% load static %}
<h5>图：卫视招商中部分涉及影视剧上市公司的项目</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_videos_app_CN_times_2016_2019.png' %} " alt=" " />
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>

<table id="ciss_table">
    <caption>卫视招商中部分涉及影视剧上市公司的项目3</caption>
    <tr id="table_tr">
        <th>湖南卫视2020</th>
        <th>参与公司（仅列上市公司）</th>
    </tr>
    <tr>
        <th>《下一站是幸福》</th>
        <th>华策影视</th>
    </tr>
    <tr>
        <th>《爱情高级定制》</th>
        <th>新媒诚品（万达电影）</th>
    </tr>
    <tr>
        <th>《蜗牛与黄鹂鸟》</th>
        <th>天娱传媒（芒果超媒）、尚世影业（东方明珠）</th>
    </tr>
    <tr>
        <th>《向往幸福》</th>
        <th>芒果影视（芒果超媒）</th>
    </tr>
    <tr>
        <th>《向阳而生》</th>
        <th>芒果影视（芒果超媒）</th>
    </tr>
    <tr>
        <th>《流金岁月》</th>
        <th>新丽传媒（阅文）</th>
    </tr>
    <tr>
        <th>《有翡》</th>
        <th>华策影视</th>
    </tr>
    <tr>
        <th>《山海经之上古密约》</th>
        <th>芒果娱乐（芒果超媒）</th>
    </tr>
    <tr>
        <th>《青簪行》</th>
        <th>新丽传媒（阅文）</th>
    </tr>
    <tr>
        <th>《爱情的开关》</th>
        <th>芒果娱乐（芒果超媒）</th>
    </tr>
    <tr>
        <th>《这就是生活》</th>
        <th>芒果影视（芒果超媒）</th>
    </tr>
    <tr>
        <th>《青青子矜》</th>
        <th>芒果娱乐（芒果超媒）</th>
    </tr>
    <tr id="table_tr">
        <th>东方卫视2020</th>
        <th>参与公司（仅列上市公司）</th>
    </tr>
    <tr>
        <th>《若你安好便是晴天》</th>
        <th>中影股份</th>
    </tr>
    <tr>
        <th>《瞄准》</th>
        <th>天娱传媒（芒果超媒）</th>
    </tr>
    <tr>
        <th>《平凡的荣耀》</th>
        <th>华策影视</th>
    </tr>
    <tr>
        <th>《精英律师》</th>
        <th>新丽传媒（阅文）</th>
    </tr>
    <tr>
        <th>《新世界》</th>
        <th>光线传媒</th>
    </tr>
    <tr>
        <th>《爱情公寓5》</th>
        <th>华策影视</th>
    </tr>
    <tr>
        <th>《隐秘而伟大》</th>
        <th>芒果影视（芒果超媒）</th>
    </tr>
    <tr>
        <th>《风暴舞》</th>
        <th>慈文传媒</th>
    </tr>
    <tr>
        <th>《暴风眼》</th>
        <th>完美世界</th>
    </tr>
    <tr id="table_tr">
        <th>浙江卫视2020</th>
        <th>参与公司（仅列上市公司）</th>
    </tr>
    <tr>
        <th>《精英律师》</th>
        <th>新丽传媒（阅文）</th>
    </tr>
    <tr>
        <th>《暴风眼》</th>
        <th>完美世界 </th>
    </tr>
    <tr id="table_tr">
        <th>江苏卫视2020</th>
        <th>参与公司（仅列上市公司）</th>
    </tr>
    <tr>
        <th>《光荣时代》</th>
        <th>慈文传媒</th>
    </tr>
    <tr>
        <th>《梦在海这边》</th>
        <th>幸福蓝海</th>
    </tr>
    <tr>
        <th>《隐秘而伟大》</th>
        <th>芒果影视（芒果超媒）</th>
    </tr>
    <tr>
        <th>《幸福还会来敲门》</th>
        <th>幸福蓝海</th>
    </tr>

    <tr id="table_tr">
        <th>公司</th>
        <th>2019年前生产的核心库存剧</th>
    </tr>
    <tr>
        <th>慈文传媒</th>
        <th>《风暴舞》（待定）、《盗墓笔记》（待定）</th>
    </tr>
    <tr>
        <th>华策影视《</th>
        <th>绝代双骄》（完美共同出品，待定档）</th>
    </tr>
    <tr>
        <th>欢瑞世纪</th>
        <th>《天下长安》（待定）、《锦衣之下》（待定）、《封神之天启》（待定）</th>
    </tr>
</table>


<table id="ciss_table">
    <caption>芒果TV19Q3流量数据:2019年Q3</caption>
    <tr id="table_tr">
        <th>2019Q3</th>
        <th>爱奇艺</th>
        <th>腾讯</th>
        <th>优酷</th>
        <th>芒果TV</th>
    </tr>
    <tr>
        <th>季度平均月活跃用户|亿</th>
        <td>5.787</td>
        <td>5.578</td>
        <td>4.183</td>
        <td>1.261</td>
    </tr>
    <tr>
        <th>同比|%</th>
        <td>5.4</td>
        <td>5.2</td>
        <td>-11.58</td>
        <td>19.64</td>
    </tr>
    <tr>
        <th>环比|%</th>
        <td>5.8</td>
        <td>2.8</td>
        <td>1.23</td>
        <td>12.35</td>
    </tr>
    <tr>
        <th>季度人均月使用时间|分钟</th>
        <td>411</td>
        <td>432</td>
        <td>292</td>
        <td>428</td>
    </tr>
    <tr>
        <th>同比|%</th>
        <td>-30</td>
        <td>-3.6</td>
        <td>13.3</td>
        <td>32.45</td>
    </tr>
    <tr>
        <th>环比|%</th>
        <td>-0.7</td>
        <td>0.85</td>
        <td>3.98</td>
        <td>-22.36</td>
</table>


<h5>图：在线视频APP月用户使用时长变化（亿分钟）2016-201908</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_videos_app_CN_times_2016_2019.png' %} " alt=" " />
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>

<h5>图：爱奇艺、腾讯视频和芒果TV付费用户数（万）2016-201908</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_video_app_cn_paying_user_number.png' %} " alt=" " />
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>

<table id="ciss_table">
    <caption>18Q1~19Q3电视剧网络剧组讯数|资料来源：友戏</caption>
    <tr id="table_tr">
        <th>剧组类型</th>
        <th>18Q1</th>
        <th>18Q2</th>
        <th>18Q3</th>
        <th>18Q4</th>
        <th>19Q1</th>
        <th>19Q2</th>
        <th>19Q3</th>
        <th>19Q4</th>
    </tr>
    <tr>
        <th>电视剧组讯</th>
        <td>120</td>
        <td>127</td>
        <td>116</td>
        <td>107</td>
        <td>65</td>
        <td>61</td>
        <td>65</td>
        <td></td>
    </tr>
    <tr>
        <th>网络剧组讯</th>
        <td>70 </td>
        <td>74</td>
        <td>98</td>
        <td>90</td>
        <td>67</td>
        <td>72</td>
        <td>75</td>
        <td></td>
    </tr>
    <tr>
        <th>合计</th>
        <td>190</td>
        <td>201</td>
        <td>214</td>
        <td>197</td>
        <td>132</td>
        <td>133</td>
        <td>140</td>
        <td></td>
    </tr>
</table>

<h5>爱奇艺IQ.O：付费用户1.06亿排名第一 </h5>
<p>截止19Q3末爱奇艺付费用户数1.06亿，排名行业第一。2019年前三季度爱奇艺付费收入106亿元，同比增长42.5%，付费会员达1.06亿（vs腾讯视频1.002亿），同比增长31.1%（vs腾讯视频22%），虽然2019年各平台均受内容延迟上线影响，但付费会员增速仍处于较高水平（Netflix19Q3付费会员增速21.4%）。
    <br>2016、2017、2018、2019q3付费收入为38、65、106、106亿元；用户数30、50、87、105百万。
    <br>和奈飞Netflex比较：19Q3爱奇艺付费用户数1.06亿，以中国家庭数为基数计算渗透率为24.6%，而美国流媒体平台Netflix本土付费用户数为6062万，渗透率为47.1%，爱奇艺对比Netflix的渗透率看，还有约1倍的提升空间。从ARPU看，爱奇艺零售定价为19元/月，当前ARPU仅约为11元/月，也还有接近1倍的提升空间，未来爱奇艺有望通过内容合理排播拉长付费周期以及降低促销力度的方式推动ARPU提升。

</p>

<h5>图：爱奇艺付费规模空间估算（亿元）：140~418 </h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_video_IQ.O_member_fees_estimate.png' %} " alt=" " />
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>
<h5>图：爱奇艺广告收入变化（季度） </h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_video_IQ.O_advertisement_quarter_2018_2019q3.png' %} " alt=" " />
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>



<h5>模式：付费超前点播模式</h5>
<p>
    <br>2019年暑期热播剧《陈情令》首创付费超前点播模式，即用户自7月29日起，可以通过单点付费购买未播内容，在VIP基础上享受超前观看，根据腾讯视频官网显示，单季每集6元，6集打包价30元。大结局放出19小时内，总计超260万人购买该项服务，预计一天之内收入超7800万元。
    <br>腾讯、爱奇艺又在《从前有座灵剑山》、《庆余年》等剧上继续试水超前点播方式。付费点播剧的类型目前还集中于头部IP古装剧，这类作品拥有较多忠实粉丝，因此可以获取较好的收益；而对于腰部以下内容，目前来看用户付费意愿还不足以支撑起这一模式。
    <br>付费区间于距离剧集更新结束7天至1个月以内的时间结束，付费方式可分为单集付费、阶梯型定价和整体打包付费。
    <br> 单集付费价格在3-6元之间，付费集数在5-25集不等；阶梯定价下随着剧集越接近大结局，单集价格越高；整体打包价根据剧集热播情况在12-50元不等。
    <br> 而正常一个月的普通VIP价格在15元左右，付费点播的用户单价均基本都高于此价格。因此付费点播模式具有更高的客单价以及更短的履约期的特点。
    <br> 假定视频网站针对每月的一部头部内容进行付费点播，理想情况下，假设付费人数在300万人左右，视频网站会员1亿，那么月ARPU可提高至少超1元，按年边际可改善运营利润12亿元，有望加速视频网站扭亏。

</p>

<h5>图：超前点播剧集定价方式</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_vedio_pre_play_fees.png' %} " alt=" " />
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>

<h5>模式：互动视频广告</h5>
<p>优爱腾芒布局互动视频，探索新型广告商业变现模式。
    <br>互动视频特点：增强体感反馈、剧情参与、内容探索。
    <br>2019年6月，爱奇艺上线国内首个带入式互动影视作品《他的微笑》；8月，爱奇艺发布《互动视频广告白皮书》，提出互动视频创意广告的新型营销方式，加速互动视频商业化变现步伐。
    <br> 腾讯视频于7月11日正式发布互动视频技术标准，并表示将推出一站式互动视频的开放平台。目前，腾讯已推出国内第一部互动影视《古董局中局之佛头起源》，上线创新性互动影像作品《隐形守护者》和国内首部互动网络电影《画师》，未来计划推出包括《我+》《拳拳四重奏》《财从天降》《紫川》等更多互动影像作品。
    <br>优酷于19年9月上线互动内容平台并公布互动视频创作标准和互动内容技术标准，为创作者提供内容创作流程、平台账号开通、互动播放系统介绍及技术规范等指引，目前储备有互动剧《大唐女法医》待播。
    <br>芒果超媒300413.SZ：芒果TV在《明星大侦探》和《密室大逃脱》大神版当中，首创让用户参与综艺录制并生成节目，让不同的选择带来开放式的结局，未来，芒果TV计划推出《冰峰暴》、《记忆重构：碎片》等互动剧产品。
</p>

<h5>模式：5G视频 </h5>
<p>在5G应用方面，爱奇艺重点布局VR/AR，腾讯实现首个商业化5G高清视频直播，优酷上线高清修复专区，芒果TV以新拍摄、新制作、新观看为思路布局5G应用，包括超清视频、VR、互动视频等方向。

</p>
<p>技术研究:
    <br> 腾讯最早于17年底成立未来网络实验室，是中国互联网公司第一支5G技术和应用研究团队。成员：联通、移动、电信、Intel、中兴通讯、商飞、国家电网
    <br> 爱奇艺于4月26日与中国电信成立XR联合创新实验室；5月爱奇艺世界大会上，与中国移动合作，首次实现了5G+8K VR直播技术；6月26日，与中国联通达成战略合作，联合在5G网络切片、5G网络边缘计算MEC、大数据、MR/AR/VR、4K/8K超高清视频等相关技术方面展开合作，并建立“5G终端联合研发中心
    <br>19年5月，芒果TV与湖南电信共同启动“5G+4K+VR”大视频产业合作。5月27日，中国移动参与芒果超媒定增，双方将开展5G、AI、VR等新技术的应用研究。
</p>

<hr>
<h4 id="movie">影视——电影 </h4>
<p>2011年至2019年，院线roe从18.6%下降至7.0%，体现出院线更像是传统价值型行业。
    <br>院线营业成本（=电影票成本）：票房分账40%、场地租金18%、人工薪酬17%、折旧摊销14%、水电物业等11%。
    <br> 院线公司资产证券化的时间主要集中于2015~2017年：
    <br> 万达电影在2015年1月上市，耀莱影城2015年9月完成资产重组，成为2015年1月~2016年8月国内院线板块的成分股；
    <br> 2016年8月后，上海电影、幸福蓝海和中国电影完成IPO，板块标的得到扩容；
    <br> 2017年10月，横店影视、金逸影视相继登陆证券市场。

</p>
<p>根据艺恩数据，2019年1-11月全国电影总票房（含服务费）595亿元，同比增长8.7%，超市场悲观预期，全国观影人次16.03亿，同比增长0.5%。1-11月含服务费平均票价提升1.8元至37.1元/张，不含服务费平均票价提升1.5元至34.4元/张，延续2017年以来平均票价的增长趋势
    <br>2019年暑期档动画《哪吒之魔童降世》，国庆档主旋律影片《我和我的祖国》、《中国机长》口碑票房双收。其中，《哪吒之魔童降世》以49.7亿的成绩斩获2019年度票房冠军，内地票房历史总排行亚军，《流浪地球》、《我和我的祖国》及《中国机长》也进入影史TOP10。截至2019年11月底，年度前十影片票房均在14亿元以上，观影人次均在4000万人以上，前十影片票房合计283.0亿元，同比增长16.0%，占总票房比例达47.5%。前十影片中，有8部国产片，仅有2部进口片，且均为大IP续集。随着国产片内容质量的提升，进口片的票房优质有所下降。23.1%22.1%21.5%20.2%19.4%19.1%43.2%42.1%40.5%39.9%39.3%39.1%17.2%18.0%18.1%18.9%19.1%19.2%11.1%12.1%13.3%14.3%15.0%15.3%4.8%5.3%6.1%6.6%7.1%7.3%0%25%50%75%100%201420152016201720182019年1-11月一线城市二线城市三线城市四线城市五线城市34.61%31.05%36.43%40.18%47.53%50.38%48.55%52.94%58.65%65.08%0%10%20%30%40%50%60%70%20152016201720182019年1-11月TOP10票房占总票房比例TOP20票房占总票房比例
    <br>国产片票房分化进一步加剧，头部内容较强但腰部内容缺乏。2019年影视行业处于强监管环境中，进口片表现平稳，但国产片改档、撤档现象较多。
</p>

<table id="ciss_table">
    <caption>全国观影人次，均价，top10、20票房占比,票房冠军及类型：2014-201911</caption>
    <tr id="table_tr">
        <th>年份</th>

        <th>春节档票房|亿</th>
        <th>观影人次|亿</th>
        <th>同比增速|%</th>
        <th>全国平均票价|元</th>
        <th>全国平均票价+服务费|元</th>
        <th>TOP10票房占比|%</th>
        <th>TOP20票房占比|%</th>
        <th>票房冠军</th>
        <th>冠军类型 </th>
        <th>国产票房占比|% </th>
    </tr>
    <tr>
        <th>2014</th>
        <th>12.7</th>
        <td>8.34</td>
        <td></td>
        <td>35.3</td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
    <tr>
        <th>2015</th>
        <th>18</th>
        <td>12.61</td>
        <td>51.1</td>
        <td>34.8</td>
        <td></td>
        <td>34.6</td>
        <td>50.4</td>
    </tr>
    <tr>
        <th>2016</th>
        <th>30.5</th>
        <td>13.74</td>
        <td>9</td>
        <td>33.1</td>
        <td></td>
        <td>31.1</td>
        <td>48.5</td>
    </tr>
    <tr>
        <th>2017</th>
        <th>33.8</th>
        <td>16.2</td>
        <td>18.1</td>
        <td>32.3</td>
        <td>34.4</td>
        <td>36.4</td>
        <td>52.94</td>
    </tr>
    <tr>
        <th>2018</th>
        <th>57.4</th>
        <td>17.18</td>
        <td>5.9</td>
        <td>32.9</td>
        <td>35.3</td>
        <td>40.2</td>
        <td>58.6</td>
        <th> </th>
        <th> </th>
        <th>35.8</th>
    </tr>
    <tr>
        <th>2019-11</th>
        <th>58.3</th>
        <td>16.03</td>
        <td>0.5</td>
        <td>34.4</td>
        <td>37.1</td>
        <td>47.5</td>
        <td>65.1</td>
        <th>哪吒之魔童降世，49.7</th>
        <th>动画</th>
        <th>37.1</th>
    </tr>
</table>

<h5>一二三线城市票</h5>
<p>分区域看，三线以下城市票房增速持续高于一二线，但一二线城市票房增长稳定性更高。2019年1-11月一至五线城市相比2018年同期票房增速分别为4.1%/4.7%/4.8%/6.0%/7.3%，整体票房增长放缓下，一二线城市增长保持稳定。三线以下城市票房增速持续高于一二线，因而从票房占比看，一、二线城市票房占比逐渐下降，三线以下城市票房占比持续提升0.6pct至41.8%。

</p>

<h5>电影内容</h5>
<p>头部内容集中趋势延续，TOP10和TOP20电影票房占比持续提升。
    <br> 2017年TOP10/20影片集中度跳升主要为《战狼2》带动，此后两项占比持续提升，强化内容集中趋势，
    <br> 2019年1-11月，TOP10和TOP20票房占电影总票房比分别为47.5%和65.1%，相比2018年进一步提升。
    <br>截至11月30日，今年上映动画电影66部，比去年增加13部，上映剧情片216部，比去年增加78部。动画片的平均单片票房从0.63亿元上升到1.66亿元，即使剔除《哪吒之魔童降世》的票房49.7亿元，其平均单片票房依然正增长。喜剧片则数量和单片票房都有所下滑，动作片单片票房亦有下滑。
</p>
<h5>图：2018-2019年各类型影片数量及平均单片票房</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_video_movie_type_num_amt_2018_2019.png' %} " alt=" " />
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf；艺恩电影智库 </p>
<br>

<h5>电影渠道</h5>
<p>2019年截至11月底TOP10影投公司票房市占率合计36.3%，与2018年同期基本持平（vs 2018年同比下滑1.8pct）；TOP10院线公司票房市占率合计68.5%，比2018年同期提升1.6pct。影投方面，TOP10影投公司中万达、CGV、中影、金逸、百老汇和博纳市占率均有不同程度提升，TOP10院线公司中，万达、大地、上海联合、金逸珠江、华夏联合和幸福蓝海市占率均有不同程度提升。
    <br> 根据猫眼招股说明书，2018年前三季度，猫眼电影票务业务市占率61.3%，淘票票市占率为34.3%。根据猫眼专业版APP出票数据，截至2019年4月底猫眼占网票出票量比例维持在60%左右；2019年1-11月猫眼平台出票量占观影人次比例上下略有波动，但基本维持在50%左右，格局保持稳定。

    <br>预计2019年票房增速约5%

</p>

<table id="ciss_table">
    <caption>年银幕数量和影院数量：2014-201911</caption>
    <tr id="table_tr">
        <th>年份</th>
        <th>银幕数量|块</th>
        <th>影院数量|家</th>
        <th>单银幕产出(万元，含服务费) </th>
        <th>单银幕产出(万元，剔除服务费)</th>

        <th>市占率:万达</th>
        <th>市占率:大地</th>
        <th>市占率:横店</th>
        <th>市占率:CGV</th>
        <th>市占率:中影</th>
        <th>市占率:CR10</th>
    </tr>
    <tr>
        <th>2014</th>
        <td>26034</td>
        <td>4891</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>2014</th>
        <td>26034</td>
        <td>4891</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>2015</th>
        <td>34027</td>
        <td>6459</td>
        <td></td>
        <td>146.1</td>
    </tr>
    <tr>
        <th>2016</th>
        <td>42909</td>
        <td>7877</td>
        <td></td>
        <td>118.35</td>
    </tr>
    <tr>
        <th>2017</th>
        <td>52694</td>
        <td>9319</td>
        <td>116.8</td>
        <td>109.57</td>
    </tr>
    <tr>
        <th>2018</th>
        <td>61517</td>
        <td>10416</td>
        <td>99.1</td>
        <td>106.3</td>
        <td>13.4</td>
        <td>4.7</td>
        <td>3.7</td>
        <td>2.8</td>
        <td>2.7</td>
        <td>36.3</td>
    </tr>
    <tr>
        <th>2019</th>
        <td>67400</td>
        <td>11199</td>
        <td>93.46</td>
        <td>86.58</td>
        <td>13.4</td>
        <td>4.5</td>
        <td>3.7</td>
        <td>3</td>
        <td>2.9</td>
        <td>36.3</td>
    </tr>
</table>

<h5>重要国产电影系列</h5>
<p>截止2019年10月31日，拟定档2020年大年初一电影有9部，包括《唐人街探案3》《姜子牙》《紧急救援》《中国女排》《囧妈》
    <br> 1）万达影视、中国电影出品，陈思诚导演，王宝强、刘昊然、张子枫主演的系列电影《唐人街探案3》，其前作《唐人街探案1》和《唐人街探案2》票房分别为8.19亿元（2015年）和33.97亿元（2018年）。
    <br> 2）光线传媒旗下彩条屋出品的动画电影“神话三部曲”之二《姜子牙》，其前作《哪吒之魔童降世》在2019年暑期档取得49.72亿票房，票房神话有望延续。
    <br> 3）林超贤导演，彭于晏、王彦霖、辛芷蕾主演的《紧急救援》，林超贤导演擅长大场面动作电影，其作品《湄公河行动》《红海行动》票房分别为11.86亿元和36.50亿元。

    <br>徐峥导演并主演的《囧妈》，欢喜传媒、真乐道文化；
    <br> 陈可辛导演、巩俐主演的《中国女排》亦具备高票房潜质，薯片文化、伯乐影视


</p>


<hr>
<h4 id="marketing">营销 </h4>


<p>广告-A股：分众传媒002027.SZ;数字营销-A股：壹网壹创 s300792.SZ

</p>

<table id="ciss_table">
    <caption>细分领域锚个股</caption>
    <tr id="table_tr">
        <th>细分领域</th>
        <th>国家地区</th>
        <th>价值成长</th>
        <th>排名</th>
        <th>股票名称</th>
        <th>股票代码</th>
        <th>成本市值|亿</th>
        <th>最新市值|亿</th>
        <th>卖出市值|亿</th>
        <th>备注</th>
    </tr>
    <tr>
        <th>广告</th>
        <th>中国</th>
        <th>价值</th>
        <th>1</th>
        <th>分众传媒</th>
        <th>002027.SZ</th>
        <th>800</th>
        <th>785</th>
        <th>1000</th>
        <th> </th>
    </tr>
    <tr>
        <th>广告</th>
        <th>中国</th>
        <th>价值</th>
        <th>2</th>
        <th>蓝色光标</th>
        <th>300058.SZ</th>
        <th>160</th>
        <th>185</th>
        <th>250</th>
        <th> </th>
    </tr>
    <tr>
        <th>广告</th>
        <th>中国</th>
        <th>成长</th>
        <th>1</th>
        <th>壹网壹创</th>
        <th>300792.SZ</th>
        <th>40</th>
        <th>180</th>
        <th>90</th>
        <th> </th>
    </tr>
    <tr>
        <th>广告</th>
        <th>中国</th>
        <th>成长</th>
        <th>2</th>
        <th>电声股份</th>
        <th>300805.SZ</th>
        <th>55</th>
        <th>113</th>
        <th>110</th>
        <th> </th>
    </tr>
</table>

<p>广告行业受实体经济影响较大，2019年三季度GDP增速延续放缓。
    <br>社会消费方面，2019年10月份，社会消费品零售总额38104亿元，同比名义增长7.2%，创下新低。。
    <br>工业企业利润方面，进入2019年后，数据一直表现不佳，2019年8月到10月连续三个月累计同比增速为负，分别为-1.7%、-2.1%、-2.9。
    <br>广告支出相对企业利润存在滞后效应，业绩持续增长的预期下企业才会根据需求加大广告投放力度，而预期不好时会收缩广告预算。
    <br> 日本电通安吉斯集团19年6月发布最新全球广告支出报告显示，全球广告支出总额预计达6099亿美元，同比增长3.6%。
    <br>传统广告统计：根据CTR媒介智库数据，19年2月广告降幅达到-18.3%，随后持续收窄，18年8-10月全媒体广告花费（不含互联网）同比下滑-4.2%/-9.4%/-8.2%，目前依然处于负增长。而19Q1~Q3各广告细分行业刊例花费同比均有显著下滑，而互联网（非移动端）刊例花费更是近三年首次出现负增长。-20-100102030402017-022017-032017-042017-052017-062017-072017-082017-092017-102017-112017-122018-012018-022018-032018-042018-052018-062018-072018-082018-092018-102018-112018-122019-012019-022019-032019-042019-052019-062019-072019-082019-092019-10工业企业:利润总额:累计同比（单位：%）

</p>

<h5>图：全球广告支出同比增长预测值（单位：%，括号中为19年1月预测数据）</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_marketing_china_us_advertisement_spending_2018_2020_esti.png' %} " alt=" " />
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf；电通安吉斯集团 - Dentsu Aegis Network </p>
<br>


<p>电商广告：维持15%~30%以上增速的高景气度，由于电商平台自带消费属性，转化率高，且消费数据更利于精准投放及投后监测，阿里巴巴、京东作为中国广告市场规模最大的公司，19年前三季度广告收入增速仍大幅领先。海外最大电商平台Amazon19年前三季度广告收入同比增长36.7%
    <br>社交广告：以信息流广告为主要形式的社交广告，尽管多个社交平台通过提升加载率拉动增长，但由于广告库存供给增加竞争激烈叠加广告主需求疲软，广告单价有所下降。海外社交广告巨头Facebook19年前三季度广告收入同比增长27.5%；3）搜索广告收入略有下滑：百度19年前三季度广告收入达573亿元，同比下降5.6%。海外搜索巨头Google19年前三季度同比增长16.2%。
    <br>互联网广告：2013年-2017年BAT三家占中国互联网广告的市场份额基本稳定在59%-60%，到2018年随着字节跳动广告收入翻倍式增长，其市场份额节节攀升，向第三位的腾讯追赶。1H19在广告行业整体面临压力的情况下，字节跳动逆势增长，已然并肩BAT，与BAT合计占据约70%的市场份额。

</p>

<h5>图：2019年前三季度主要公司广告收入表现</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\meidia_marketing_top_internet_advertiser_revenue_quarter_2019.png' %} " alt=" " />
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>
<br>

<h5>图：中国互联网广告市场格局 2013A-1H19A</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_BATB_advertisement_rate_2013_2019H1.png' %} " alt=" " />
<p>source:20191217-天风证券-天风证券传媒2020年度策略：否极泰来，共振重生.pdf </p>
<br>

<table id="ciss_table">
    <caption>互联网公司广告收入同比增速</caption>
    <tr id="table_tr">
        <th>类型</th>
        <th>股票名称</th>
        <th>股票代码</th>
        <th>18Q4|%</th>
        <th>19Q3|%</th>
        <th>2019Q4整体业绩指引</th>
        <th>备注</th>
    </tr>
    <tr>
        <th>社交+视频</th>
        <th>腾讯控股</th>
        <th>0700.HK</th>
        <th>38</th>
        <th>13</th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th>电商</th>
        <th>阿里巴巴</th>
        <th>9988.HK</th>
        <th>28</th>
        <th>25</th>
        <th></th>
        <th></th>
    </tr>

    <tr>
        <th>视频</th>
        <th>哔哩哔哩</th>
        <th>bili.O</th>
        <th>302</th>
        <th>80</th>
        <th>Q4整体营收同比变动幅度67.1~71.4%</th>
        <th></th>
    </tr>
    <tr>
        <th>搜索</th>
        <th>百度</th>
        <th>bidu.O</th>
        <th>4</th>
        <th>-9</th>
        <th>3</th>
        <th></th>
    </tr>
    <tr>
        <th>视频</th>
        <th>爱奇艺</th>
        <th>IQ.O</th>
        <th>9</th>
        <th>-14</th>
        <th>1</th>
        <th></th>
    </tr>
    <tr>
        <th>楼宇广告</th>
        <th>分众传媒</th>
        <th>002027.SZ</th>
        <th>12</th>
        <th>-15</th>
        <th>-16.6</th>
        <th></th>
    </tr>
    <tr>
        <th>整合营销</th>
        <th>蓝色光标</th>
        <th>300058.SZ</th>
        <th>28</th>
        <th>28</th>
        <th></th>
        <th></th>
    </tr>
</table>

<h5>广告渠道分析</h5>
<p>电视广播：药品类广告主，需要具有公信力的平台做背书，整体广告投放预算就会大比例放在电视广播等传统渠道；而邮电通讯以及IT产品及服务，需要大规模的覆盖线上流量，自然在线上渠道投放的占比就会相对大
    <br>楼宇广告:IT产品及服务、商业及服务性行业、以及娱乐休闲类广告主分配的预算相对较多，主要是因为以上广告主以往更需要借助分众传媒的“引爆”功能；而食品饮料类及化妆品类企业预算分配仍小
    <br> 分众传媒的广告主情况来看，快消品广告主数量在增加，同时部分快消品广告主的投放金额也在持续增加，妙可蓝多今年以来多个月份投放金额（刊例花费口径）排行业第一。西贝、洽洽、卡姿兰、波司登等快消类广告主也多次在电梯电视各月度投放花费的TOP10。
    <br> 从波司登的投放可以看到，当前处于品牌转型阶段，通过分众渠道能够将新的品牌形象迅速传递给目标受众。
    <br> 妙可蓝多以及洽洽等休闲食品类广告主，能够借助分众渠道宣传新品打造爆品

</p>


<h5>图：电梯电视各月度投放TOP10品牌:201811-201910</h5>
<img src="{% static 'templates\ciss_exhi\industry\static\media_advertizer_elevator_top10_monthly_201811.png' %} " alt=" " />
<p>source:20191216_广发证券_行业策略深度_传媒_旷实朱可夫_广发证券-传媒-旷实-策略-传媒行业-2020年投资策略：PB-ROE框架确认底部，5G创新成为行情核心因子-买入-2019-12-16.pdf </p>
<br>






<hr>
<h4 id="classic_media_gov">传统媒体和政府支持媒体 </h4>


<p>政府支持媒体-A股：人民网、新华网; 传统媒体-A股：东方明珠 600637.SH；
    <br> 互联网纸媒：阅文集团0772.HK；传统纸媒：新华文轩0811.HK
</p>

<table id="ciss_table">
    <caption>细分领域锚个股</caption>
    <tr id="table_tr">
        <th>细分领域</th>
        <th>国家地区</th>
        <th>价值成长</th>
        <th>排名</th>
        <th>股票名称</th>
        <th>股票代码</th>
        <th>成本市值|亿</th>
        <th>最新市值|亿</th>
        <th>卖出市值|亿</th>
        <th>备注</th>
    </tr>
    <tr>
        <th>政府支持媒体</th>
        <th>中国</th>
        <th>价值</th>
        <th>1</th>
        <th>人民网</th>
        <th>603000.SH</th>
        <th>200</th>
        <th>226</th>
        <th>260</th>
        <th> </th>
    </tr>
    <tr>
        <th>政府支持媒体</th>
        <th>中国</th>
        <th>价值</th>
        <th>1</th>
        <th>新华网</th>
        <th>603888.SH</th>
        <th>110</th>
        <th>130</th>
        <th>140</th>
        <th> </th>
    </tr>
    <tr>
        <th>传统媒体</th>
        <th>中国</th>
        <th>价值</th>
        <th>1</th>
        <th>东方明珠</th>
        <th>600637.SH</th>
        <th>350</th>
        <th>350</th>
        <th>600</th>
        <th>电视购物51%、IPTV20%、奔驰文化中心+上海国际会议中心16% </th>
    </tr>
    <tr>
        <th>传统媒体</th>
        <th>中国</th>
        <th>成长</th>
        <th>1</th>
        <th>视觉中国</th>
        <th>000681.SZ</th>
        <th>110</th>
        <th>120</th>
        <th>240</th>
        <th> </th>
    </tr>
    <tr>
        <th>互联网纸媒</th>
        <th>中国香港</th>
        <th>成长</th>
        <th>1</th>
        <th>阅文集团</th>
        <th>0772.HK</th>
        <th>310</th>
        <th>357</th>
        <th>400</th>
        <th>2018-2020净利润在9亿rmb元左右 </th>
    </tr>
    <tr>
        <th>互联网纸媒</th>
        <th>中国香港</th>
        <th>价值</th>
        <th>1</th>
        <th>新华文轩</th>
        <th>0811.HK</th>
        <th>120</th>
        <th>124</th>
        <th>160</th>
        <th>2018-2020净利润在9亿rmb元左右 </th>
    </tr>
</table>

<hr>
<h4 id="media_tech">媒体技术，屏幕、VRAR </h4>
<p>传媒领域的技术公司主要包括为户外和楼宇广告服务的电子屏幕、为电影院大屏幕服务的中国巨幕、VRAR等


</p>

<p>屏幕-H股：IMAX China-1970.HK

</p>

<table id="ciss_table">
    <caption>细分领域锚个股</caption>
    <tr id="table_tr">
        <th>细分领域</th>
        <th>国家地区</th>
        <th>价值成长</th>
        <th>排名</th>
        <th>股票名称</th>
        <th>股票代码</th>
        <th>成本市值|亿</th>
        <th>最新市值|亿</th>
        <th>卖出市值|亿</th>
        <th>备注</th>
    </tr>
    <tr>
        <th>政府支持媒体</th>
        <th>中国</th>
        <th>价值</th>
        <th>1</th>
        <th>人民网</th>
        <th>603000.SH</th>
        <th>200</th>
        <th>226</th>
        <th>260</th>
        <th> </th>
    </tr>
</table>


<h4>VRAR:华策影视-兰亭数字-持股7% </h4>
<p>华策于2016年先后投资兰亭数字、热波科技两家VR制作公司。华策于16年3月8日发布公告投资兰亭数字1470万元，占股7%；同月，华策影视与热波科技原股东签署增资协议，以640万元获得热波科技8.60%的股权。
    <br> 兰亭数字成立于2014年，拥有先进的AR/VR内容制作、播出、后台制作系统、直播支持系统及基于网络的相关运营经验并提供行业领先的专业产品及服务，
    <br> 于2015年打造了中国首部VR电影《活到最后》、首部VR版MV《敢不敢》、国内首部VR版对战真人秀《荣誉之战》。
    <br> VR方面，兰亭数字和华为合作运营Cloud VR平台，拥有全套技术解决方案。兰亭数字负责Cloud VR平台的搭建、云端渲染技术处理，内容运营以及商业化场景的应用和创新。
    <br> 兰亭数字在高清视频方面具有8K VR直播、VR内容制作及聚合、MR未来教育等技术能力，融合5G发展，向行业提供全案生态解决方案，先后完成了2019年央视春晚、乌镇互联网大会、春之祭等大型会议及活动的5G 8K VR高清直播。

</p>










<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ind_fundamental">2，产业链基本面数据</h3>
<p>梳理产业链基本面数据：根据产业链定义梳理产品和服务、个股、行业分类、财务指标。识别高风险和不重要股票。
</p>




<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ind_data_standarded">3，标准化定性和定量数据</h3>
<p>构建标准化定性和定量数据：考虑时间维度和多产业链维度。 </p>

<h4>标准化定性信息</h4>
<p>

</p>


<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ind_table_columns">4，表格数据列设计</h3>
<p>4，表格数据列设计： 日期,股票名称,代码,中信行业1,中信行业2,中信行业3,概念1,概念2,产业链1,产业链2,notes,...
</p>






<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ind_maintainence">5，分析方案和数据表的定期维护机制</h3>
<p>分析方案和数据表的定期维护机制。
</p>









<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="port_simu_media_top40">传媒产业链top40v200218</h3>
<p>PMS组合“传媒产业链top40v200218”主要构建步骤为：
    <br>1，获取Wind终端传媒行业169只股票地财务预测数据，进行打分；
    <br>2，获取2019年初之前1年市场价格、成交额、换手率等数据，进行打分；
    <br>3，对基金重仓持股指标打分
    <br>4，对以上分数加总，剔除2019年以后上市股票，打分权重向预期净利润较高和基金持股梳理较多地股票倾斜。
    <br> 业绩：190101-200217收益+68.09%；200101-200217收益+18.38%；

</p>
<p>市场同类产品对标：工银瑞信文体产业001714 基金经理：袁芳，基金公司：工银瑞信基金管理有限公司； 基金规模 29.65亿 投资类型 股票型基金 中证文体指数收益率*80%+中债综合财富(总值)指数收益率*20%
    <br> 2020年YTD收益：+11.15%；2019年收益率：57.6%

</p>


<hr>
<!-- 个股和细分领域的区别在于多了个股的个性化因素分析例如公司股东和管理层、产品特点等，同时部分公司可能有多个经营的领域需要拆分
    --------------------------------------------------- -->
<h4 id="ind_def_anchor_stock">行业锚个股：传媒</h4>
<ul>
    <li>游戏-HKUS：腾讯-0700.HK、网易-NTES.O </li>
    <li>游戏-A股:三七互娱-002555.SZ、完美世界-002624.SZ、{世纪华通-002602.SZ} </li>
    <li>影视：芒果超媒-300413.SZ、光线传媒-300251.SZ、万达电影-002739.SZ </li>
    <li>金融信息服务：东方财富-300059.SZ、 </li>
    <li>传媒行业信息服务：视觉中国 </li>
    <li>电商MCN：阿里巴巴-BABA.N、壹网壹创-300792.SZ </li>
    <li>VRAR：恒信东方?-300081.SZ </li>
    <li>营销：分众传媒-002027.SZ、蓝色光标-300058.SZ </li>
    <li>政府媒体：人民网-603000.SH、新华网-603888.SH</li>

</ul>









{% endblock content %}