{% extends "base.html" %}
<meta charset="UTF-8">
<!-- for HTML5 -->
<!-- The block items for this base html file is: {nav_sub, left_frame,menu,content } -->
<!-- 产业链网页模板 -->

{% block nav_sub %}

<a id="a_nav" href="./core_industry.html">核心产业链 |Core industry chain</a> >>
<a id="a_nav" href="./last_industry.html">最新产业链 |Lastest industry chain</a> >>

<br><a>细分产业链列表：</a>
<a id="ciss_menu" href="#mobile_honor_mate">荣耀和mate手机</a> >>
<a id="ciss_menu" href="#tele_5g">通信设备：5G </a> >>
<a id="ciss_menu" href="#cloud_computing">云计算 </a> >>
<a id="ciss_menu" href="#huawei_supplychain">上下游供应链</a> >>
<br><a>产业链模拟组合列表：</a>
<br><a>细分领域锚个股：</a>
<a href="#ind_def_anchor_stock">细分领域锚个股</a> {% endblock nav_sub %} {% block right_frame %}

<!-- Menu in right frame -->
<!-- ---------------------------------------------------------- -->
<h1>
    <a href="#location_title"></a> 华为产业链 </h1>
<h3>目录</h3>
<ul>
    <li><a href="#abstract">1，概要 </a></li>
    <li><a href="#industry_methodology">2，行业分类方法和产业链分析方法 </a></li>
    <li><a href="#sellside_reports">3，主要外部参考资料 </a></li>
    <li><a href="#inside_reports">4，内部研究报告&产业链列表 </a></li>
    <li><a href="#research_menu">5，产业链目录和研究计划 </a></li>
    <li><a href="#industry_db">6，产业链数据和数据库 </a></li>
    <li><a href="#industry_stra">7，产业链相关策略 </a></li>
    <li><a href="#industry_port">8，产业链相关组合和指数 </a></li>
    <li><a href="#industry_reference">9，参考信息和链接 </a></li>

    <li><a href="#ind_definition">1，获取产业链定义  </a></li>
    <li><a href="#ind_fundamental">2，产业链基本面数据   </a></li>
    <li><a href="#ind_data_standarded">3，标准化定性和定量数据 </a></li>
    <li><a href="#ind_table_columns">4，表格数据列设计  </a></li>
    <li><a href="#ind_maintainence">5，分析方案和数据表的定期维护机制。 </a></li>
</ul>

<h3>细分产业链目录</h3>
<ul>
    <li><a href="#mobile_honor_mate">荣耀和mate手机 </a></li>
    <li><a href="#tele_5g">通信设备：5G</a></li>
    <li><a href="#cloud_computing">云计算 </a></li>
    <li><a href="#huawei_supplychain">上下游供应链 </a></li>
</ul>

{% endblock right_frame %} {% block left_frame %}


<!-- Menu in left frame -->
<hr>
<!-- ---------------------------------------------------------- -->
<h1 id="location_title">软件产业链 </h1>
<p>软件产业链对应中信一级行业计算机，需要在A股中梳理出与其他行业相关的股票，把这些公司计入 对应产业链。并根据不同时期的最优预期收益，设计软件产业链组合。
    <br>2020年2月的重点是国产软件在不同行业的国产替代，主要的几个大领域有 ：基础和办公、行业软件、仿制、自主可控、安全。
</p>
<hr>
<h3>目录</h3>
<ul>
    <li><a href="#abstract">1，概要 </a></li>
    <li><a href="#industry_methodology">2，行业分类方法和产业链分析方法 </a></li>
    <li><a href="#sellside_reports">3，主要外部参考资料 </a></li>
    <li><a href="#inside_reports">4，内部研究报告&产业链列表 </a></li>
    <li><a href="#research_menu">5，产业链目录和研究计划 </a></li>
    <li><a href="#industry_db">6，产业链数据和数据库 </a></li>
    <li><a href="#industry_stra">7，产业链相关策略 </a></li>
    <li><a href="#industry_port">8，产业链相关组合和指数 </a></li>
    <li><a href="#industry_reference">9，参考信息和链接 </a></li>

    <li><a href="#ind_definition">1，获取产业链定义 </li>
<li><a href="#ind_fundamental">2，产业链基本面数据  </li>
<li><a href="#ind_data_standarded">3，标准化定性和定量数据</li>
<li><a href="#ind_table_columns">4，表格数据列设计 </li>
<li><a href="#ind_maintainence">5，分析方案和数据表的定期维护机制。 </li>
</ul>  
{% endblock left_frame %}

{% block menu %} 



<h3>细分产业链目录</h3>
<ul>
<li><a href="#mobile_honor_mate">荣耀和mate手机 </a></li>
    <li><a href="#tele_5g">通信设备：5G</a></li>
    <li><a href="#cloud_computing">云计算 </a></li>
    <li><a href="#huawei_supplychain">上下游供应链 </a></li>
</ul>

{% endblock menu %} {% block content %}



<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="abstract">1，概要</h3>
<hr>
<p>{......}
    <br>对应文件：0跨行业的产业链组合_200213.xlsx
    <br>对应文件目录：C:\zd_zxjtzq\rc_reports_cs\行业分类_产业链量化
</p>


<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="industry_definition">产业链定义</h3>
<p>获取产业链定义：基于某个公司研究或行业研究报告、某个事件、Wind产业链分类等。
</p>
<h4 id="ind_def_abstract">2020计算机行业概览：</h4>

<p>
    2019年6月，工信部正式发放5G商用牌照，标志着中国正式进入了5G商用阶段。截至11月，全国已经开通5G基站11.3万个，预计到年底将达到13万个。根据三家运营商5G推进进程显示：目前中国移动已在全国范围内建设超过5万个5G基站，在50个城市实现5G商用服务；中国联通发布“7+33+n”网络部署，在7个城市城区连续覆盖，在33个城市实现热点区域覆盖；中国电信已开展规模及预商用试验。三家运营商均预计在2020年正式实现5G商用。
</p>

<ul>
    <li>运营商,计划时间,推进计划 </li>
    <li>中国移动,2017年完成5G外场测试；2018年积极参与5G技术研发第三阶段测试，率先在5大城市开展5G试验网建设，进行关键技术应用和商用性验证，开始业务示范网建设；2019年中国移动将在全国范围内建设超过5万个5G基站，在超过50个城市实现5G商用服务；2020年将在全国340个城市全面进行5G的商用；发展7000万5G客户，销售1亿部5G手机、3亿笔5G新业务和5000万台家庭泛智能终端；</li>
    <li>中国联通，2017年完成实验室环境建设；2018年将在16个城市开展5G规模试验，并进行业务应用和典型示范；2019年发布“7+33+n”5G网络部署，即在北京、上海、广州、深圳、南京、杭州、雄安等7个城市城区连续覆盖，在33个城市实现热点区域覆盖；2020年正式实现5G商用； </li>
    <li>中国电信，2017-2018年开展小规模外场试验，重点进行无线组网方案与能力试验，结合终端原型机进行系统试验和业务演示；2018-2019年规模及预商用试验，对多厂商设备进行组网，实施4G/5G互操作，并重点考察终端和网络建兼容性，以及针对垂直行业进行业务创新；2020年在重点城市重点区域规模部署5G并开展商用； </li>

</ul>
<p>

</p>



<h3>手机零部件</h3>
<p>{。。。} </p>
<ul>
    <li>手机摄像头</li>
    <li> </li>
</ul>

<h4>手机摄像头</h4>
<p>手机摄像头数量从1个发展到4个的历程： 2016年前后，手机视觉方案逐步从单摄向双摄发展。 到2018年末，华为推出P20 Pro手机起，三摄像头方案进入大众视野。 四摄以三星A9为例，四摄组成由广角摄像头、2倍长焦摄像头、主摄像头、景深摄像头组成。
    <br>双摄手机指的是手机背面双摄象头，一个广角、一个长焦。
    <br>双（多）摄手机在使用中，主要依靠软件算法提升成像质量，弥补单个摄像头拍摄局限，因此， 随着摄像头的增加，对于视觉类软件算法提出更高要求： 1,双（多）摄像头手机在拍摄广角照片时，一般仅调用广角镜头或者超广角镜头 （其他镜头不会被调用），同时需要通过智能镜头畸变矫正解决方案（一种智能单摄视觉解决方案产品）来矫正图像和视频。 2,拍摄人像时，可能需要使用智能去噪、智能畸变矫正等多个单摄视觉解决方案。 3,拍摄人像时，通过广角、长焦镜头的配合，实现背景虚化

</p>


<hr>
<h3>细分产业链目录</h3>
<ul>
    <li><a href="#mobile_honor_mate">荣耀和mate手机 </a></li>
    <li><a href="#tele_5g">通信设备：5G</a></li>
    <li><a href="#cloud_computing">云计算 </a></li>
    <li><a href="#huawei_supplychain">上下游供应链 </a></li>
</ul>

<hr>
<h3 id="mobile_honor_mate">荣耀和mate手机</h3>
<p>手机核心零部件包括：操作系统、cpu、内存、其他零部件、电池、摄像头。
    <br>手机以外，家用路由器、笔记本电脑、智能手表等也属于华为重要产品。
</p>

<h4>手机芯片</h4>
<p>


</p>

<hr>
<h3 id="tele_5g">通信设备：5G</h3>
<p>初步可以分为：上游原材料和设备、通信产品制造、产品

</p>

<h4>通信设备：5G——上游原材料 </h4>
<p>

</p>


<h5>昊华科技（600378.SH）：中国化工旗下新材料龙头，受益5G及半导体产业爆发 </h5>
<p>高端PTFE下游5G需求爆发，公司率先实现进口替代。PTFE（聚四氟乙烯）高端产品是传递信号最好的材料之一。
    <br>公司2018年产能2.2万吨，募投扩建5000吨高端产品达产，是国内唯一一家电缆绝缘层环节实现进口替代的企业，产品被广泛应用于5G天线、连接器。未来5G基站数量有望达到4G基站的2-3倍，且前传环节用线缆多，对线缆的需求预计达到4G的3-4倍。
    <br> 公司将昊华集团12大研究院纳入麾下，成为中国化工旗下重要新材料平台，高端氟材料、电子特气等领域国内领先，是军工体系主要新材料供应商之一，同时拥有大量高新技术储备，未来还将持续高额研发投入，预计未来几年研发投入占比将超过7%。
    <br>特种气体：受益面板及半导体产能从日韩转移到国内，特种气体需求呈爆发式增长。2018年国内电子特气行业市场规模120亿元，近9年CAGR为13.4%左右，含氟气体占全球电子特气的30%，主要用作清洗剂和蚀刻剂等。公司拥有SF6（六氟化硫）产能2800吨，NF3（三氟化氮）产能2000吨，前者受益于国内电力工业投资增长和后者受益于下游面板、半导体需求爆发。此外，公司旗下光明院自主研发的硒化氢和四氧化二氮已成功实现进口替代，募投项目有望加快公司技术储备产业化进度。
    <br>公司旗下12家研究院中10家拥有军工资质，是国内龙头军工新材料供应商，涉军产品包括推进剂、有机玻璃、密封材料、航空轮胎及有机玻璃等。未来该业务板块有两大驱动力：一、受益于国家近年6-8%的军费增长；二、受益于军品民用带来的应用范围扩大，可被推广用于地铁、高铁、民用飞机等。
</p>


<hr>
<h3 id="cloud_computing">云计算</h3>

<h3 id="huawei_supplychain">上下游供应链</h3>


<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ind_fundamental">2，产业链基本面数据</h3>
<p>梳理产业链基本面数据：根据产业链定义梳理产品和服务、个股、行业分类、财务指标。识别高风险和不重要股票。
</p>




<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ind_data_standarded">3，标准化定性和定量数据</h3>
<p>构建标准化定性和定量数据：考虑时间维度和多产业链维度。 </p>

<h4>标准化定性信息</h4>
<p>

</p>


<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ind_table_columns">4，表格数据列设计</h3>
<p>4，表格数据列设计： 日期,股票名称,代码,中信行业1,中信行业2,中信行业3,概念1,概念2,产业链1,产业链2,notes,...
</p>






<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ind_maintainence">5，分析方案和数据表的定期维护机制</h3>
<p>分析方案和数据表的定期维护机制。
</p>










<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ind_def_anchor_stock ">细分产业链锚个股：</h3>
<hr>
<!-- ---------------------------------------------------------- -->
<h4 id="mobile_honor_mate">荣耀和mate手机</h4>
<ul>
    <li>cpu-海外：台积电、中芯国际 </li>
    <li> </li>
    <li>IGBT模块：斯达半导603290.SH</li>
</ul>


<h5>IGBT模块：斯达半导603290.SH</h5>
<p>




</p>
<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="tele_5g">通信设备：5G </h3>
<p>

</p>




<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="cloud_computing">云计算</h3>
<p>

</p>



<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="huawei_supplychain">供应链</h3>
<p>

</p>






{% endblock content %}