{% extends "base.html" %}
<meta charset="UTF-8"> <!-- for HTML5 -->
<!-- The block items for this base html file is: {nav_sub, left_frame,menu,content } -->
<!-- 保存临时行业研究信息 -->

{% block nav_sub %}

<a id="a_nav" href="./core_industry.html">2020</a> >>
<a id="a_nav" href="./last_industry.html">2019</a> >>

<br>
<a>事件分类：</a> 
<a id="ciss_menu" href="#industry_specific">资本市场政策、改革 </a> >> 
<a id="ciss_menu" href="#replacement">资本容量和流量 </a> >>
<a id="ciss_menu" href="#fundamental">行业事件 </a> >>
<a id="ciss_menu" href="#security">产业链事件 </a> >>


{% endblock nav_sub %} 

{% block right_frame %}
<h1><a href="#location_title">软件产业链</a> </h1> 
<h3>目录</h3>
<ul>
<li><a href="#abstract">1，概要 </a></li> 
<li><a href="#yymm_202002">202002</a></li> 
</ul>

{% endblock right_frame %}

{% block left_frame %}


<!-- Menu in left frame -->
<hr><!-- ---------------------------------------------------------- -->
<h1 id="location_title">保存临时投研信息和事件 </h1>
<p>blabla......  </p>
<hr>       
<h3>目录</h3>
<ul>
<li><a href="#abstract">1，概要 </a></li>  
</ul>  
{% endblock left_frame %}

{% block menu %} 



<h3>细分 </h3> 

{% endblock menu %}

{% block content %}


<hr><!-- ---------------------------------------------------------- -->
<h3 id="yymm_202002">202002</h3>
<p>

</p> 
<h4>20200216,小米推动WiFi 6加速渗透 </h4>
<p>【天风电子/通信】小米推动WiFi 6加速渗透，看好行业迎来爆发！
    1.小米发布小米10和小米WiFi 6路由器AX 3600，WiFi 6或实现快速渗透；同时，除小米手机外，于2019年iPhone 11和三星Galaxy S10系列和Note 10系列都先行支持WiFi 6，在苹果、小米、三星三大手机品牌大厂大力支持下，预计WiFi 6行业将迎来快速增长。
    2. WiFi6复合未来多场景下网络要求，应用前景广阔（1）Cloud VR视频/直播引入家庭、（2）远程教学；（3）智慧家庭IoT自动化服务；（4）实时类游戏
    3. WiFi 6路由器渗透率有望提升，相关网通厂商有望迎来换机潮；产业链推荐天邑股份（路由器）、共进股份（路由器）、博通集成（芯片）、乐鑫科技（芯片）、卓翼科技（路由器）、星网锐捷（路由器）。
</p>
<h4>20200216,A股再融资要求放宽 </h4>
<p>再融资新政，最重要的变动主要在两方面：
    1、提高品种吸引力和发行成功率
    发行价打8折（之前是9折），锁定期减为18个月和6月（之前36个月和12个月），发行对象数统一增加为35个（之前创业板5个，主板中小板10个）；批文有效期延长为12个月。
    2、提高融资规模
    可发行股本的30%（之前最多发行股数是发行前的20%）。
<br>近10年计算机上市公司增发项目数位列A股各行业第一，或为再融资新规最受益行业之一。从国内外成功的科技企业成长史
来看，增发融资与并购重组是其成长壮大的必要途径。通过对2010-2020年A股所有增发项目分行业统计中可以看到，
计算机增发项目数位居各行业第一位，增发项目超过128个（1/28），增发融资规模也处于各行业前列，融资规模超过1800亿
（9/28）。再融资新规大大降低了上市公司融资门槛与难度，计算机或成为最受益的板块之一。

<br>file:D:\TOUYAN\融资_定向增发和新股\【长江研究】定增项目梳理（行业建议关注汇总）20200216
</p>
<p>在增发流程中可关注：广联达、中孚信息、格尔软件、数字政通。
    有望通过增发做大做强：诚迈科技、东方通、南威软件、数据港、奥飞数据等。
    其中可以适当关注【奥飞数据】。

</p>
<h5>奥飞数据（300738）交流反馈20200215 </h5>
<p>
1、华南区域优势企业，零售IDC向批发型转型
2018年初在创业板上市的IDC公司，总部在广东，最早做IDC运营起家，租用运营商资源做带宽运营，布局区域华南为主，2014年开始自建数据中心，区域分布在广深、南宁、海口等地，19年收购北京德昇拓展了北京3000个机柜，目前客户以二线互联网公司为主，如UC、YY、搜狐、风行，也有少量快手、百度等一线公司，目前业务分三部分主要是自建数据中心、IDC运营、IDC工程业务，未来以自建IDC为主要方向，公司2018年以前以零售型项目为主，19年以来向批发型转型，开始拓展大型互联网客户的批发型项目，20年初与阿里签订合作协议，广州的数据中心订单体量预计在1万个柜子左右，阿里的订单将会为公司带来20-21年比较快速的机柜数量增长，公司2017-2018年在架机柜数量为1560个、2950个，截止19年底，公司上架机柜规模9000个，预计20-21年为1.6万、2.3万个，按照单机柜年收入7万计算，对应收入预计为12亿、16亿量级，目前IDC业务收入为7亿左右，20年收入增速较快达70%。存量客户来看，19年底还没有阿里、腾讯云的机柜租金收入，百度有1000个柜子，20年成为公司在阿里的突破之年，预计广州项目在20年3-4月份开始开工建设，全年贡献上架增量有望达到5000个，上架后毛利率预计在3成左右，与其他客户毛利率差异不大，盈利能力有望保持稳定。此外，利润端，公司持有科创板公司紫晶存储1.28%的股权，预计上市后贡献0.5亿左右的投资收益。

2、互联网公司上架速度有保障，降低中小客户拓展速度
从IDC的上架速度来看，批发型比如BAT第一年都是5-6成，两年都是8-9成上架，头条和快手上架速度会更快一些，实践上预计7-8个月就可以达到7-8成，大型互联网客户的上架速度较快。行业需求来看，近几年新增IDC需求主要以BAT为首的互联网企业，包括京东、拼多多、今日头条等新兴互联网企业为主，批发型为主，签约期限普遍在5年以上，物联网和智能制造企业需求也在提升，但是体量仍比较小。银行等金融客户主要是要符合银监会的一些机房要求，三方IDC厂商不好进入。中小企业需求处于萎缩状态，一方面中小企业加速上云对于IDC需求边际降低，同时零售IDC客户签约期限一般为1-2年，签约时间相对较短，公司未来将逐步淡化零售型客户拓展力度。

3、阿里合作主要为内生资源需求，疫情对IDC中长期利好
20年初公司与阿里的合作主要还是阿里看中公司在华南区域相对优质的IDC资源，公司之前与阿里系的UC合作，因此公司一直在阿里的供应商名单中，18年上市之前公司体量较小，大型数据中心承建能力有限，无法满足阿里大型数据中心建设需求，20年阿里有在华南部署2-3个数据中心的需求，公司在华南深耕时间久，顺势拿下阿里订单，以总包模式合作。后续能否能够和阿里持续合作存在不确定性，主要看公司是否存在资源对接，中长期来看，公司以迎合互联网客户需求为主。疫情方面，短期提升了服务器等资源的需求，但是对于IDC厂商而言，预计反馈的需求会有所滞后，阿里腾讯普遍有资源冗余储备，2个月到半年维度来看，疫情增加了对于云服务场景的需求，IDC需求中长期还是会持续向好。

基础池，无持仓，买入评级。预计公司2019-2021年的收入为8.4亿（yoy 104%）、13亿(55%)、18.1亿(39%)，对应归母净利润为1.1亿(90%)、1.8亿(64%)、2.2亿(22%)，对应PE为43倍、27倍、22倍，参考万国数据，给予公司EV/EBITA倍数20倍，EBITDA margin25%，对应20-21年合理股权价值为60亿、85亿，目前公司市值48亿，分别存在25%、77%上涨空间，从在手机柜资源来看，2年未出收入增长确定性较强，从竞争力方面，公司属于中小型IDC服务商，在互联网厂商比如阿里方面有所突破，公司具备带宽资源，但在中大型机房建设方面经验依然较为不足，能否中长期拿到阿里的订单存在不确定性，考虑到公司估值较低，20-21年收入爆发增长，综合来看，给予公司买入评级。
</p>


<h5>图：2010-2020个行业再融资规模 </h5>
{% load static %}
<img src="{% static 'templates\ciss_exhi\industry\static\refinancing_industries_2010_2020.png' %}" alt=" " 
height="90%" width="90%"/>
<p>source:cs_yang qiu peng </p> 
<!-- 按照图片具体大小设置百分比 -->


<h4>20200216,个股定增：凯莱英</h4>
<p>【凯莱英】非公开发行简评--高瓴资本全额认购，双赢合作有望促进公司再上一个台阶【国盛医药张金洋团队】
<br>募集资金：23.11亿；
<br>定价：123.56元/股，非公开发行股票的定价基准日为公司第三届董事会第三十三次会议决议公告日，发行价格不低于定价基准日前二十个交易日公司股票交易均价的80%；
<br>发行对象：1名特定对象，高瓴资本管理有限公司（Hillhouse Capital Management Ptd.Ltd.）。
<br>限售期：18个月。
<br>用途：扣除发行费用后将全额用于补充公司流动资金。
<br>高瓴资本是一家专业从事资产管理业务的公司，其所管理的高瓴资本管理有限公司—HCM中国基金自2013年正式运营至今
主要投资于A股股票，集中投资于以中国业务为核心的、具有长期成长性的上市公司。梳理高瓴资本的医药投资版图，
可以看出高瓴资本重仓中国的创新药赛道 （包括第一梯队的创新药公司+CRO/CMO创新服务商）。
此次全额认购凯莱英的非公开发行股票，既是对凯莱英的认可，又是高瓴在医药布局中的重要一步，高瓴未来还会持续投资
创新赛道，凯莱英依托自身在创新药服务领域积累的技术、经验、产能和平台体系，可以为高瓴资本及其相关方投资的
创新药公司提供高质量的CMC研发和生产服务。而对凯莱英来说，高瓴资本依托在全球创新药市场的投资布局，可以积极
推动凯莱英显著提升服务创新药公司的广度和深度，并在核酸、生物药CDMO、以及创新药临床研究服务等公司新业务领域
开展深入战略合作，可谓是双赢。
    
<br>2.定增补充流动资金，为后续战略布局及技术研发提供充分保障
<br>战略：公司目前已是国内CDMO龙头，下一阶段业务方面战略包括大分子、小分子（API+制剂一体化）、CRO+CDMO一体化，
药品研发的全生命周期服务。    ️在客户方面，一方面要强化欧美大制药公司的管线渗透率，另一方面还要提高客户的“广度”，拓展中小创新药公司。
<br>技术：公司将进一步加大研发投入力度，包括连续性反应技术、生物转化技术、高端制剂技术开发、光化学、电化学等领域的前沿技术，保持公司在行业内的技术领先地位。
<br>资本实力：为公司各方面布局提供充足的资金保障，帮助公司增效提速，加快提升公司的市场份额和行业地位。
<br>所属行业：中国CDMO行业受益于产业转移、政策利好及本土创新研发热潮，进入黄金增长期。
凯莱英作为国内CDMO技术领导者，业绩有望持续高速成长。我国创新药风起云涌，作为创新药产业链不可或缺的CDMO环节
的龙头，凯莱英未来有望迎来数年持续高速发展，再上一个台阶。
<br>财务预测：考虑增发摊薄，预计公司2019-2021年归母净利润分别为5.73亿、7.69亿、10.26亿元，
增长分别为33.8%、34.1%、33.5%。EPS分别为2.29元、3.08元、4.10元，对应PE分别为69x，51x，39x。
我们认为公司是技术推动型的国内CDMO龙头企业，受益于国内MAH制度的持续推进。未来几年公司有望随着商业化项目的
增多业绩呈现高速增长，定增引入战投后服务创新公司的深度和广度有望提升，后劲十足。
未来三年业绩增速有望维持30%-35%，维持“买入”评级。
</p>

<h4>20200216,一品红（300723.SZ） </h4>
<p>1、一品红（300723.SZ）.
公司是儿童药龙头企业之一，近年来加强销售团队建设，加快全国市场布局，重点产品培育卓有成效，自产品种如盐酸克林霉素棕榈酸酯分散片、盐酸克林霉素棕榈酸酯分散片、芩香清解口服液、参柏洗液等有望实现快速放量。

</p>

{% endblock content %}
