{% extends "base.html" %}
<meta charset="UTF-8"> <!-- for HTML5 -->
<!-- The block items for this base html file is: {nav_sub, left_frame,menu,content } -->


{% block nav_sub %}

    <a id="a_nav" href="./core_stra.html">核心ETF |Core ETF</a> >>
    <a id="a_nav" href="./last_stra.html">最新ETF |Lastest ETF</a> >>

{% endblock nav_sub %}

{% block left_frame %}
    <!-- Menu in left frame -->
    <h1 >ETF数据处理 </h1> 
    <p>ETF数据处理相关内容。</p>
    <hr>       
    <h3>目录</h3>
    <ul>
    <li><a href="#stra_intro">1，导入pcf清单</a></li> 
    <li><a href="#stra_theory">2，导入分红送配信息</a></li> 
    <li><a href="#stra_empirical">3，计算为了N日分红送配信息</a></li>  
    </ul>
    <hr><hr>

{% endblock left_frame %}


{% block menu %}

    <div id="menu_float">
    <ul>
    <li><a href="#stra_intro">1，导入pcf清单</a></li> 
    <li><a href="#stra_theory">2，导入分红送配信息</a></li> 
    <li><a href="#stra_empirical">3，计算为了N日分红送配信息</a></li>  
    </ul>
    </div>

{% endblock menu %}


{% block content %}
    <h4>查询ETF成分股分红送配信息：</h4>

    <form action="{% url "etf_data" %}" method="post" accept-charset="utf-8">
    {% csrf_token %}

    ETF code: <input type="text" name="name_etf"  value="510300"> <br>
    日期，如:0723 <input type="text" name="date_init" value="0723"> <br>
    
    
    最新更新日期|Lastest Update Date.: <input type="text" name="name_etf"  value="510300"> <br>
    策略分类：一级|Strategy Hierachy:1.: <input type="text" name="hier_1"   value="hier_1"> <br>
    策略分类：二级|Strategy Hierachy:2.: <input type="text" name="hier_2"   value="hier_2"> <br>
    策略分类：三级|Strategy Hierachy:3.: <input type="text" name="hier_3"   value="hier_3"> <br>
    策略分类：四级|Strategy Hierachy:4.: <input type="text" name="hier_4"   value="hier_4"> <br>
         
    <input type="submit" value="提交">
    
    </form>

    <style type="text/css">
    .table{ font-size:12px; }

    </style>


    <section id="s1">  
    <h3><a name="stra_intro">1，导入pcf清单</a></h3>  
    <hr>
    
    <table border="0">
    <tr>
        <td>代码</td><td>证券名称</td><td>股票数量</td><td>标志</td><td>溢价比例</td><td>现金替代金额</td>
    </tr>
    {% for temp_index,temp_row in df_stocks.items %}
    <tr>
        <td>{{ temp_index }}</td>
        <td>{{ temp_row.code }}</td>
        <td id="td01">{{ temp_row.name }}</td> 
        <td>{{ temp_row.num }}</td>
        <td>{{ temp_row.mark }}</td>
        <td>{{ temp_row.premium_pct }}</td>
        <td>{{ temp_row.amount }}</td> 
        
    </tr>
    {% endfor %}
    </table>

    </section> 





    <section id="s2">  
    <h3><a name="stra_theory">2，导入分红送配信息</a></h3>  
    <hr>
    <p>  </p>


    </section> 

    <section id="s3">  
    <h3><a name="stra_empirical">3，计算为了N日分红送配信息</a></h3>  
    <hr>
    <p>  </p>
    

    <table border="0">
    <tr>
        <td>分配方案</td><td>每股现金</td><td>组合现金差额</td><td>每股转股</td><td>每股增股</td><td>调整后数量</td><td>公告日</td><td>注册登记日</td><td>红股分配日</td><td>现金分配日</td>
    </tr>
    {% for temp_index,temp_row in df_stocks2.items %}
    <tr>
        <td>{{ temp_index }}</td>
        <td id="td01">{{ temp_row.scheme_des }}</td>
        <td>{{ temp_row.cash_per_share }}</td>
        <td>{{ temp_row.cash_diff }}</td> 
        <td>{{ temp_row.share_div }}</td>
        <td>{{ temp_row.share_increase }}</td>
        <td>{{ temp_row.num_new }}</td>
        <td>{{ temp_row.date_announce }}</td>
        <td>{{ temp_row.date_register }}</td>
        <td>{{ temp_row.date_share_pay }}</td> 
        <td>{{ temp_row.date_cash_pay }}</td>
        
    </tr>
    {% endfor %}
    </table>




    </section> 
 


{% endblock content %}

