{% extends "base.html" %}
<meta charset="UTF-8"> <!-- for HTML5 -->
<!-- The block items for this base html file is: {nav_sub, left_frame,menu,content } -->
<!-- since 190720 | derived from 190720 -->

{% block nav_sub %}

    <a id="a_nav" href="./data/data_api.html"> </a> >>
    <a id="a_nav" href="./data/data_api.html"> </a> >>
    <a id="a_nav" href="./data/data_api.html"> </a> >>
    
{% endblock nav_sub %}

{% block left_frame %}




{% endblock left_frame %}

{% block menu %}


{% endblock menu %}


{% block content %}

<h4>postgresql数据库入门 </h4>
<p>
1.2,安装pgsql插件 pip install psycopg2
1.3,新建pgsql数据库：C:\Program Files\PostgreSQL\12\bin\createdb.exe 
问题：pgsql的pgadmin里无法添加server
source：https://www.runoob.com/postgresql/postgresql-create-database.html
<br>
Ans:另一种方法：Windows上PostgreSQL安装配置教程：
source：https://www.cnblogs.com/scwbky/p/9841502.html
1,初始化数据库：
以管理员身份打开命令提示符，定位到bin目录下；
CMD:cd C:\Program Files\PostgreSQL\12\bin
CMD:initdb -D G:\CISS_db\ciss_db
"属于此数据库系统的文件宿主为用户 "chengry".
此用户也必须为服务器进程的宿主."

2,开启数据库服务器：注意：CMD中提示的命令是基于Linux的，windows不能用。
pg_ctl start -w -D "G:\CISS_db\ciss_db"
3,创建用户ciss_rc,密码同样是ciss_rc:
net user ciss_rc ciss_rc  /add
Qs:
Ans:1，说是permission denied 创建data文件权限不够。于是对我们下载
postgresql的目录点击右键属性里，设置user的权限为完全控制
ans_link:https://blog.csdn.net/qq_42535651/article/details/90749096
ans2，在pgsql安装文件夹内将用户权限设置成全部控制；在系统环境变量里吧安装文件夹和
pgadmin文件夹都加了进去。
ans3，最后在pgadmin里成功把数据库添加了，
db_name = ciss_db ; 用户名和密码ciss_rc
127.0.0.1:5432
<br>
用python连接我们的数据库
import psycopg2
conn = psycopg2.connect(database="ciss_db", user="ciss_rc", password="ciss_rc", host="127.0.0.1", port="5432")
# 创建表格
cur = conn.cursor()
cur.execute('''CREATE TABLE COMPANY
       (ID INT PRIMARY KEY     NOT NULL,
       NAME           TEXT    NOT NULL,
       AGE            INT     NOT NULL,
       ADDRESS        CHAR(50),
       SALARY         REAL);''')
print "Table created successfully"
 
conn.commit() 
conn.close()
原文链接：https://blog.csdn.net/why_not2007/article/details/79062351

conn = MySQLdb.connect(host="******",user="******",passwd="******",db='******',port = ******,charset="utf8")
sql = "select * from ****** limit 3"
df = pd.read_sql(sql,conn,index_col="id")
print df
————————————————
版权声明：本文为CSDN博主「sjpljr」的原创文章，遵循 CC 4.0 BY-SA 版权协议，转载请附上原文出处链接及本声明。
原文链接：https://blog.csdn.net/sjpljr/article/details/80010927

pandas.pdf| P991
DataFrame.to_sql(name, con, flavor=None, schema=None, if_exists=’fail’, index=True, index_
label=None, chunksize=None, dtype=None)

if_exists : {‘fail’, ‘replace’, ‘append’}, default ‘fail’
• fail: If table exists, do nothing.
• replace: If table exists, drop it, recreate it, and insert data.
• append: If table exists, insert data. Create if does not exist.


<h3>数据接口 | Data API</h3>
<hr>
<p>{......} </p>
<h4> </h4>
<p> </p>

<h3>数据库 | Database</h3>
<hr>
<p>{......} </p>
<h4> </h4>
<p> </p>

<h3>自定义数据 | Custom Data</h3>
<hr>
<p>{......} </p>
<h4> </h4>
<p> </p>


{% endblock content %}
