{% extends "base.html" %}
<meta charset="UTF-8">
<!-- for HTML5 -->
<!-- The block items for this base html file is: {nav_sub, left_frame,menu,content } -->
<!-- 设置标题 -->
{% block title0 %} 
    股债配置策略首页
{% endblock title0 %}

{% block nav_sub %}
<!-- layui定义左侧工具栏：第一部分目录 -->
<li class="layui-nav-item layui-nav-itemed">
    <a class="" href="#stra_allocation">股债配置策略首页</a>
    <dl class="layui-nav-child">
        <dd><a href="#stra_allo_check_data">1,检查数据完整性</a></dd>
        <dd><a href="#stra_allo_statistics">2,区间统计数据,配置比例初算</a></dd> 
        <dd><a href="#stra_allo_indicator_signal">3,策略指标和交易信号分析</a></dd>
        <dd><a href="#stra_allo_simulation_evaluation">4,组合历史回测和绩效评估</a></dd> 
        <dd><a href="#stra_allo_parameter_optimization">5,指标和信号参数优化</a></dd> 
        <dd><a href="#stra_allo_performance_monitor">6,样本外跟踪</a></dd> 
    </dl>
</li>
<li class="layui-nav-item layui-nav-itemed">
    <a class="" href="#fund_pool">基金池筛选</a>
    
        <dd></dd>
        <dd></dd>
        <dd></dd>
    </dl>
</li>









<br>
{% endblock nav_sub %} 
<!--- ################################################################## --->
<!--- ################################################################## --->
{% block left_frame %} 
<h1>股债配置策略</h1> 
 
{% endblock left_frame %}

{% block menu %} {% endblock menu %} 
{% block content %}

<!--- ###url 与 views_xxx.py 文件中的 def fund_analysis(request) 对应。#### --->
<form action="{% url 'stra_allocation' %}" method="post" accept-charset="utf-8"> 
<!--- ################################################################## --->
<!--- ################################################################## --->

<h4 id="stra_allo_check_data">1,检查数据完整性</h4>
<p>选取基础资产，观察净值走势和统计数据。给定输入的历史净值数据；数据整理、对齐。

</p>
{% csrf_token %}
<table id="ciss_table">
    <!-- step1：输入代码，选择是否查询基金信息；step2：根据获取的数据，填入定性信息，保存到sqlite数据库  -->
    <tr>选择需要计算的资产：
        {% for temp_i in asset_list %}
            <input type="checkbox" name="asset_list_stra_allo_check_data"  value="{{ temp_i}}"> {{ temp_i }}  
        {% endfor %}
    </tr>  
    <br>
    <input type="submit" name="input_stra_allo_check_data" value="提交"> 
    </tr>

</table>


<!--- ################################################################## --->
<hr>
<h4 id="stra_allo_statistics">2,区间统计数据,配置比例初算 </h4>
<p>区间统计数据，提前设定区间，对每个区间计算 区间收益率、回撤、波动率等指标。
</p>
<p>OUPUT:返回兼容的时间区间 
</p>

<table id="ciss_table" >
    <tr id="table_tr_text">
        <td id="table_tr_text">asset</td>
        <td id="table_tr_text">count</td>
        <td id="table_tr_text">mean</td>
        <td id="table_tr_text">min</td>
        <td id="table_tr_text">25%</td>
        <td id="table_tr_text">50%</td>
        <td id="table_tr_text">75%</td>
        <td id="table_tr_text">max</td>
    </tr> 
    {% for temp_i,temp_v in check_data_df_describe.items %}
    <tr id="table_tr_text">
        <td id="table_tr_text">{{ temp_i }}</td> 
        <td id="table_td_number">{{ temp_v.count }}</td>
        <td id="table_td_number">{{ temp_v.mean }}</td>
        <td id="table_td_number">{{ temp_v.min }}</td>
        <td id="table_td_number">{{ temp_v.25pct }}</td>
        <td id="table_td_number">{{ temp_v.50pct }}</td>
        <td id="table_td_number">{{ temp_v.75pct }}</td>
        <td id="table_td_number">{{ temp_v.max }}</td>
    </tr>
    {% endfor %}
</table>
<button type="button" onclick="tableToExcel('ciss_table')">导出Excel</button> <br>

<table id="ciss_table">
    <tr id="table_tr_text"> 
        <td id="table_tr_text">date </td>
        <td id="table_tr_text">unit_国开行债_10年以上</td>
        <td id="table_tr_text">unit_沪深300</td>
        <td id="table_tr_text">unit_创业板</td>
    </tr> 
    {% for temp_i,temp_v in check_data_df_week.items %}
    <tr id="table_tr_text"> 
        <td id="table_tr_text">{{ temp_v.date }}</td>
        <td id="table_td_number">{{ temp_v.unit_国开行债_10年以上 }}</td>
        <td id="table_td_number">{{ temp_v.unit_沪深300 }}</td>
        <td id="table_td_number">{{ temp_v.unit_创业板 }}</td>
    </tr>
    {% endfor %}
</table>
<button type="button" onclick="tableToExcel('ciss_table')">导出Excel</button> <br>



<!--- ################################################################## --->
<hr>
<h4 id="stra_allo_indicator_signal">3,策略指标和交易信号分析</h4>
<p>均线、波动率、div、diff等；
</p>
<!--- ################################################################## --->
<h4>todo：债券策略的网页版本：1，标准化指标研究：均线、波动率、div、diff等；
    2，单指标参数敏感性分析；3，指标组合构建的信号计算，信号自身的频率统计数据；
    4，组合绩效分析：ret、unit、mdd、历史区间情景分析、YTD等。

</h4>
{% csrf_token %}
<table border="1">
    <!-- step1：输入代码，选择是否查询基金信息；step2：根据获取的数据，填入定性信息，保存到sqlite数据库  -->
    <tr>
    <tr>输入截至时间<input type="text" name="date_weight_stock" value="20221104"></tr> 
    <tr>组合名称或代码，如“富国天惠或普通股票基金” <input type="text" name="port_name_weight_stock" value=""></tr>
    <tr>Note:债券基准组合1权重+组合2+...权重合计不超过100：【weight_stock = 1 - weight_bond1 - weight_bond2】</tr>
    <br>
    <tr>债券基准组合1名称 <input type="text" name="name_bond1_weight_stock" value="企业债总财富3-5y"></tr>
    <tr>债券基准组合1权重：0~100 <input type="text" name="weight_bond1_weight_stock" value=""></tr>
    <br>
    <tr>债券基准组合2名称 <input type="text" name="name_bond2_weight_stock" value="新中票总财富3-5y"></tr>
    <tr>债券基准组合2权重：0~100 <input type="text" name="weight_bond2_weight_stock" value=""></tr>
    
    <br>
    <input type="submit" name="input_stra_allo_weight_stock" value="提交"> 
    </tr>

</table>

<!--给table添加滚动条，table放到一个div里去,然后再设置div显示滚动条即可 div比table大小要小才会显示-->  
<div class="div_table" style="overflow-x: auto; overflow-y: auto;">
    <table id="ciss_table">
        <tr class="hover">
            <td id="table_tr_text">基础资产名称</td>
            <td id="table_tr_text">配置权重%</td>
            <td id="table_tr_text">加权得分score</td>
            <td id="table_tr_text">相关性corr</td>
            <td id="table_tr_text">平均收益率</td>
            <td id="table_tr_text">累计收益率</td>
            <td id="table_tr_text">周最大回撤</td>
            <td id="table_tr_text">平均收益率差值</td>
            <td id="table_tr_text">累计收益率差值</td>
        </tr>    
        {% for temp_i,temp_v in df_stat_ind.items %}
        <tr>
            <td id="table_td_number" style='text-align:left;' width="140">{{ temp_i }}</td>
            <td id="table_td_number">{{ temp_v.weight_simu }}</td>
            <td id="table_td_number">{{ temp_v.score }}</td>
            <td id="table_td_number">{{ temp_v.corr }}</td>
            <td id="table_td_number">{{ temp_v.ret_ave }}</td>
            <td id="table_td_number">{{ temp_v.ret_accu }}</td>
            <td id="table_td_number">{{ temp_v.mdd }}</td>
            <td id="table_td_number">{{ temp_v.diff_ret_ave }}</td>
            <td id="table_td_number">{{ temp_v.diff_ret_accu }}</td>
            						

        </tr>
        {% endfor %}
    </table>
    <button type="button" onclick="tableToExcel('ciss_table')">导出Excel</button> <br>
</div>


  
<!--- ################################################################## --->
<hr>
<h4 id="stra_allo_simulation_evaluation">4,组合历史回测和绩效评估</h4>
<p> 
</p>

{% csrf_token %}
<table border="1">
    <!-- step1：输入代码，选择是否查询基金信息；step2：根据获取的数据，填入定性信息，保存到sqlite数据库  -->
    <tr>
    <tr>输入截至时间<input type="text" name="date_weight_bond" value="20221104"></tr> 
    <tr>组合名称或代码，如“富国天惠或普通股票基金” <input type="text" name="port_name_weight_bond" value=""></tr>
    <tr>Note:股票组合1,组合2必须，组合3、组合4非必须；权重合计不超过100：【weight_stock = 1 - weight_stock1 - weight_stock2】</tr>
    <tr>股票资产总权重<input type="text" name="weight_stock_sum_weight_bond" value="0.8"></tr>
    <br>
    <tr>股票基准组合1名称 <input type="text" name="name_stock1_weight_bond" value="医药流通"></tr>
    <tr>股票基准组合1权重：0~100 <input type="text" name="weight_stock1_weight_bond" value="0.35"></tr>
    <br>
    <tr>股票基准组合2名称 <input type="text" name="name_stock2_weight_bond" value="消费者服务"></tr>
    <tr>股票基准组合2权重：0~100 <input type="text" name="weight_stock2_weight_bond" value="0.3"></tr>
    <br>
    <tr>股票基准组合3名称 <input type="text" name="name_stock3_weight_bond" value="中成药"></tr>
    <tr>股票基准组合3权重：0~100 <input type="text" name="weight_stock3_weight_bond" value="0.25"></tr>
    <br>
    <tr>股票基准组合4名称 <input type="text" name="name_stock4_weight_bond" value="化学制剂"></tr>
    <tr>股票基准组合4权重：0~100 <input type="text" name="weight_stock4_weight_bond" value="0.1"></tr>
    <br>
    <input type="submit" name="input_stra_allo_weight_bond" value="提交"> 
    </tr>

</table>

<!--给table添加滚动条，table放到一个div里去,然后再设置div显示滚动条即可 div比table大小要小才会显示-->  
<div class="div_table" style="overflow-x: auto; overflow-y: auto;">
    <table id="ciss_table">
        <tr class="hover">
            <td id="table_tr_text">基础资产名称</td>
            <td id="table_tr_text">配置权重%</td>
            <td id="table_tr_text">加权得分score</td>
            <td id="table_tr_text">相关性corr</td>
            <td id="table_tr_text">平均收益率</td>
            <td id="table_tr_text">累计收益率</td>
            <td id="table_tr_text">周最大回撤</td>
            <td id="table_tr_text">平均收益率差值</td>
            <td id="table_tr_text">累计收益率差值</td>
        </tr>    
        {% for temp_i,temp_v in df_stat_bondind.items %}
        <tr>
            <td id="table_td_number" style='text-align:left;' width="140">{{ temp_i }}</td>
            <td id="table_td_number">{{ temp_v.weight_simu }}</td>
            <td id="table_td_number">{{ temp_v.score }}</td>
            <td id="table_td_number">{{ temp_v.corr }}</td>
            <td id="table_td_number">{{ temp_v.ret_ave }}</td>
            <td id="table_td_number">{{ temp_v.ret_accu }}</td>
            <td id="table_td_number">{{ temp_v.mdd }}</td>
            <td id="table_td_number">{{ temp_v.diff_ret_ave }}</td>
            <td id="table_td_number">{{ temp_v.diff_ret_accu }}</td>
            						

        </tr>
        {% endfor %}
    </table>
    <button type="button" onclick="tableToExcel('ciss_table')">导出Excel</button> <br>
</div>



<!--- ################################################################## --->
<hr>
<h4 id="stra_allo_parameter_optimization">5,指标和信号参数优化</h4>
<p>用 
</p>



<!--- ################################################################## --->
<hr>
<h4 id="stra_allo_performance_monitor">6,样本外跟踪</h4>
<p> 
</p>




 
 
















<h3>TODO </h3>
<hr>
<p> </p>















</form>

{% endblock content %}