{% extends "base.html" %}
<meta charset="UTF-8">
<!-- for HTML5  -->
<!-- The block items for this base html file is: {nav_sub, left_frame,menu,content } -->
<!-- ref:sra_abm_rc.html } -->

{% block nav_sub %} A股策略分类：
<a id="a_nav" href="./stra_ashare_bm_index_replicate.html">基准和指数策略</a> >>
<a id="a_nav" href="#ashare_funda_industry">基本面：行业和主题</a> >>
<a id="a_nav" href="#ashare_single_stock">个股模型</a> >>
<a id="a_nav" href="#ashare_asset_allocation">资产配置</a> >>
<br>
<a id="a_nav" href="./core_stra">核心策略 |Core strategy</a> >>
<a id="a_nav" href="./last_stra">最新策略 |Lastest strategy</a> >>
<br> {% endblock nav_sub %} {% block right_frame %}
<h1><a href="#title">基准和指数策略 </a> </h1>
<h3>目录</h3>
<ul>
    <li><a href="#stra_intro">1,策略介绍| Introduction </a></li>
    <li><a href="#stra_theory">2,经典理论和模型| Theory and model</a></li>
    <li><a href="#stra_empirical">3,策略实证| Empirical </a></li>
    <li><a href="#stra_empirical_data">3.1,策略实证-数据 </a></li>
    <li><a href="#stra_empirical_indicator">3.2,策略实证-分析指标 </a></li>
    <li><a href="#stra_empirical_stra_factor">3.3,策略实证-策略和因子 </a></li>
    <li><a href="#stra_empirical_opt_weight">3.4,策略实证-最优化加权 </a></li>
    <li><a href="#stra_empirical_portfolio">3.5,策略实证-组合 </a></li>
    <li><a href="#stra_conclusion">4,策略结论| Conclusion</a></li>
</ul>

{% endblock right_frame %} {% block left_frame %}
<!-- Menu in left frame -->
<h1>基准和指数策略</h1>
<p>管理从A股投资组合基准和指数类策略</p>
<p>TODO：以50只股票复制沪深300指数收益和波动特诊。</p>
<hr>
<h3>目录</h3>
<ul>
    <li><a href="#stra_intro">1,策略介绍| Introduction </a></li>
    <li><a href="#stra_theory">2,经典理论和模型| Theory and model</a></li>
    <li><a href="#stra_empirical">3,策略实证| Empirical </a></li>
    <li><a href="#stra_empirical_data">3.1,策略实证-数据 </a></li>
    <li><a href="#stra_empirical_indicator">3.2,策略实证-分析指标 </a></li>
    <li><a href="#stra_empirical_stra_factor">3.3,策略实证-策略和因子 </a></li>
    <li><a href="#stra_empirical_opt_weight">3.4,策略实证-最优化加权 </a></li>
    <li><a href="#stra_empirical_portfolio">3.5,策略实证-组合 </a></li>
    <li><a href="#stra_conclusion">4,策略结论| Conclusion</a></li>
</ul>

<hr> {% endblock left_frame %} {% block content %}

<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="stra_intro">1,策略介绍| Introduction </h3>
<hr>
<p>{......}
    <br>
</p>





<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="stra_theory">2,经典理论和模型| Theory and model</h3>
<hr>
<p>{......}
    <br>
</p>







<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="stra_empirical">3,策略实证| Empirical </h3>
<hr>
<p>{......}
    <br>
</p>








<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="stra_empirical_data">3.1,策略实证-数据 </h3>
<hr>
<p>{......}
    <br>
</p>









<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="stra_empirical_indicator">3.2,策略实证-分析指标 </h3>
<hr>
<p>{......}
    <br>
</p>








<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="stra_empirical_stra_factor">3.3,策略实证-策略和因子 </h3>
<hr>
<p>{......}
    <br>
</p>












<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="stra_empirical_opt_weight">3.4,策略实证-最优化加权 </h3>
<hr>
<p>{......}
    <br>
</p>











<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="stra_empirical_portfolio">3.5,策略实证-组合 </h3>
<hr>
<p>{......}
    <br>
</p>







<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="stra_conclusion">4,策略结论| Conclusion</h3>
<hr>
<p>{......}
    <br>
</p>




<hr> {% endblock content %}