{% extends "base.html" %}
<meta charset="UTF-8">
<!-- for HTML5 -->
<!-- The block items for this base html file is: {nav_sub, left_frame,menu,content } -->


{% block nav_sub %}

<a id="a_nav" href="./core_stra.html">核心策略 |Core strategy</a> >>
<a id="a_nav" href="./last_stra.html">最新策略 |Lastest strategy</a> >> {% endblock nav_sub %} {% block left_frame %}
<!-- Menu in left frame -->
<h1>投资策略实例 |CISS applications</h1>
<p>explore details of strategy developing process</p>
<hr>
<h3>目录</h3>
<ul>
<li><a href="#stra_intro">绪论| Introduction </a></li>
<li><a href="#stra_theory">经典理论和模型| Theory and model</a></li>
<li><a href="#stra_empirical">策略实证| Empirical </a></li>
<li><a href="#stra_conclusion">策略结论| Conclusion</a></li>
</ul>
<hr>
<hr> {% endblock left_frame %} {% block menu %}

<div id="menu_float">
<ul>
<li><a href="#stra_intro">绪论| Introduction </a></li>
<li><a href="#stra_theory">经典理论和模型| Theory and model</a></li>
<li><a href="#stra_empirical">策略实证| Empirical </a></li>
<li><a href="#stra_conclusion">策略结论| Conclusion</a></li>
</ul>
</div>

{% endblock menu %} {% block content %}
<h4>CISS\Bond\ |输入jny债券分位数策略参数：</h4>
<!--Stra name   Stra code   Stra hier 1 Stra hier 2 Stra hier 3 Stra hier 4 -->
<form action="{% url " stra_bond_jny " %}" method="post" accept-charset="utf-8">
{% csrf_token %}
<table border="0">
<tr>
<td>策略名称|Strategy Name: <br></td>
<td><input type="text" name="stra_name" value="bond_pct_ny"> <br></td>
</tr>

<tr>
<td>债券a,如7-10年国开行债券|Bond a：</td>
<td><select type="text" name="class2_a" value="代偿期限">
              <option value ="代偿期限">代偿期限</option>
              <option value ="现金工具">现金工具</option>
              <option value ="策略指数族">策略指数族</option>
              <option value ="成分指数族">成分指数族</option> 
              <option value ="发行期限">发行期限</option> 
              <option value ="发行人类型">发行人类型</option> 
              <option value ="计息方式">计息方式</option> 
              <option value ="流通场所">流通场所</option> 
              <option value ="投资人分类指数族">投资人分类指数族</option> 
              <option value ="信用等级">信用等级</option> 
              <option value ="综合类指数">综合类指数</option> 
            </select></td>
<td><select type="text" name="yrs_range_a" value="total_value">
              <option value ="yrs_7_10">7-10年</option> 
              <option value ="total_value">总值</option>
              <option value ="yrs_0_1">1年以下</option> 
              <option value ="yrs_1_3">1-3年</option>
              <option value ="yrs_3_5">3-5年</option> 
              <option value ="yrs_5_7">5-7年</option> 
              <option value ="yrs_10_more">10年以上</option> 
            </select></td>
<td><select type="text" name="name_short_a" value="7-10年国开行债券全价">
            {% for temp_num,temp_row in cb_name_short.items %}
                <option value ="{{ temp_row.name_short }}">{{ temp_row.name_short }}</option>
            {% endfor %}
            </select></td>
</tr>
<tr>
<td>债券b,如企业债AAA(3-5)|Bond b：</td>
<td><select type="text" name="class2_b" value="信用等级">
              <option value ="信用等级">信用等级</option> 
              <option value ="现金工具">现金工具</option>
              <option value ="策略指数族">策略指数族</option>
              <option value ="成分指数族">成分指数族</option> 
              <option value ="代偿期限">代偿期限</option>
              <option value ="发行期限">发行期限</option> 
              <option value ="发行人类型">发行人类型</option> 
              <option value ="计息方式">计息方式</option> 
              <option value ="流通场所">流通场所</option> 
              <option value ="投资人分类指数族">投资人分类指数族</option> 
              <option value ="综合类指数">综合类指数</option> 
            </select></td>
<td><select type="text" name="yrs_range_b" value="yrs_3_5">
              <option value ="yrs_3_5">3-5年</option> 
              <option value ="total_value">总值</option>
              <option value ="yrs_0_1">1年以下</option> 
              <option value ="yrs_1_3">1-3年</option> 
              <option value ="yrs_5_7">5-7年</option> 
              <option value ="yrs_7_10">7-10年</option> 
              <option value ="yrs_10_more">10年以上</option> 
            </select></td>
<td><select type="text" name="name_short_b" value="企业债AAA全价">
            {% for temp_num,temp_row in cb_name_short.items %}
                <option value ="{{ temp_row.name_short }}">{{ temp_row.name_short }}</option>
            {% endfor %}
            </select></td>
</tr>
<tr>
<td>债券c,如货币市场基金可投资债券|Bond c：</td>
<td><select type="text" name="class2_c" value="现金工具">
              <option value ="现金工具">现金工具</option>
              <option value ="策略指数族">策略指数族</option>
              <option value ="成分指数族">成分指数族</option> 
              <option value ="代偿期限">代偿期限</option>
              <option value ="发行期限">发行期限</option> 
              <option value ="发行人类型">发行人类型</option> 
              <option value ="计息方式">计息方式</option> 
              <option value ="流通场所">流通场所</option> 
              <option value ="投资人分类指数族">投资人分类指数族</option> 
              <option value ="信用等级">信用等级</option> 
              <option value ="综合类指数">综合类指数</option> 
            </select></td>
<td><select type="text" name="yrs_range_c" value="yrs_0_1">
              <option value ="yrs_0_1">1年以下</option> 
              <option value ="total_value">总值</option>
              <option value ="yrs_1_3">1-3年</option>
              <option value ="yrs_3_5">3-5年</option> 
              <option value ="yrs_5_7">5-7年</option> 
              <option value ="yrs_7_10">7-10年</option> 
              <option value ="yrs_10_more">10年以上</option> 
            </select></td>
<td><select type="text" name="name_short_c" value="货币市场基金可投资债券">
            {% for temp_num,temp_row in cb_name_short.items %}
                <option value ="{{ temp_row.name_short }}">{{ temp_row.name_short }}</option>
            {% endfor %}
            </select></td>
</tr>

<tr>
<td>基准指数，如中债-综合全价(总值)指数: <br></td>
<td><select type="text" name="benchmark" value="CBA00203.CS">
              <option value="CBA00203.CS">综合全价(总值)指数</option>
            </select>
<tr>
<td>初始日期|Initial Date.: <br></td>
<td><input type="text" name="date_init" value="20130101"> <br></td>
</tr>
<tr>
<td>最新日期|Lastest Date.: <br></td>
<td><input type="text" name="date_last" value="20190103"> <br></td>
</tr>
<tr>
<td>最低现金比例|1~30%: <br></td>
<td><input type="text" name="weight_c_min" value="5"><br></td>
</tr>
</table>
<!--部分指数的最早时间是20070101，一般考虑留1年的交易日时间比较合适 | onFocus="this.value=''" 
    data of CBA05203.CS started from 20120101, so initial date might best start from 20130101
     组合调整频率|1-250天: <input type="text" name="frequency_d" value="5"><br>
    组合权重分档|1~30%: <input type="text" name="weight_diff" value="5"><br>  -->
<input type="submit" value="提交">


</form>


<style type="text/css">
.table {
  font-size: 12px;
}
</style>

<section id="s1">

<h4><a name="describe">选定指数信息 </a></h4>
<hr>
<table border="0.1" class="table">
<tr>
<td>简称</td>
<td>代码</td>
<td>输入债券类型</td>
<td>类型II</td>
<td>剩余期限区间</td>
</tr>
<tr>
<td> 基准指数 </td>
<td> </td>
<td>{{ benchmark }} </td>
</tr>
<tr>
<td> a </td>
<td>{{ name_short_a }} </td>
<td>{{ symbol_a }} </td>
<td>{{ class_2_a }}</td>
<td>{{yrs_range_a }} </td>
</tr>
<tr>
<td> b </td>
<td>{{ name_short_b }} </td>
<td>{{ symbol_b }}</td>
<td>{{ class_2_b }}</td>
<td>{{yrs_range_b }} </td>
</tr>
<tr>
<td> c </td>
<td>{{ name_short_c }} </td>
<td>{{ symbol_c }}</td>
<td>{{ class_2_c }}</td>
<td>{{yrs_range_c }} </td>
</tr>
</table>

<h3><a name="describe">指数描述统计| Descriptive Statistics：index yield to maturity</a></h3>
<hr> {% if ytm_describe %}

<table border="0.1" class="table">
<caption>三只成分指数和基准指数收益率描述统计</caption>
<tr>
<td>代码|到期收益率ytm,%</td>
<td>交易日数量</td>
<td>平均值</td>
<td>标准差</td>
<td>最小值</td>
<td>25%分位数</td>
<td>50%分位数</td>
<td>75%分位数</td>
<td>最大值</td>
</tr>
{% for temp_date,row_info in ytm_describe.items %}
<tr>
<td>{{ temp_date }}</td>
<td>{{ row_info.count }}</td>
<td>{{ row_info.mean }}</td>
<td>{{ row_info.std }}</td>
<td>{{ row_info.min }}</td>
<td>{{ row_info.pct_25 }}</td>
<td>{{ row_info.pct_50 }}</td>
<td>{{ row_info.pct_75 }}</td>
<td>{{ row_info.max }}</td>


</tr>
{% endfor %}
</table>

{% endif %}

</section>


<section id="s2">
<h3><a name="calculation">策略指标描述统计 | Descriptive Statistics：percentage and weights</a></h3>
<hr> {% if ytm_describe2 %}

<table border="0.1" class="table">
<caption>历史收益率分位数和组合配置权重计算：描述统计</caption>
<tr>
<td>代码|到期收益率ytm,%</td>
<td>交易日数量</td>
<td>平均值</td>
<td>标准差</td>
<td>最小值</td>
<td>25%分位数</td>
<td>50%分位数</td>
<td>75%分位数</td>
<td>最大值</td>
</tr>
{% for temp_date,row_info in ytm_describe2.items %}
<tr>
<td>{{ temp_date }}</td>
<td>{{ row_info.count }}</td>
<td>{{ row_info.mean }}</td>
<td>{{ row_info.std }}</td>
<td>{{ row_info.min }}</td>
<td>{{ row_info.pct_25 }}</td>
<td>{{ row_info.pct_50 }}</td>
<td>{{ row_info.pct_75 }}</td>
<td>{{ row_info.max }}</td>


</tr>
{% endfor %}
</table>

{% endif %}

</section>

<section id="s3">
<h3><a name="stra_empirical">{{ stra_name }} </a></h3>
<hr>
<div id="main4" style="width: 800px;height:500px;"></div>
<script type="text/javascript">
// source https://www.cnblogs.com/labc/articles/5954438.html
// django中传递到页面中的并不是变量， 是文本的替换
//190116 0841 确定的是数据传过来了。
//source http://www.runoob.com/js/js-json.html
// typeof data_rc  | string 


//JSON.stringify 返回的是双引号 {"testArray":[1,2,3,4,5],"name":"CSS3"}
// 尝试替换双引号 ||  data_rc = data_rc.replace(/'/, '"') 好像替换第一个单引号
// data_rc = data_rc.replace(/\'/g, '"')
// obj = JSON.parse(data_rc);

//window.alert( data_rc.substring(1,30) )

var myChart4 = echarts.init(document.getElementById('main4'));
//import data
// var str_sys_dir =  './data' 
//'C:/zd_zxjtzq/RC_trashes/temp/ciss_web/static/templates/ciss_exhi/strategy/data'
var str_sys_dir = './data';
// './data'  
var str_json = 'jny.json';
var str_path = ''
  //据说这样最快 https://www.cnblogs.com/programs/p/5554742.html
str_path += str_sys_dir;
str_path += '/';
str_path += str_json;
// 获取从viewspy传来的数据


//$.getJSON('./rc_sys/Sys_rC1703_1703Port/Port_CSI800_000300.SH_170101_20_0.95/Account_Sum_2018-08-09.json').done(function (data) {
// var temp_unit = $.getJSON( str_path ) 
// type of temp_unit is object 
//Query.parseJSON(jsonstr),可以将json字符串转换成json对象
// $.getJSON( str_path ).done(function (data) {


var dates = {
  {
    dates | safe
  }
};
var units = {
  {
    units | safe
  }
};
var mdds = {
  {
    mdds | safe
  }
};
// window.alert( units[10] );

var name1 = 'Unit';
var name2 = 'MDD';
var dates = dates;
var values1 = units;
var values2 = mdds;
// $.each(data, function (index, item) {
//     // alert( item.name ) 弹窗是 601398.SH,600036.SH,997200,865500
//     // alert( index ) 弹窗是 index,MV
//     // item[0] 依次是 601398. 93w，似乎反了
//     // Ans:先在python-pandas中transpose转置。
//     // 奇怪，jQuery的中文是可以正常显示的，幸福 | python导入csv时选择了 GBK，导出json时没有特别的。 
//         dates.push(  item.date );    //挨个取出类别并填入类别数组 
//         values1.push( item.port_unit );
//         values2.push( item.port_unit );
//     });

// set options 
option4 = {
  title: {
    text: '净值和最大回撤 Unit MDD',
    subtext: 'CISS\\bond\\momentum ',
    x: 'center',
    align: 'right'
  },
  grid: {
    bottom: 80
  },
  toolbox: {
    feature: {
      dataZoom: {
        yAxisIndex: 'none'
      },
      restore: {},
      saveAsImage: {}
    }
  },
  tooltip: {
    trigger: 'axis',
    axisPointer: {
      type: 'cross',
      animation: false,
      label: {
        backgroundColor: '#99CCCC'
      }
    }
  },
  legend: {
    data: [name1, name2],
    x: 'left'
  },
  //设置初始显示的总图表的百分比。
  dataZoom: [{
    show: true,
    realtime: true,
    start: 0,
    end: 100
  }, {
    type: 'inside',
    realtime: true,
    start: 0,
    end: 100
  }],
  xAxis: [{
    type: 'category',
    boundaryGap: false,
    axisLine: {
      onZero: false
    },
    data: dates
  }],
  yAxis: [{
    name: 'Unit(1.000)',
    type: 'value',
    max: 'dataMax',
    //Math.ceil( Math.max( values1 )*100+10 )/100   ,
    // min: Math.floor( Math.min( values1 )*100-10 )/100 
    min: 'dataMin'

  }, {
    name: 'MDD(%)',
    nameLocation: 'start',
    max: 0.0,
    min: 'dataMin',
    // Math.floor( Math.min( values2 )*100-10 )/100 , 
    //Math.min( values2 ) *1.1*100 ,
    type: 'value',
    inverse: false //true
  }],
  series: [{
    name: name1,
    type: 'line',
    animation: false,
    areaStyle: {
      normal: {}
    },
    lineStyle: {
      normal: {
        width: 1
      }
    },
    markArea: {
      silent: true,
      data: [
        [{
          xAxis: dates[0]
        }, {
          xAxis: dates[dates.length - 1]
        }]
      ]
    },
    data: values1
  }, {
    name: name2,
    type: 'line',
    yAxisIndex: 1,
    animation: false,
    areaStyle: {
      normal: {}
    },
    lineStyle: {
      normal: {
        width: 1
      }
    },
    markArea: {
      silent: true,
      data: [
        [{
          xAxis: dates[0]
        }, {
          xAxis: dates[dates.length - 1]
        }]
      ]
    },
    data: values2
  }]
}; // end of option 

myChart4.setOption(option4)

//鼠标响应事件：params.name 对应日期，params.data 净值数字
//idea 未来可以跳转到个股，组合，系统的页面。
myChart4.on('click', function(params) {
  window.open('https://www.baidu.com/s?wd=' + encodeURIComponent(params.name));
});

// })
</script>
<hr>
<table border="0.1" class="table">
<caption>最近10个交易日策略和成份指数收益率</caption>
<tr>
<td>日期</td>
<td>策略净值</td>
<td>基准净值</td>
<td>成份A净值</td>
<td>成份B净值</td>
<td>成份C净值</td>
</tr>
{% for temp_date,row_info in units_last.items %}
<tr>
<td>{{ row_info.date }}</td>
<td>{{ row_info.strategy }}</td>
<td>{{ row_info.benchmark }}</td>
<td>{{ row_info.symbol_a }}</td>
<td>{{ row_info.symbol_b }}</td>
<td>{{ row_info.symbol_c }}</td>

</tr>
{% endfor %}
</table>


</section>



<p> </p>
<p> </p>
<p> </p>
{% endblock content %}