{% extends "base.html" %}
<meta charset="UTF-8">
<!-- for HTML5 -->
<!-- The block items for this base html file is: {nav_sub, left_frame,menu,content } -->

{% block nav_sub %} {% endblock nav_sub %} {% block right_frame %}
<h1><a href="#location_title">CISS-日志 Log </a> </h1>
<h3>目录</h3>
<ul>
    <li><a href="#todo_list">1，代办事项-TODO list </a></li>
    <li><a href="#plan_ciss_dev">2，发展计划-系统网站开发 </a></li>
    <li><a href="#plan_research">3，发展计划-策略研究 </a></li>
    <li><a href="#plan_invest">4，发展计划-投资管理 </a></li>
    <li><a href="#done_list">5，已完成事现 </a></li>
</ul>

{% endblock right_frame %} {% block left_frame %}
<h1><a id="location_title">CISS-日志 Log</a> </h1>
<h3>目录</h3>
<ul>
    <li><a href="#todo_list">1，代办事项-TODO list </a></li>
    <li><a href="#plan_ciss_dev">2，发展计划-系统网站开发 </a></li>
    <li><a href="#plan_research">3，发展计划-策略研究 </a></li>
    <li><a href="#plan_invest">4，发展计划-投资管理 </a></li>
    <li><a href="#done_list">5，已完成事现 </a></li>
</ul>
{% endblock left_frame %} {% block menu %} {% endblock menu %} {% block content %}
<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="todo_list">1，代办事项-TODO list</h3>
<p> 制定待办事项的核心逻辑是不要超过3条，并且对应明确的时间。
</p>
<ol>明细：
    <li>202107 | 1，用Vue框架实现展示Excel数据的功能 </li>
    <li>202109 | 2，个人电脑上实现对策略、组合和市场的跟踪</li>
    <li>202110 | 3，挂阿里云网站，外网查看 </li>
</ol>

<h4 id="task-1">1，华融数据库搜集 </h4>


<h4> </h4>

<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="plan_ciss_dev">2，发展计划-系统网站开发</h3>
<p>CISS_web目前需要实现的目标是：1，个人电脑上实现对策略、组合和市场的跟踪；2，用Vue框架实现展示Excel数据的功能 ；3，挂阿里云网站，外网查看

</p>
<ol>
    <li>202107 | 1，用Vue框架实现展示Excel数据的功能 </li>
    <li>202109 | 2，个人电脑上实现对策略、组合和市场的跟踪</li>
    <li>202110 | 3，挂阿里云网站，外网查看 </li>
</ol>
<h4>202107 | 1，用Vue框架实现展示Excel数据的功能 </h4>
<p>实现个人ERP，特别是excel数据的导入和导出
    <br>比如在网页上可以填表单或者导入excel文件，然后可以按筛选条件导出excel文件；
    <br>

</p>

<h4>202110 | 3，挂阿里云网站，外网查看 </h4>
<p>
    阿里云域名注册，fundmanager.top;实例1.9元/h，16gb+200gb，需要配置域名和阿里云实例。https://ecs-cn-zhangjiakou.console.aliyun.com
</p>

<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="plan_research">3，发展计划-策略研究</h3>
<p>策略研究主要包括：个股行业研究、量化研究、基金研究等。个股行业研究主要从定性角度研究行业产业链上下游和公司多个维度的价值和成长性。 量化研究主要从“程序、数据、策略、组合、评估”几个维度。
    <br>发展计划：
</p>
<ol>
    <li>202107 | 1, 基金研究-课题研究：股票基金 </li>
    <li>202109 | 2，量化研究-多因子等 </li>
    <li>202110 | 3，个股行业研究-分行业季报和预期数据跟踪 </li>
    <li>其他 | 股票策略-财务季报选股</li>
</ol>

<h4>202107 | 1,课题研究：股票基金</h4>
<p>计划：202106 完成历史数据的分析框架，和标准方法论的文献综述；file=DFQ2018绩效归因与基金投资分析工具.pdf,

    <br> todo_read:1,file:///D:/TOUYAN/基金_能力评价和投资交易行为仿真/基金仓位与风格估计模型及最新配置信息.pdf
    <br>课题-方法论部分：基金分析方法描述： ，参考 file=DFQ2018绩效归因与基金投资分析工具.pdf
    <br>D:\TOUYAN\1_天风证券金工合集\多因子选股系列报告\ ; 基金仓位与风格估计模型及最新配置信息,基于机构风格追随的业绩增强策略报告
    <br>file:///D:/TOUYAN/1_天风证券金工合集/周报/基金风格配置监控/基金仓位与风格估计模型及最新配置信息_7E13376DB27111BDE0530100007FF8D8_.pdf
    <br>2,file:///D:/TOUYAN/基金_能力评价和投资交易行为仿真/光大证券_金工_FOF系列报告/光大证券-20190308-历史表现优秀的基金业绩能延续吗？——FOF专题系列报告之十一.pdf
    <br>3,file:///D:/TOUYAN/基金_能力评价和投资交易行为仿真/基金仓位与风格估计模型及最新配置信息.pdf
    <br>4,file:///D:/TOUYAN/基金_能力评价和投资交易行为仿真/20200105_金融工程研究_关于组合换手的若干问题.pdf
</p>

<h4>202109 | 2，量化研究-多因子等 </h4>
<p> test_1factor_performance 单因子绩效测试 ；
    <br> test_calculate_factor_weight.py 是计算因子指标的，test_factor_model.py 是计算多因子最优化模型的
    <br>其他：细分行业组合优化：P11/21 各行业板块内基本面指标明细; file=20190804-光大证券-光大证券多因子系列报告之二十三：沪深300指数增强模型构建与测试.pdf;file=东方金工——动态情景多因子Alpha模型——《因子选股系列研究之八》.pdf；，Sorenson, Hua and Qian (2005) 首先提出Dynamic Contextual Alpha的概念，中文叫做动态情景Alpha模型。这个模型摈弃了行业内打分的做法，转而根据股票基本面的属性，比如估值、成长和盈利能力等，把股票分成不同的层面，对每个层面内的股票采用单独的评价体系进行打分或者排序，最后得到每个股票的综合得分。

</p>

<h4>202110 | 3，个股行业研究-分行业季报和预期数据跟踪</h4>
<p>行业研究的研报模板5部分：（1）行业景气度 （2）公司竞争力与经营壁垒 （3）估值和经营情况 （4）成长点和风险点（5）公司内部治理和激励
    <br> 专注于大消费、大传媒含互联网龙头、医疗服务行业：对4个行业下注，2个是市场共识和景气度高行业，2个是逆向策略成长性较高的。
    <br> 研究需求，给定一级行业代码，在行业内选取 EST_PE_FY1 EST_PEG_FY1 EST_ROE_FY0 NET_PROFIT_YOY 指标较优的个股
    <br>个股代办深度：贵州茅台、宋城演艺、永辉超市；1-9，中顺洁柔，1-16，浪潮信息 ；南极电商、宋城演艺、300888全棉时代；
    <br> 奶粉添加剂：嘉必优；复星医药；维生素：新和成vs金丹科技等；6，复星医药，万华化学|| 2，蚂蚁金服vs中国平安,3，腾讯-拼多多，京东；
    <br> 覆盖行业：火锅速食：日辰、雪榕、海欣食品；传媒：蓝色光标、视觉中国；游戏：世纪华通
</p>
<p>选股逻辑：1，覆盖被忽视的潜力股；2，季度业绩加速增长。
    <br>核心是净利润、收入、经营性现金流的前期值、预告值、预期值；需要等财务披露几张表相关的数据都下载完后才能开始测算最新值。
    <br>wind数据表：历史值主要涉及：中国A股公布重要财务指标,中国A股财务指标,中国A股业绩快报,中国A股业绩预告
    <br>{AShareANNFinancialIndicator,AShareFinancialIndicator,AShareProfitExpress,AShareProfitNotice }
    <br>数据todo：每个表生成按披露日期的小表格。
    <br>逻辑和相关性假设：1，业绩增长加速的公司在未来一段时间具有超额收益；业绩增长可以对应roe，也可以是净利润或者收入等。
    <br>指标：根据披露日期，更新业绩增长类的指标，并根据指标对个股进行打分，然后加权计算策略的个股权重，生成模拟组合。
    <br>参考资料：【工具】公司预告发布查询V3.xlsm；path=J:\zd_zxjtzq\rc_reports_cs\rc_研究资料gyrx_2019\gyrx_research
    <br>[历史归母净利润增速（%） 去年同期净利润(亿元) 预告净利润(亿元) 预告净利润增速中值（%） 实际公告增速（%） ]
    <br>市场策略部分：抓2个点：净利润、cf_oper和收入变动、其中亚马逊是典型的只能通过cf_oper 和收入识别成长机会的股票 4.1，从全市场容易忽视的热点结合我司关注的重点出发，



</p>

<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="plan_invest">4，发展计划-投资管理 </h3>
<p>投资管理主要包括：组合和策略、内外部数据的衔接、模拟组合跟踪、市场跟踪等。
    <br>
</p>
<ol>
    <li>202107 | 1, PMS组合和策略、内外部数据的衔接 </li>
    <li>202109 | 2，模拟组合实时跟踪</li>
    <li>202110 | 3，市场跟踪 </li>
</ol>

<h4>

</h4>
<p>
    万家量化已经实现了把策略实盘挂在网站上展示盈亏，靠的时wind-实时行情和画图；说深受3任领导的喜欢。
</p>






<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="done_list">5，已完成事现 </h3>
<p>按日期记录已经完成的事项
    <br>
</p>
<ol>
    <li>20210613 | 1,新建index_log.html文件，梳理ciss_web网页文件目录，制定代办事项和工作计划</li>
    <li>20210613 | </li>
    <li>20210613 | </li>
</ol>









{% endblock content %}