{% extends "base.html" %}
<meta charset="UTF-8">
<!-- for HTML5 -->
<!-- The block items for this base html file is: {nav_sub, left_frame,menu,content } -->
<!-- 设置标题 -->
{% block title0 %} 
   ciss_web首页
{% endblock title0 %}

{% block nav_sub %} 
<!-- layui定义左侧工具栏：第一部分目录 -->
<li style="text-align: center;"><a href="#location_title">CISS首页</a></li>
<!-- notes:class="layui-nav-item"默认是收起的， 加上" layui-nav-itemed"后内容是展开的;  -->
<li class="layui-nav-item">
    <a class="" href="#monitor">目录|Menu</a>
    <dl class="layui-nav-child">
        <dd><a href="#abstract">1，CISS介绍和理念 </a></dd>
        <dd><a href="#ciss_web">2，CISS_web的网站功能 </a></dd>
        <dd><a href="#ciss_research">3，CISS的策略研究 </a></dd>
        <dd><a href="#ciss_invest">3，CISS的投资管理 </a></dd>
        <dd><a href="#ciss_tutorial">5，CISS教程和帮助 tutorial   </a></dd>
    </dl>
</li>

<li>当前日期:{{ time_now_str }}</li>
{% endblock nav_sub %} 
<!--- ################################################################## --->
<!--- ################################################################## --->
{% block left_frame %}
<h1><a id="location_title">CISS首页</a> </h1>
<h3>目录</h3>
<ul>
    <li><a href="#abstract">1，CISS介绍和理念 </a></li>
    <li><a href="#ciss_web">2，CISS_web的网站功能 </a></li>
    <li><a href="#ciss_research">3，CISS的策略研究 </a></li>
    <li><a href="#ciss_invest">3，CISS的投资管理 </a></li>
    <li><a href="#ciss_tutorial">5，CISS教程和帮助 tutorial   </a></li>

</ul>
{% endblock left_frame %} {% block menu %} {% endblock menu %} {% block content %}
<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="abstract">1，CISS介绍和理念</h3>
<p>

</p>


<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ciss_web">2，CISS_web的网站功能</h3>
<ol>
</ol>

<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ciss_research">3，CISS的策略研究</h3>
<ol>
</ol>

<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ciss_invest">3，CISS的投资管理 </h3>
<ol>
</ol>

<hr>
<!-- ---------------------------------------------------------- -->
<h3 id="ciss_tutorial">4，CISS tutorial </h3>

<ol>
    <li><a id="a_nav" href="./docs/5min_ciss.html">5分钟入手 |5 Minutes to CISS</a> </li>
    <li><a id="a_nav" href="./docs/esse_func.html">核心功能 |Essential Functions</a> </li>
    <li><a id="a_nav" href="./docs/data_manage.html">数据管理 |Data Management</a></li>
    <li><a id="a_nav" href="./docs/stra_ana.html">策略分析 |Strategy Analysis</a></li>
    <li><a id="a_nav" href="./docs/port_simu.html">模拟组合 |Portfolio Simulation</a></li>
    <li><a id="a_nav" href="./docs/multi_asset.html">多资产管理 |Multi-Asset Investment</a></li>
    <li><a id="a_nav" href="./docs/stra_eval.html">策略评估及可视化 |Strategy Evaluation and Visualization</a></li>
    <li><a id="a_nav" href="./docs/web_plat.html"><b>策略平台网站 |Strategy Platform as Website</a></li>
    <li><a id="a_nav" href="./docs/update_coop_opensource.html">更新，协作，和开源 |update,cooperation and open source</a></li>

</ol>












<hr>
<!-- ---------------------------------------------------------- -->
<h3>主要文档目录|main directory files：</h3>
<ol>
    <li>system: .\ciss_web\ </li>
    <li>strategy files: .\rc_reports_cs\ </li>
    <li>3rd party reposts: .\TOUYAN\, </li>
    <li>data4ciss : .\CISS_db\ </li>
    <li>data_wind : .\db_wind\ </li>
    <li>data_others : .\db_dzh_dfw\, </li>
    <li>python modules : .\py_modules\, </li>
    <li>sci. papers: .\paper\, </li>
</ol>
<ol>GYRX：
    <li>gyrx相关知识： file_path=D:\TOUYAN\行业分类_产业链量化\研究框架_research_framework\ </li>
    <li> </li>
</ol>



<hr>
<!-- ---------------------------------------------------------- -->












{% endblock content %}